<% show_time ||= false 
   avatar ||= false
%>

<li id="session_<%= session.id %>" class="collection-item <%= 'avatar' if avatar %>">  

  <%= content_tag(:span, session.identifier, class: 'session_identifier') unless session.identifier.blank? %>
  <% if avatar %>
  	<i class="mi circle purple darken-4">dvr</i>
  <% end %>
  <% link_title = session.title.dup %>
  <% link_title << content_tag(:span, session.time_detail("–"), class: 'time') if show_time %>
  <%= link_to link_title.html_safe, apply_proceedings_offering_session_path(@offering.id, session.id) %>

  <% if !@offering.virtual_proceeding || (@current_user != :false && @current_user.admin && @current_user.in_unit?(3)) || Time.current >= @offering.proceeding_public_display_at %>
    <%= content_tag(:span, "(#{session.location})", class: 'location') %>
  <% end %>
  <br>
  <% if show_time %>
	  <span class='smaller'><%= "#{session.presenters_count + session.group_members.count} student presenters" rescue '#error' %></span>
  <% end %>
</li>

