<div class='panel'> 
  <div class='panel_contents'>
    <div class='content-block accountability'>
      <h1><%= @year %> Accountability Reporting Status
          <span class='small light right'>S: Public Service | R: Undergraduate Research | I: Internship </span>
      </h1>

      <table class="borderless">
        <tr class="table-header uw_light_bg_gold">
          <th style='width: 20%;'>Department</th>
          <th colspan="2" style='width: 15%;'>Details</th>

          <% @activity_types.each do |activity_type| %>
            <th class="light-left-border number" style='width: 10%;'>
              <div class="sort-icon">Courses (<%= activity_type.abbreviation %>)</div>
            </th>
            <th class="number" style='width: 10%;'>
              <div class="sort-icon">Individuals (<%= activity_type.abbreviation %>)</div>
            </th>
          <% end %>

          <th class="light-left-border center number" style='width: 5%;'><div class="sort-icon">Users</div></th>
        </tr>

        <% @departments.each do |department, activities| %>
          <tr>
            <td>
              <%= department.is_a?(String) ? department : (department.try(:name) || h(department.inspect)) %>
            </td>

            <td>
              <%= link_to "Courses",
                courses_admin_accountabilities_path(year: @year, department_key: department) %>
            </td>

            <td>
              <%= link_to "Individuals",
                individuals_admin_accountabilities_path(year: @year, department_key: department) %>
            </td>

            <% @activity_types.each do |activity_type| %>
              <% courses_count = activities.dig(activity_type.id, :courses).to_i %>
              <% individuals_count = activities.dig(activity_type.id, :individuals).to_i %>

              <td class="light-left-border center">
                <%= courses_count.zero? ? content_tag(:span, "-", class: "light") : courses_count %>
              </td>

              <td class="center">
                <%= individuals_count.zero? ? content_tag(:span, "-", class: "light") : individuals_count %>
              </td>
            <% end %>

            <td class="light-left-border center">
              <% dept_obj = activities[:department_object] %>
              <% auths = dept_obj&.accountability_coordinator_authorizations %>
              <% users = Array(auths).map(&:login).uniq %>

              <span class="tooltip">
                <%= users.count %>
                <span class="tooltiptext">
                  <strong>Authorized Users:</strong>
                  <%= users.empty? ? "(none)" : users.join(", ") %>
                </span>
              </span>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>  