<div id="login_header"></div>

<div id="account-nav">
	<% if logged_in? %>
		<%= vicariously_logged_in? ? "VICARIOUSLY LOGGED IN AS" : "Logged in as" %>
		<strong><%= (current_user.fullname) %></strong></a>
		<%= "[#{current_user.identity_type}]" if current_user.identity_type %>
		<%= link_to 'Log out of vicarious mode', remove_vicarious_login_path if vicariously_logged_in? %> |
		<%= link_to "Log out", logout_path %>
	<% end %>
</div>

<div id="login">
	
	<h2 id="uw">UW Students, Faculty &amp; Staff</h2>

	  <%= form_tag '/auth/shibboleth' do %>
		<div id="uwnetid">				
			<div id="login_button">	
				<%= link_to image_tag('weblogin.png', :id => "weblogin_logo"), '/auth/shibboleth' %>
				<p><%= submit_tag 'Sign In with UW NetID', :name => 'uwnetid_button', :id => "uwnetid_button" %></p>
			</div>
		</div>	
	  <% end %>
		
	<h2 id="non_uw">All Other Non-UW Users<%#= link_to "All Other Non-UW Users", {remote: true}, data: { link_toggle: "#external_login"} %></h2>

	<%= submit_tag 'Click to Login', id: 'non_uw_button', remote: true, data: { link_toggle: "#external_login"} %>

	<%= form_tag sessions_path, id: 'external_login', style: 'display:none' do %>
	  
	  <p style="margin-top:0px"><i class="material-icons uw_purple">info_outline</i> Only for non-UW community parter, non-UW student, prospective student, or other non-UW user.</p>

		<table>
			<tr>
		  		<td><label for="username">Username </label></td>
		  		<td><%= text_field_tag 'username', params[:username] %></td>
			</tr>
			<tr>
	  			<td><label for="password">Password </label></td>
				<td><%= password_field_tag 'password', params[:password] %></td>
	  		</tr>

	  	 </table>

	 	 <p><%= submit_tag 'Log in' %></p>
	<% end %>

	<div id="login_footer">
		<div id="footer">
			<p id="copyright">
				Copyright &copy; 2007&ndash;<%= Time.now.year %> <a href="http://www.washington.edu" target="_blank">University of Washington</a>.
				Managed by the <a href="http://expd.uw.edu" target="_blank">Center for Experiential Learning &amp; Diversity</a>, a unit of 
				<a href="http://www.washington.edu/uaa/" target="_blank">Undergraduate Academic Affairs</a>.				
			</p>			
		</div>
	</div>

</div>

