<% content_for :title, "Login" %>

<div class="login_header"></div>

<%= render 'account_nav' %>

<div id="login">
	
	<h2 id="uw">UW Students, Faculty &amp; Staff</h2>

	  <%= form_tag '/auth/shibboleth/callback' do %>
		<div id="uwnetid">				
			<div id="login_button">	
				<%= link_to image_tag('weblogin.png', :id => "weblogin_logo"), '/auth/shibboleth/callback' %>
				<p><%= submit_tag 'Sign In with UW NetID', :name => 'uwnetid_button', :id => "uwnetid_button" %></p>
			</div>
		</div>	
	  <% end %>
		
	<h2 id="non_uw">All Other Non-UW Users<%#= link_to "All Other Non-UW Users", {remote: true}, data: { link_toggle: "#external_login"} %></h2>

	<%= submit_tag 'Click to Login', id: 'non_uw_button', data: { link_toggle: "#external_login"} %>

	<%= form_tag sessions_path, id: 'external_login', style: 'display:none' do %>
	  
	  <div class="highlight_box" style="margin-bottom: 1rem;"><i class="material-icons uw_purple">info_outline</i> Only for non-UW community parter, non-UW student, prospective student, or other non-UW user.</div>

		<table>
			<tr>
		  		<td><label for="username">Username </label></td>
		  		<td><%= text_field_tag 'username', params[:username] %></td>
			</tr>
			<tr>
	  			<td><label for="password">Password </label></td>
				<td><%= password_field_tag 'password', params[:password] %></td>
	  		</tr>

	  	</table>
		<p><%= submit_tag 'Log in' %><small style='padding-left:10px'><%= link_to "Forgot username/password?", sessions_forgot_path %></small></p>
		<p><%= link_to "Create a new expo account", signup_path %></p>
	<% end %>

	<%= render 'footer' %>

</div>

