<div id="login_header"></div>

<div id="login">
	
<h2 id="uw">UW Students, Faculty &amp; Staff</h2>

  <%= form_tag '/expo/auth/shibboleth/callback' do %>
	<div id="uwnetid">				
		<div id="login_button">	
			<p><%= submit_tag 'Sign In with UW NetID', :name => 'uwnetid_button', :id => "uwnetid_button" %></p>
			<%#= link_to image_tag('app/weblogin-logo.gif', :id => "weblogin_logo"), '/auth/shibboleth' %>		
		</div>
	</div>	
  <% end %>
	
<h2 id="non_uw">All Other Non-UW Users</h2>
				
  <%= form_tag sessions_path do %>
	<table>
		<tr>
	  		<td><label for="username">Username </label></td>
	  		<td><%= text_field_tag 'username', params[:username] %></td>
		</tr>
		<tr>
  			<td><label for="password">Password </label></td>
			<td><%= password_field_tag 'password', params[:password] %></td>
  		</tr>

  	 </table>

 	 <p><%= submit_tag 'Log in' %></p>
 <% end %>

</div>