<% title "Reset Your Password | EXPO " %>
<div class="login_header"></div>

<div class="session">
<h2><i class="material-icons md-32 uw_purple" style="vertical-align: bottom">lock_open</i> Reset Your Password</h2>
	<p class="small"><i class="material-icons uw_purple">info_outline</i> To reset your password, enter a new one below. Then enter it a second time to confirm. When you're done, click "Reset My Password."</p>

<%= form_for @user do |f| %> 
  <%= render "shared/error_messages", :target => @user %>

  <table>
	<tr>
  		<td style="vertical-align: top;"><label for="password">Password </label></td>
  		<td><%= f.password_field :password, size: 30 %><br>
  			<small class='gray'>This password can be any combination of letters, numbers, and punctuation, but must be at least 6 characters long. </small>
		</td>  		
	</tr>
	<br>
	<tr>
 		<td><label for="password_confirmation">Confirm password </label></td>
		<td><%= f.password_field :password_confirmation, size: 30 %></td>
	</tr>
  </table>  

<p><%= submit_tag 'Reset My Password' %></p>

<% end %>