<% mark_as_confidential @offering.confidentiality_note %>
<% @ready_for_finalization = false %>

<% title "Application Review", "Committee Decisions" %>

<h1>Committee Decisions</h1>
<p>Here are the students for your committee to review. Please input your group score for each application, then click the "Submit our Reviews" button. Your committee scores will appear below. Underneath each number is the average of your committee's scores for each criterion, for comparison.</p>

<% @scores = {:total => 0.0} %>
<% @apps_with_scores_count = 0 %>
<table class="scored_selection">
	<tr class="small left">
		<th width=30%>Student/Project</th>
		<% for review_criterion in @offering.review_criterions.sort %>
			<th width=60 class="center"><%= review_criterion.title %></th>
			<% @scores[review_criterion.id] = 0.0 %>
		<% end -%>
		<th class="center">Total</th>
		<th class="center">Spread/Std. Dev.</th>
		<th>Decision</th>
		<th style="width: 20em">&nbsp;</th>
	</tr>
	
	<%= render :partial => "app", :collection => @apps %>
	
	<tr class="rowset-header">
		<td colspan=<%= @offering.review_criterions.size + 5 %></td>
	</tr>
	
	<tr class="highlightless">
		<td><b>Average Scores</b></td>

		<% for review_criterion in @offering.review_criterions.sort %>
			<td class="center">
				<%= '%.1f' % (@scores[review_criterion.id] / @apps_with_scores_count) %>
			</td>
		<% end -%>
		<td class="center average_score"><%= '%.1f' % (@scores[:total] / @apps_with_scores_count) %></td>
		<td class="spread"></td>
		<td></td>
		<td></td>
	</tr>
	
</table>

<% if @ready_for_finalization && !@do_not_finalize %>
	<div class="yellow box center">
		<h3>Is the committee ready to submit its scores?</h3>
		<blockquote>If you are satisfied with your scores, press the button below to submit your scores as final. Once you click this button, you will not be able to change your scores or comments.</blockquote>
		<%= button_to "Submit our Scores", :action => 'finalize', :commit => 'true' %>
	</div>
<% end -%>

<% sidebar :scoring %>
