<% editable = (editable === false) ? false : true %>

<tr id="course_<%= course.id %>">
	<td width="20%"><%= course.course.short_title %></td>
	<td width="20%"><%= course.course.credit_maximum.to_i==0 ? course.course.credit_minimum : course.course.credit_maximum rescue "error" %> credits</td>
	<td width="20%"><%= pluralize course.course.registrants_count, "student" %></td>
	<td width="20%"><small class="light">Submitted by <strong><%= course.preparer_uw_netid %></strong></small></td>
	<td width="20%">
		<% if editable && course.can_be_edited_by?(@department) && !@accountability_reports[course.activity_type_id].finalized? %>
			<%= link_to_remote "<span>Remove</span>", 
								{:url => accountability_reporting_course_url(@year, course), 
								:method => :delete,
								:confirm => "Are you sure you want to remove this course?",
								:indicator => 'global'},
								:class => 'icon-left no-text trash' %>
		<%- else -%>						
			<small class="light">Reported by <%= course.full_reporting_department_name %></small>
		<% end -%>
		</td>
</tr>
