<% editable = (editable === false) ? false : true %>

<tr id="course_<%= course.id %>" class='borderless'>
	<td width="20%"><%= course.course.short_title %></td>
	<td width="20%"><%= course.course.credit_maximum.to_i==0 ? course.course.credit_minimum : course.course.credit_maximum rescue "error" %> credits</td>
	<td width="20%"><%= pluralize course.course.registrants_count, "student" %></td>
	<td width="25%"><span class="light">Submitted by <strong><%= course.preparer_uw_netid %></strong></span></td>
	<td width="20%">
		<% if editable && course.can_be_edited_by?(@department) && !@accountability_reports[course.activity_type_id].finalized? %>
			<%= link_to "<i class='mi'>delete_forever</i>".html_safe, accountability_reporting_course_path(@year, course),
			                method: :delete,
			                remote: true,
			                data: { confirm: "Are you sure you want to remove this course?", disable_with: "Deleting..."} %>			 
		<% else %>						
			<span class="light">Reported by <%= course.full_reporting_department_name %></span>
		<% end -%>
		</td>
</tr>
