<% title "#{@year} Accountability Reporting" %>

<div class="card content">
	<h5><i class='mi uw_purple'>school</i> <%= @year %> Courses
		<small class="light">&raquo; <%= @department.name %></small>
	</h5>
	<%= raw HelpText.caption :reporting_interface_report_courses_instruction, AccountabilityReport %>
</div>

<% @activity_types.each do |activity_type|  %>
<div class="card content">
	<h6><%= activity_type.title %> Courses</h6>

	<%= render partial: "accountability/reporting/finalized_note" if @accountability_reports[activity_type.id].finalized? %>

	<dl class="inline-definitions">
	  <% @quarters.each do |quarter| %>
	    <% service_learning_courses = @service_learning_courses[activity_type.id][quarter.id] %>

	    <dt>
	      <%= quarter.title %>
	      <br>
	      <span class="light">
	        <%= pluralize(
	              @activities[activity_type.id][quarter.id].size + service_learning_courses.size,
	              "course"
	            ) %>
	      </span>
	    </dt>

	    <dd>
	      <table class='highlight'>
	        <%= render partial: "course",
	                   collection: @activities[activity_type.id][quarter.id] %>

	        <%= render partial: "service_learning_courses",
	                   locals: { service_learning_courses: service_learning_courses } if service_learning_courses.present? %>

	        <% if @activities[activity_type.id][quarter.id].empty? && service_learning_courses.empty? %>
	          <tr class="light borderless" id="empty_<%= quarter.id %>">
	            <td colspan="5">No courses reported</td>
	          </tr>
	        <% end %>
	      </table>
	    </dd>
	  <% end %>
	</dl>
</div>
<% end -%>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/sidebar/navigation" %>
  </div>
<% end %>

<% unless @finalized %>
	<% content_for(:sidebar) do %>
		<div class="sideblock card sidebar_nav">
		<%= render partial: "accountability/reporting/courses/sidebar/add_last_years_courses" %>
		</div>
	<% end  %>
	<% content_for(:sidebar) do %>
		<div class="sideblock card sidebar_nav">
		<%= render partial: "accountability/reporting/courses/sidebar/add_course" %>
		</div>
	<% end  %>

<% end %>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/courses/sidebar/faq" %>
  </div>
<% end %>

