<% title "Mass Add #{@year} Courses" %>
<div class="card content">
	<h5 class="big-icon presentation">Add <%= @year %> Courses</h5>
	<%= raw HelpText.caption :reporting_interface_report_courses_add, AccountabilityReport %>	
</div>

<% @courses.each do |abbrev, results| %>
  <div class="card content icon-left" id="results_<%= abbrev.hash %>">
    <h5>
      You entered <strong>"<%= abbrev %>"</strong>.
      We found
      <%= pluralize(
            results[:courses]&.values&.flat_map(&:values)&.size.to_i,
            "course"
          ) %>.
    </h5>

    <div id="results_form_<%= abbrev.hash %>">
      <% if results[:courses].blank? %>
        <span class="error-message">
          ERROR: <%= results[:message] || "No courses found" %>
        </span>
      <% else %>

        <%= form_tag(
              url: mass_create_accountability_reporting_courses_path(@year),
              method: :put,
              remote: true,
              html: {
                 class: "mass-add-form",
        		 data: { abbrev_hash: abbrev.hash }
              }
            ) do %>

          <table>
            <tr class="small">
              <th>Course/Section</th>
              <% @quarters.each do |quarter| %>
                <th><%= quarter.abbrev %></th>
              <% end %>
            </tr>

            <% results[:courses].each do |course_title, quarters| %>
              <tr>
                <td><%= course_title %></td>

                <% @quarters.each do |quarter| %>
                  <td>
                    <% if quarters[quarter] %>
                      	<% checkbox_id = "course_ids_#{SecureRandom.hex(6)}" %>
	                  	<label>
						  <%= check_box_tag(
						        "course_ids[]",
						        quarters[quarter].id,
						        true,
						        id: checkbox_id,
						        class: "filled-in"
						      ) %>

						  <span>
						    <%= pluralize(
						          quarters[quarter].registrants_count,
						          "student"
						        ) %>
						  </span>
						</label>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>

          <p>
            Activity Type:
            <%= select_tag(
                  :activity_type_id,
                  options_for_select(
                    [["---- Select ----", ""]] +
                      @activity_types.map { |a| [a.title, a.id] },
                    params[:activity_type_id].to_i
                  ),
                  id: "activity_type_id_#{abbrev.hash}",
                  class: "browser-default", style: 'width:20%;'
                ) %>

            <%= submit_tag "Add these courses", class: 'btn' %>

            <span class="error-message" id="error_<%= abbrev.hash %>"></span>
          </p>

          <%= hidden_field_tag :abbrev_hash, abbrev.hash %>
        <% end %>

      <% end %>
    </div>
  </div>
<% end %>

<% if @courses.empty? %>
  <div class="error-message card content">
    <h5>Oops!</h5>
    You didn't enter any courses to add. Please try again.
  </div>
<% end %>
<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/courses/sidebar/done_adding" %>
  </div>
<% end unless @courses.empty? %>
<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/courses/sidebar/faq" %>
  </div>
<% end %>