<% hide ||= [] %>

<tr id="appointment_<%= appointment.id %>" class="notes">
	<td><small class="light"><%=h appointment.start_time.to_s(:time12) %></small></td>
	<td class="contact-type" id="<%=h appointment.contact_type.title if appointment.contact_type %>">
			<span><%=h appointment.contact_type.title if appointment.contact_type %></span>
		</td>
	<td><%=h appointment.staff_person.firstname_first rescue "unknown" %>
		<br><small class=light><%= appointment.unit.name %></small></td>
	<% unless hide.include?(:student) %>
		<td><%=h appointment.student.fullname rescue "unknown" %></td>
	<% end -%>
	<td><%= appointment.checked_in? ? appointment.check_in_time.to_s(:time12) : "<span class=grey>Not checked in</span>" %></td>
	<td><%= link_to "Show", admin_appointment_path(appointment) %></td>
	<td><%= link_to "Edit", edit_admin_appointment_path(appointment) %></td>
	<td><%#= link_to_remote "Destroy", 
					:url => appointment_path(appointment), 
					:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
