<% hide ||= [] %>

<tr id="appointment_<%= quick_contact.id %>" class="quick_contact notes">
	<td><%=h quick_contact.start_time.to_s(:time12) %></td>
	<td class="contact-type" id="<%=h quick_contact.contact_type.title if quick_contact.contact_type %>">
			<span><%=h quick_contact.contact_type.title if quick_contact.contact_type %></span>
		</td>
	<td><%= quick_contact.unit.name %></td>
	<td>Quick Contact</td>
	<td colspan=3></td>
	<td><%#= link_to_remote "Destroy", 
					:url => appointment_path(quick_contact), 
					:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
