  <div class="card">
	<div class="table-header">
		
		<h5>Results<span class="page_info"><%= page_entries_info @scholarships %></span></h5>
			<ul class="scopes right">
				<li <%= 'class=selected' if params[:scope] %>><%= link_to "Upcoming (#{Scholarship.upcoming.size})", scholarships_path(scope: 'upcoming') %></li>
				<li <%= 'class=selected' unless params[:scope] %>><%= link_to "All (#{Scholarship.active.size})", scholarships_path %></li>
			</ul>			
	</div>	
	<table class="responsive-table highlight">
		<thead>
			<tr>
				<th><%= sort_link(@search, :title, default_order: :desc) %></th>
				<th>Class Standing</th>
				<th><%= sort_link(@search, :gpa, default_order: :desc) %></th>
				<th><%= sort_link(@search, :scholarship_deadlines_deadline, "Deadline", default_order: :desc) %></th>
			</tr>
		</thead>
		<tbody>
		<% if @scholarships.empty? %>
		  <tr><td colspan="4">No data found. Please try another search.</td></tr>
		<% end %>

		<% @scholarships.each do |scholarship| %>

			<tr>
				<td width = "60%"><%= link_to scholarship.title, scholarship_path(scholarship.page_stub) rescue scholarship.title %></td>
				<td width = "16%" ><%= scholarship.class_standings(", ") %></td>
				<td width = "8%"><%= scholarship.gpa %></td>
				<td width = "16%" >
					<ul>
						<% scholarship.scholarship_deadlines.each do |d| %>
						<li><%= d.deadline.to_s %></li>
						<% end %>
					</ul>
				</td>
			</tr>

		<% end %>
		</tbody>
	</table>
	<div class="table-footer">
		<%= will_paginate @scholarships %>
	</div>  


</div>