<% title "Scholarship Database | University of Washington" %>

<div class="card content" style="padding-bottom: 0px">
	<h5><%= link_to "UW Office of Merit Scholarships, Fellowships & Awards Scholarships Search", scholarships_path %></h5>

	<div class="row">
	  <%= search_form_for @search do |f| %>
			<div class="input-field col s5">
				<%= f.search_field :title_or_description_or_history_or_eligibility_cont, :placeholder => "Type keywords" %>			
			</div>
			<div class="input-field col s3">
				<%= f.button type: :submit, :class => 'btn waves-effect waves-light' do %>
						<i class="material-icons left">search</i>Search
					<% end %>
			</div>
	  <% end %>
	</div>
</div>


<ul class="collapsible">
  <li class='active'>
	<div class="collapsible-header"><i class="material-icons iconcollapse">expand_more</i>First time searching for scholarships in our database? </div>
    <div class="collapsible-body">
		<i>Using keywords:</i> Each scholarship you apply for might be a good fit for you in a different way. We recommend searching for one keyword at a time. Consider keywords related to your: academic and professional fields of interest, future goals, activities you enjoy, issues you care about, communities you are part of, and identities you hold.

		<p><i>Using filters:</i> The filters will restrict your results to show only scholarships that include ALL the criteria you selected. </p>

		<p>If you want to exclude scholarships in a given category to avoid results for which you will NOT be eligible (i.e. you are not a Washington resident), then make that selection and leave it on for all searches. </p>

		<p>In addition to searching by keywords, if you want to check for scholarships that might specifically apply to you based on the communities you identify with, then select one identity category per search (i.e. LGBTQI community) to see all scholarships related to that identity. You may want to leave the keyword blank or use broad keywords. </p>

		<p>Found all the relevant scholarships on our database? Check out other databases! We can’t list every scholarship out there, so it’s good to check out a few different search platforms.</p>
    </div>
  </li>
</ul>

<%= render 'results' %>
<% sidebar :filters %>
<br>
<small>Any problems or questions about this scholarship search should be sent to <%= auto_link(Unit.find_by_abbreviation('omsfa').email) %>.</small>