<div class="greeting">
  Hi <%= @user.login %>,
</div>

<div class="subject-line">
  Password Reminder
</div>

<div class="divider"></div>

<div class="content">
  <p>In order to reset your password, please click the link below. You may need to copy and paste the link from this email into your web browser.</p>
  
  <p style="margin: 20px 0;">
    <a href="<%= @password_reset_link %>" style="color: #0066cc; text-decoration: underline; word-break: break-all;"><%= @password_reset_link %></a>
  </p>
  
  <p>If you have any questions about this email, please contact our tech staff by replying to this message.</p>
  
  <p>Thank you,<br>
  EXP-Online Staff<br>
  <%= Rails.configuration.constants['center_name'] %><br>
  <%= Rails.configuration.constants['university_name'] %></p>
</div>


