<% task ||= sidebar_task %>

<%= fields_for "tasks[]", task do |task_form| %>
	<tr id="tasks_list_task_<%= task.id %>">
		<td><%= task_form.check_box :complete %>
			</td>

		<td><%= link_to task.title, admin_apply_phase_task_path(@offering, @phase, task) %>
			<% if task.complete? %>
				<br><small class="grey"><%= time_ago_in_words(task.updated_at) %> ago
			<% end %>
		</td>
	</tr>
<% end %>
