<div class="card">
	<div class="table-header">
		<h5>Results<span class="page_info"><%= page_entries_info @scholars, :entry_name => 'Scholar' %></span></h5>
	</div>

	<table class="responsive-table highlight">
		<thead>
			<tr>
				<th><%= sort_link(@search, :person_firstname,  [:person_firstname, :person_lastname], 'Student Name') %></th>
				<th><%= sort_link(@search, :offering_name, 'Type of Scholarship') %></th>
				<th><%= sort_link(@search, :offering_quarter_offered_year, [:offering_quarter_offered_year, :offering_quarter_offered_quarter_code_id], 'Quarter Awarded') %></th>
				<th>Major</th>
				<th>Mentor</th>
			</tr>
		</thead>
		<tbody>
		<% if @scholars.empty? %>
		  <tr><td colspan=5>There are no data found. Please try another search.</td></tr>
		<% end %>

		<% @scholars.each do |scholar| %>

			<tr>
				<td width = '20%'><%= scholar.person.firstname_first(false) %></td>
				<td width = '25%'><%= scholar.offering.name %></td>
				<td width = '15%'><%= scholar.offering.quarter_offered.title rescue scholar.offering.year_offered rescue nil %></td>
				<td width = '20%'><%= scholar.person.majors_list(true, ", ",scholar.offering.quarter_offered) %></td>
				<td width = '20%'>
				<% if scholar.primary_mentor %>
					<%= scholar.primary_mentor.fullname %><%= ", " + scholar.primary_mentor.department unless scholar.primary_mentor.department.blank? %>
				<% end %>
				</td>			
			</tr>

		<% end %>
		</tbody>
	
	</table>
	<div class="table-footer"><%= will_paginate @scholars %></div>
</div>
