<div class="information">
	<span class="smaller light"><i class="material-icons uw_purple">info_outline</i>Switching active/inactive will queue an email notification to faculty</span>
</div>

<table>
	<tr>
		<th>Active</th>
		<td>
			<div class="toggle-bool-switches-container">
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
				<%= link_to({:action => :email_queue, :id => opportunity.id}, method: :put) do %>
					<span id="toggle-research_opportunity-<%= opportunity.id %>-active" class="toggle-bool-switch <%= "on" if opportunity.active? %> notify-success" data-model="research_opportunity" data-object_id="<%= opportunity.id %>" data-field="active" <%= "data-value=true" if opportunity.active? %> data-url="/expo/admin/research_opportunities/<%= opportunity.id %>" data-success_message="Update research opportunity status successfully!">
				</span>
				<% end %>
			</div>
		</td>
	</tr>	
</table>  
    

