<h3 class="sidebar-title">
  <i class="mi">person_add</i> Add User
</h3>

<%= form_tag create_admin_accountability_authorizations_path,
             method: :post,
             remote: true,
             id: "new_authorization_form" do %>
	
	<div class='select input'>
		<label for="department_search">Department:</label>
		<select id="department_search"
        data-autocomplete-url="<%= auto_complete_for_department_admin_accountability_authorizations_path %>"
        style="width:100%"></select>
	</div>
	
	<%= hidden_field_tag :authorizable_key, nil, id: "authorizable_key" %>	

	<div class='string input'>
		<label for="uw_netid">UW NetID:</label>	
		<%= text_field_tag "uw_netid" %>
	</div>
	
	<center><%= submit_tag "Authorize", class: 'small' %></center>
	
	<div class='input'>
		<span class="error-message" id="add_user_error"></span>
		<span class="success-message" id="add_user_success"></span>
	</div>

<% end %>