
<h6><b>Award Details</b></h6>
<p>Number of Awards: <%= @scholarship.num_awards %></p>
<p>Award Amount: <%= @scholarship.award_amount %></p>

<%
  active_deadlines         = @scholarship.scholarship_deadlines.select(&:is_active?)
  active_monthly_deadlines = @scholarship.scholarship_monthly_deadlines.select(&:is_active?)
%>
<% if active_deadlines.any? || active_monthly_deadlines.any? %>
<h6><b>Deadlines</b></h6>
<ul>
	<% @scholarship.scholarship_deadlines.each do |d| %>
		<% if d.is_active? %>
			<li><%= d.deadline.to_s %>: <%= d.title if d.title %></li>
		<% end %>
	<% end %>
	<% @scholarship.scholarship_monthly_deadlines.each do |d| %>
		<% if d.is_active? %>
			<li><%= Date::MONTHNAMES[d.deadline_month] %>: <%= d.title if d.title %></li>
		<% end %>
	<% end %>
</ul>
<% end %>

<% unless @scholarship.blurb.blank? %>
	<h6><b>More Information</b></h6>
	<p><p><%= raw @scholarship.blurb %></p>
<% end %>
