<% general2 = general.sdb.record2 %>

<div class="general-info">

	<strong>General Information</strong>

	<dl class="inline-definitions">
	
		<!-- <dt>college</dt>
		<dd></dd> -->
	
		<dt>Major(s):</dt>
		<% major = general.sdb.majors_list(true, "<br>") %>
		<dd><%= raw major.blank? ? "<span class='empty'>empty</span>" : major %> </dd>

		<dt>Class:</dt>
		<dd><%= general.sdb.class_standing_description rescue nil %></dd>
	
		<dt>Birthdate:</dt>
		<dd><%= general.sdb.birth_date rescue "(unknown)" %></dd>

		<% unless general.sdb.degrees.granted.blank? %>
		  <dt>Degrees Earned:</dt>
		  <dd><%= general.sdb.degrees.collect{|d|d.deg_title.strip.titleize}.join(", ") %></dd>

		  <dt>Degrees Quarter:</dt>
		  <dd><%= general.sdb.degrees.collect{|d|d.quarter.title}.join(", ") %></dd>
		<% end %>
		<!-- <dt>Status:</dt>
		<dd></dd> -->
	
		<!-- <dt>admitted for</dt>
		<dd></dd>
		 -->
		<!-- <dt>holds on record</dt>
		<dd>office, date placed, type</dd>
		 -->
		<dt>High School GPA:</dt>
		<dd><%= general2.high_sch_gpa rescue "(unknown)" %></dd>
	
		<!-- <dt>h.s. subjects</dt>
		<dd></dd>
	
		<dt>placement tests</dt>
		<dd>type, score</dd>
	
		<dt>sat scrores</dt>
		<dd></dd>
	
		<dt>act score</dt>
		<dd></dd> -->
	
		<!-- <dt>UW awards/certs.</dt>
		<dd>award title, year</dd>
	
		<dt>transfer credit</dt>
		<dd></dd>
	
		<dt>extension/ind. study/ap credit</dt>
		<dd></dd> -->
	
		<% unless (general2.transc_comment.blank? rescue true) %>
		<dt>Comment:</dt>
		<dd><%= general2.transc_comment rescue "(unknown)" %></dd>
		<% end -%>
	
	</dl>
	
</div>