<tr class="rowset-header">
	<td colspan=5>Transfer Credit</td>

	<td class="default summary" rowspan=<%= transcript_transfer.courses.count + 1 %>>
		<dl class="inline-definitions">
	
			<dt>Institution:</dt>
			<dd><%= transcript_transfer.institution.name rescue 'unknown' %></dd>

			<dt>Attended:</dt>
			<dd><%= transcript_transfer.year_beginning %>-<%= transcript_transfer.year_ending %></dd>

			<dt>GPA:</dt>
			<dd><%= '%.2f' % transcript_transfer.transfer_gpa rescue "0.00" %></dd>

		</dl>
		</td>
</tr>

<%= render :partial => "admin/students/transcript_transfer_course", :collection => transcript_transfer.courses %>