<tr class="rowset-header">

	<td colspan=5>
		<table class="borderless">
			<tr>
				<td><strong><%= transcript_quarter.quarter.title %></strong></td>

				<td align=right>
					<%= transcript_quarter.majors.collect(&:tran_major_abbr).join(", ") %>
					<%= transcript_quarter.class_standing %>
					</td>
			</tr>
		</table>
	</td>

	<td class="default summary" rowspan=<%= transcript_quarter.courses.count + 1 %>>
			
		<% 
		@qtr_attempted			= transcript_quarter.tenth_day_credits
		@qtr_attempted_graded	= transcript_quarter.qtr_graded_attmp
		@qtr_earned				= transcript_quarter.qtr_graded_attmp + transcript_quarter.qtr_nongrd_earned - transcript_quarter.qtr_deductible
		@qtr_grade_points		= transcript_quarter.qtr_grade_points
		@cum_attempted 			+= @qtr_attempted
		@cum_attempted_graded 	+= @qtr_attempted_graded
		@cum_earned 			+= @qtr_earned
		@cum_grade_points 		+= @qtr_grade_points 	
		 %>
				

		<% if print_only %>
			
			<font size=1.5>
			Quarter Summary
			<br>Qtr. Attempted: <%= @qtr_attempted %> credits (<%= @qtr_attempted_graded %> graded)
			<br>Qtr. Earned: <%= @qtr_earned %> credits
			<br>Qtr. GPA: <strong><%= '%.2f' % (@qtr_grade_points/@qtr_attempted_graded) rescue "0.00" %></strong>
			<br>Cum. Attempted: <%= @cum_attempted %> credits (<%= @cum_attempted_graded %> graded)
			<br>Cum. Earned: <%= @cum_earned %> credits
			<br>Cum. GPA: <%= '%.2f' % (@cum_grade_points/@cum_attempted_graded) rescue "#error" %>
			</font>
			
		<% else %>
		
			<dl class="inline-definitions">
			
				<dt>Qtr. Attempted:</dt>
				<dd><%= @qtr_attempted %> credits 
					(<%= @qtr_attempted_graded %> graded)</dd>
			
				<dt>Qtr. Earned:</dt>
				<dd><%= @qtr_earned %> credits</dd>
			
				<dt>Qtr. GPA:</dt>
				<dd><strong><%= '%.2f' % (@qtr_grade_points/@qtr_attempted_graded) rescue "0.00" %></strong></dd>
			</dl>
		
			<dl class="inline-definitions">
			
				<dt>Cum. Attempted:</dt>
				<dd><%= @cum_attempted %> credits (<%= @cum_attempted_graded %> graded)</dd>
			
				<dt>Cum. Earned:</dt>
				<dd><%= @cum_earned %> credits</dd>
			
				<dt>Cum. GPA</dt>
				<dd><%= '%.2f' % (@cum_grade_points/@cum_attempted_graded) rescue "#error" %></dd>
			
			</dl>
			
		<% end -%>

		<% unless transcript_quarter.scholarship_status.nil? %>
		<% if transcript_quarter.scholarship_type != 0 %>
		<dl class="inline-definitions">
			<dt>Scholarship Status</dt>
			<dd><%= transcript_quarter.scholarship_status.description %></dd>
		</dl>
		<% end %>
		<% end %>
		
		
	</td>

</tr>

<%= render 	:partial => "admin/students/transcript_course", 
			:collection => transcript_quarter.courses,
			:locals => { :transcript_quarter => transcript_quarter } %>
	