<ul class='sherlock-buttons'>
	<li>
		<%= link_to admin_appointments_path do %>
			<i class='material-icons md-48'>schedule</i><br>Appointments
		<% end %>	
	</li>
	<li>
		<%= link_to admin_events_path do %>
			<i class='material-icons md-48'>event</i><br>Events
		<% end %>	
	</li>
	<li>
		<%= link_to admin_offerings_path do %>
			<i class='material-icons md-48'>assignment</i><br>Online Apps
		<% end %>	
	</li>
	<li>
		<%= link_to admin_committees_path do %>
			<i class='material-icons md-48'>group</i><br>Committees
		<% end %>	
	</li>
	<li>
		<%= link_to admin_offerings_path do %>
			<i class='material-icons md-48'>business</i><br>Community Engaged
		<% end %>	
	</li>
	<li>
		<%= link_to admin_templates_path do %>
			<i class='material-icons md-48'>drafts</i><br>Templates
		<% end %>	
	</li>
	<li>
		<%= link_to admin_offerings_path do %>
			<i class='material-icons md-48'>find_in_page</i><br>Queries
		<% end %>	
	</li>
	
</ul>