<div class='panel'>
<h3><i class="mi md-32 uw_purple">visibility</i>  Template Preview 
		<%= link_to "<i class='mi md-16'>edit</i> Edit Template".html_safe, edit_admin_template_path(template), target: '_blank', class: 'button small' %>
</h3>
<div class='panel_contents'>
	<table class='borderless'>
	<% if template.is_a? EmailTemplate %>	
		<tr class="row"><th>To</th><td>(recipient's name)</td></tr>
		<tr class="row"><th>From</th><td><%= template.from %></td></tr>
		<tr class="row"><th>Subject</th><td><%= template.subject %></td></tr>			
	<% else %>	
		<tr class="row"><th>Font</th><td><%= template.font %></td></tr>
		<tr class="row"><th>Margins</th><td><%= template.margins %></td></tr>
	<% end %>
	<tr class="row">
		<th>Body</th>
		<td><%= simple_format(template.body.to_s) %></td>
	</tr>
	</table>
</div>
</div>