<%= title @offering.title, "Request a Printed Proceedings" %>

<%= render :partial => "apply/switch" if @application_count > 1 %>

<h1>Would you like a printed copy of the <em>Proceedings</em>?</h1>

<p>All undergraduate presenters and guests will receive a copy of the Symposium <em>Program</em> at the event (schedule, session information, and presenters, but NOT abstracts) and will be able to access an online copy of the <em>Proceedings</em> (which includes all student abstracts). In the past we have also provided a printed copy of the <em>Proceedings</em> on Symposium Day.  However, in the interest of conserving resources, we are asking if you would like to receive a printed copy.</p>
 
<p>If you wish to receive a printed copy of the <em>Proceedings</em>, please reserve one by Friday, April 24th by clicking below.</p>

<div style="margin-left: 17em">
<% form_for :proceedings, @confirmer, :url => { :action => 'proceedings' } do |f| %>
	
	<%= f.error_messages %>

	<blockquote>

		<p>
			<%= f.radio_button :requests_printed_program, false %>
			<%= f.label :requests_printed_program_false, 
				"No, I will not need a printed copy of the <em>Proceedings</em> and will refer to the online copy." %>
		</p>
			
		<p>
			<%= f.radio_button :requests_printed_program, true %>
			<%= f.label :requests_printed_program_true, 
				"Yes, please reserve me a printed copy of the <em>Proceedings</em> that I can pick up when I check in on Symposium Day." %>
		</p>
	
	</blockquote>

	<p>
		<%= f.submit "Submit", :disable_with => "Submitting..." %>
	</p>
	
<% end -%>
</div>

<div class="progress_nav_buttons">
	<%= button_to "Next: Return to Application Welcome Page →", apply_url(@offering), :method => :get %>
</div>

<%= render :partial => "sidebar", :locals => { :page => 'proceedings' } %>