<%= title @offering.title, "Request Accommodations" %>

<%= render :partial => "apply/switch" if @application_count > 1 %>
<div class='card apply_confirmation'>
  <div class="card-content">
	<h4>Do you have any accommodations requests?</h4>

	<%= textilize ERB.new(@offering.special_requests_text).result(binding) %>
	
	<%= form_for @user_application, as: :requests, :url => { :action => 'requests' } do |f| %>
		
		<%= render "shared/error_messages", :target => @user_application %>
		
		<% if @is_group_member %>
			<br><p class="small warning box"><i class='mi'>warning</i> Only primary applicants can submit special requests. Please contact your group's primary applicant to make changes to this page.
			</p>
		<% else %>

			<% if @offering.confirmation_deadline && Time.now <= @offering.confirmation_deadline %>

				<div class='input-field col s12'>
					<%= f.text_area :special_requests, disabled: @is_group_member, class: 'materialize-textarea wordcounter', data: {limit: 300} %>
					<%= f.label :special_requests, "Please enter your special requests here" %>
					<p class="word_count light"><%= @confirmer.special_requests.blank? ? 0 : @confirmer.special_requests.split.size %> / 300 words</p>
				</div>

				<p class='padding_top'>
					<%= f.submit "Submit", :disable_with => "Submitting...", class: 'btn' %>
				</p>

			<% else %>
				<br> Your accommodations requests: 
				<%= @confirmer.special_requests unless @confirmer.special_requests.blank? %>
				<br><p class="red_color">You've passed the confirmation deadline at <%= @offering.confirmation_deadline.to_s(:date_time12) %>. Please contact <%= @offering.contact_email %> if you need any special requests.</p>
			<% end %>
		<% end %>	
  <% end %>
  </div>

  <div class="card-action center">
		<%= button_to "Next: Return to Your Symposium Dashboard →", apply_url(@offering), :method => :get, class: 'btn' %>
  </div>

</div>

<% content_for(:sidebar) do %>
	<div class="sideblock card confirmation_nav">
		<%= render partial: "apply/sidebar/confirmation_nav", locals: { page: 'requests' } %>
	</div>
<% end %>