<%= title @offering.title, "Indicate Time Conflicts" %>

<%= render :partial => "apply/switch" if @application_count > 1 %>
<div class='card apply_confirmation'>
  <div class="card-content">

  	<%= form_for @user_application, as: :sessions, :url => { :action => 'time_conflicts' } do |f| %>		
		
		<%= render "shared/error_messages", :target => @user_application %>
		<h4>Indicate Time Conflicts:</h4>
		
		<b>The 2025 UW Undergraduate Research Symposium will take place on Friday, May 16, 2025 from 11:00 a.m. to 5:00 p.m.</b><br>
		<p>
			Session times for your selected presentation type are listed below. You are expected to be present for your entire session. If you have an <strong>immoveable</strong> time conflict, please let us know by selecting the sessions you are not able to attend. We will do our best to assign your session time accordingly. <br><br>
			
			<b>If your time conflict is class-related, please contact your professor first to see if accommodations could be made if you were scheduled to present during your class. </b>
		</p><br>

		<% if @offering.confirmation_deadline && Time.now <= @offering.confirmation_deadline %>

			<p>
				<label>
					<%= f.check_box :time_conflicts, {multiple: true, class: 'filled-in', checked: @default_conflicts.include?("No time conflicts")}, "No time conflicts", nil %>
							<span>No time conflicts</span>
				</label>
			</p>
			<% OfferingSession.where(offering_id: @offering.id, offering_application_type_id: @user_application.application_type.id).order(:start_time).group_by{|s| [s.session_group, s.time_detail("-")] }.each do |session_group, offering_sessions| %>
	  			<p>
	  			  <label>
				  		<%= f.check_box :time_conflicts, {multiple: true, class: 'filled-in', checked: @default_conflicts.include?("Session #{session_group[0]}(#{session_group[1]})")}, "Session #{session_group[0]}(#{session_group[1]})", nil %>
							<span>Session <%= session_group[0] %> (<%= session_group[1].strip %>)</span>
				  	</label>
				</p>
			<% end %>
			<label>
			<br>
			<p class='padding_top'>
				<%= f.submit "Submit", :disable_with => "Submitting...", class: 'btn' %>
			</p>
		<% else %>
			<br> Your time conflicts: 
			<%= @confirmer.time_conflicts unless @confirmer.time_conflicts.blank? %>
			<br><p class="red_color">You've passed the confirmation deadline at <%= @offering.confirmation_deadline.to_s(:date_time12) %>. Please contact <%= @offering.contact_email %> if you need to indicate any time conflicts.</p>
		<% end %>
	<% end %>
  </div>
  <div class="card-action center">
	<%= button_to "Next: Request Accommodations →", {:action => 'requests'}, :method => :get, class: 'btn' %>
  </div>
</div>

<% content_for(:sidebar) do %>
	<div class="sideblock card confirmation_nav">
		<%= render partial: "apply/sidebar/confirmation_nav", locals: { page: 'time_conflicts' } %>
	</div>
<% end %>