<%= render partial: "table_header" %>

<% @colleges.sort_by { |k, _v| k == "Other" ? "ZZZZ" : k }.each do |college_name, data| %>
  <% 
    college_total_students = {}
    college_total_quarter = {}
    college_total_hours = {}
    @activity_types.each do |activity_type|
      college_total_students[activity_type] = 0
      college_total_quarter[activity_type] = 0
      college_total_hours[activity_type] = 0
    end
  %>
  <% college_name_shown = false %>

  <% data[:department].sort_by { |k, _v| k == "Unknown" ? "ZZZZ" : k }.each do |department_name, results| %>
    <tr>
      <% unless college_name_shown %>
        <td rowspan="<%= data[:department].size + 1 %>"><%= college_name %></td>
        <% college_name_shown = true %>
      <% end %>
      <td class="light-right-border light-left-border"><%= department_name %></td>

      <% @activity_types.each do |activity_type| %>
        <td align="right"><%= number_with_delimiter(results[activity_type][:total][:students].uniq.size) rescue "" %></td>
        <td align="right"><%= number_with_delimiter(results[activity_type][:quarters].sum { |_q, val| val[:number_of_students] }) rescue "" %></td>
        <td align="right" class="light-right-border"><%= number_with_precision(results[activity_type][:quarters].sum { |_q, val| val[:number_of_hours] }, precision: 0, delimiter: ",") rescue "" %></td>

        <%# Sum the totals for each college %>
        <% college_total_students[activity_type] += (results[activity_type][:total][:students].uniq.size rescue 0) %>
        <% college_total_quarter[activity_type] += (results[activity_type][:quarters].sum { |_q, val| val[:number_of_students] } rescue 0) %>
        <% college_total_hours[activity_type] += (results[activity_type][:quarters].sum { |_q, val| val[:number_of_hours] } rescue 0) %>
      <% end %>
    </tr>
  <% end %>

  <tr>
    <td class="light-right-border light-left-border"><strong>SubTotal:</strong></td>
    <% @activity_types.each do |activity_type| %>
      <td align="right"><strong><%= number_with_delimiter(college_total_students[activity_type]) rescue "" %></strong></td>
      <td align="right"><strong><%= number_with_delimiter(college_total_quarter[activity_type]) rescue "" %></strong></td>
      <td align="right" class="light-right-border"><strong><%= number_with_precision(college_total_hours[activity_type], precision: 0, delimiter: ",") rescue "" %></strong></td>
    <% end %>
  </tr>
<% end %>

<tr class="empty">
  <td colspan="20" style="padding: 20px"></td>
</tr>

<%= render partial: 'table_header', locals: { hide_college_title: true } %>

<!-- Totals -->
<tr class="total">
  <td colspan="2" class="light-right-border">TOTALS:</td>
  <% @activity_types.each do |activity_type| %>
    <td align="center"><%= number_with_delimiter(@reports[activity_type][:total][:number_of_students]) if @reports[activity_type] %></td>
    <td align="center"><%= number_with_delimiter(@reports[activity_type][:total][:student_quarters]) if @reports[activity_type] %></td>
    <td align="center" class="light-right-border"><%= number_with_delimiter(@reports[activity_type][:total][:number_of_hours]) if @reports[activity_type] %></td>
  <% end %>
</tr>