<% title "Accountability" %>
<div class="card content">
<h5><strong>Undergraduate Participation in Public Service, Undergraduate Research, and Internships</strong></h5>

<%= raw(HelpText.caption :public_welcome, AccountabilityReport) %>

<p>A summary of the most recent data appears below. A more detailed report is available by request.</p>

<h6><strong><i class='mi uw_purple'>summarize</i> Data Summary</strong></h6>
<table class='highlight responsive-table outlined-table'>
	<tr>
		<th rowspan=2 colspan=2 class="light-right-border" width="25%">Year</th>
		<% for activity_type in @activity_types %>
			<th colspan=3 class="small center light-right-border">
				<%= activity_type.title %>
				<%#= "<br><span class=\"error-message\">DRAFT DRAFT DRAFT</span>" unless report.finalized? %>
			</th>
		<% end -%>
	</tr>
	<tr class="small center">
		<% for activity_type in @activity_types %>
		<th>Number of students</th>
		<th>Number of student-quarters</th>
		<th class="light-right-border">Number of hours</th>
		<% end -%>
	</tr>
	
	<% @years.reverse.each_with_index do |year, y| %>
	<tr>
		<td colspan=2 class="light-right-border" onClick="window.location='<%= accountability_year_path(year) %>'" style="cursor:hand">
			<strong>
				<%= link_to year.to_s, accountability_year_path(year) %>
				<%= content_tag(:strong, "DRAFT", :class => 'red tag') if @draft_years.include?(year) %>
			</strong>
			<small class="light">(Click for detail)</small>
		</td>

		<% @activity_types.each_with_index do |activity_type, i| %>
			<td align=center><%= number_with_delimiter(@students_data[i][:data][(@years.size-y-1)]) %></td>
			<td align=center><%= number_with_delimiter(@student_quarters_data[i][:data][(@years.size-y-1)]) %></td>
			<td align=center class="light-right-border"><%= number_with_delimiter(@hours_data[i][:data][(@years.size-y-1)]) %></td>
		<% end -%>
		
	</tr>
	<% end -%>
	
</table>

<br class="clear">

<div class="two_column">
	<div id="students_chart_container" class="chart-container half"></div>
	<div id="hours_chart_container" class="chart-container half"></div>
</div>
<br class="clear">
</div>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/sidebar/select_year" %>
  </div>
<% end %>