<div class="page_list on_page">
<ul class="collection with-header">
	<li class='collection-header'>Progress</li>
	<% i = 1 %>
	<li class="collection-item <%= "active" if action_name == 'index' %>">
		<%= link_to "<small class='light'>#{i} </small>Welcome".html_safe, 
					committee_member_path %>
	</li>

	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'availability' %>">
		<%= link_to "<small class='light'>#{i} </small>Update your Availability".html_safe, 
					committee_member_availability_path %>
	</li>

	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'specialty' %>">
		<%= link_to "<small class='light'>#{i} </small>Identify your Specialty".html_safe, 
					committee_member_specialty_path %>
	</li>
	
	<% unless @committee_member.committee_member_meetings.future.empty? %>
	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'meetings' %>">
		<%= link_to raw("<small class='light'>#{i} </small>#{@committee.meetings_alt_title.blank? ? "Meetings &amp; Trainings" : @committee.meetings_alt_title}"), 
					committee_member_meetings_path %>
	</li>
	<% end %>
		
	<% offering_id = @committee_member.committee.interview_offering_id %>
	<% unless offering_id.blank? %>

	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'welcome' %>">
		<%= link_to "<small class='light'>#{i} </small>Input your Recusal".html_safe,
			offering_interviewer_path(:offering => offering_id,		 
							 :committee => @committee_member.committee,
							 :no_meeting => @committee_member.committee_member_meetings.future.empty?) %>
	</li>	
	
	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'interview_availability' %>">
		<%= link_to "<small class='light'>#{i} </small>Input your Availability for Interviews".html_safe, interviewer_availability_path(:offering => offering_id, 							 
							 :committee => @committee_member.committee, 
							 :no_meeting => @committee_member.committee_member_meetings.future.empty?) %>
	</li>
	
	<% end %>	
	
	<% i += 1 %>
	<li class="collection-item <%= "active" if action_name == 'complete' %>">
		<%= link_to "<small class='light'>#{i} </small>Complete".html_safe, 
					committee_member_complete_path %>
	</li>

	
</ul>
</div>