<%# klass = "attending" if shift.signed_up?(@current_user.person) %>
<% blur_if_signed_up ||= false %>
<% klass = "signed_up" if blur_if_signed_up && shift.signed_up?(@current_user.person) %>
<% return_to ||= {} %>

	<td class="<%= klass %>"><%= shift.time_detail(:date_only => true) %></td>
	
	<td class="<%= klass %>"><%= shift.time_detail(:time_only => true) %></td>

	<% if shift.signed_up?(@current_user.person) %>

		<% if position.require_all_shifts && position.shifts.sort.first == shift %>
			<td rowspan=<%= position.shifts.size %> class="<%= klass %>">
				<%= button_to "Cancel my signup (all shifts)", 
								volunteer_unsignup_path(@event, { :position_id => position }.merge(return_to)),
								{ method: :delete, class: 'btn' } %>
			</td>
		<% elsif position.require_all_shifts && position.shifts.sort.first != shift %>
			<!-- nothing -->
		<% else %>
			<td class="<%= klass %>">
				<%= button_to "Cancel my signup", 
								volunteer_unsignup_path(@event, { :shift_id => shift }.merge(return_to)),
								{ method: :delete, class: 'btn' } %>
			</td>
		<% end -%>	

	<%- else -%>

		<% if !shift.overlapping_shifts.select{|s| s.signed_up?(@current_user.person)}.empty? %>			
			<td><p class='gray'>Overlaps with other signed up shifts</p></td>
			
		<% elsif position.require_all_shifts && position.shifts.sort.first == shift %>
			<td rowspan=<%= position.shifts.size %> class="<%= klass %>">
				<%= button_to "Sign up (all shifts)", 
								volunteer_signup_path(@event, { :position_id => position }.merge(return_to)),
								{ method: :put, class: 'btn' } %>
		<% elsif position.require_all_shifts && position.shifts.sort.first != shift %>
			<!-- nothing -->
			</td>
		<% else %>
			<td class="<%= klass %>">
				<%= button_to "Sign up", 
								volunteer_signup_path(@event, { :shift_id => shift }.merge(return_to)),
								{ method: :put, class: 'btn' } %>
			</td>
		<% end -%>
			
	<% end -%>
	
	</td>
</tr>
<tr>
