<% title "Create New Account | EXPO" %>

<div class="login_header"></div>

<div class="session">
	<h2><i class="material-icons md-32 uw_purple" style="vertical-align: bottom">account_circle</i> Create New Account</h2>
	<p class="small"><i class="material-icons uw_purple">info_outline</i> If you are a UW member, NO need to create any accounts and <a href="/auth/shibboleth/callback">log in with your UW NetID</a>.</p>

	<%= form_for :user, :url => {action: 'create'} do |f| %>

	<%= render "shared/error_messages", :target => @user %>

		<table id='signup'>
			<tr>
		  		<td><label for="username">Username <abbr title="required">*</abbr></label></td>
		  		<td><%= f.text_field :login %></td>
			</tr>
			<tr>
	  			<td><label for="password">Password <abbr title="required">*</abbr></label></td>
				<td><%= f.password_field :password %></td>
	  		</tr>
	  		<tr>
		  		<td><label for="username">Confirm password <abbr title="required">*</abbr></label></td>
		  		<td><%= f.password_field :password_confirmation %></td>
			</tr>

			<%= fields_for "user[person_attributes]", (@user.person || Person.new) do |person_fields| %>
			<%= render :partial => "shared/person_fields", 
					   :object => person_fields,
					   :locals => { :show_address_fields => :false, :show_title_field => :false, :show => [] } %>
			<% end %>

	  	 </table>

		<%= f.invisible_captcha :phone %>
		<!-- <div class="form-group"> <%#= recaptcha_tags site_key: ENV["RECAPTCHA_V2_CHECKBOX_SITE_KEY"] %> </div> -->
		<%= f.submit 'Sign up' %>
		<small style='padding-left:10px'><%= link_to "â† Back to Login Screen", login_url %></small>
	  <% end %>	 

	<%= render 'sessions/footer' %>

</div>
