
<%= form_for([:admin, @email_queue]) do |f| %>

	<fieldset class="inputs">
		<div class="email_preview string input">
			<table class='borderless'>
				<tbody>
					<tr class="row">
						<th>From</th>
						<td><%= text_field_tag "email_queue[email][from]", @email_queue.email_from %></td>
					</tr>
					<tr class="row">
						<th>Subject</th>
						<td><%= text_field_tag "email_queue[email][subject]", @email_queue.email.subject %></td>
					</tr>
					<tr class="row">
						<th>To</th>
						<td><%= text_field_tag "email_queue[email][to]", @email_queue.email_to %></td>
					</tr>
					<tr class="row">
						<th>Cc</th>
						<td><%= text_field_tag "email_queue[email][cc]", @email_queue.email.cc %></td>
					</tr>
					<tr class="row">
						<th>Bcc</th>
						<td><%= text_field_tag "email_queue[email][bcc]", @email_queue.email.bcc %></td>
					</tr>
					<tr class="row text input">
						<th>Body</th>
						<td><%= text_area_tag "email_queue[email][body]", EmailBodyExtractor.extract(@email_queue.email)[:text], rows: 20, cols: 145 %></td>
					</tr>
				</tbody>				
			</table>
		</div>
	</fieldset>

	<fieldset class="actions">
		<ol><li class="action input_action " id="email_queue_submit_action">
				<%= f.submit "Update Email Queue" %>			
			</li>
			<li class="cancel"><%= link_to 'Cancel', admin_email_queue_path(@email_queue) %></li>
		</ol>
	</fieldset>

<% end %>