<div class='panel'>	
	<h3>Email Details</h3>
	<div class='panel_contents'>
		<div class="attributes_table email_queue"> 
			<table class='borderless'>
				<tbody>
					<tr class="row">
						<th>To</th>
						<td><%= queue.email_to rescue "" %></td>
					</tr>
					<tr class="row">
						<th>From</th>
						<td><%= queue.email_from rescue "" %></td>
					</tr>
					<tr class="row">
						<th>Subject</th>
						<td><%= queue.email.subject || "" %></td>
					</tr>
					<tr class="row">
						<th>Cc</th>
						<td><%= queue.email.cc.join(',') rescue "" %></td>
					</tr>
					<tr class="row">
						<th>Bcc</th>
						<td><%= queue.email.bcc.join(',') rescue "" %></td>
					</tr>
					<tr class="row">
						<th>Body</th>
						<td><%= simple_format(queue.email.body.to_s) %></td>
					</tr>
				</tbody>				
			</table>
		</div>		
	</div>
</div>		