<h6><b>Download a Review Packet</b></h6>

<div id="multi_composite_report_instructions">
	<p>You can create a full review packet if you would prefer to take the files with you while traveling offline, or to print them.</p>

	<p><%= link_to " <i class='mi md-18'>picture_as_pdf</i> Generate a Review Packet".html_safe, '#modal_multi_composite_report_maker', class: 'waves-effect waves-light btn-small modal-trigger' %>
	</p>
</div>

<div id="modal_multi_composite_report_maker" class='modal'>
  <%= form_tag multi_composite_report_path, method: :post do %>
			<div class="modal-content">
	      <h6>Which parts of the application would you like included?</h6>
	        <p>
	        	 <label>
	        	  	<%= check_box_tag "include[scoring]", true %>
					 <span>Scoring Sheet</span>
					 </label>
	        </p>
	        <p>
	        	 <label>
	        	  	<%= check_box_tag "include[application_review]", true %>
					 <span>Application Details</span>
					 </label>
	        </p>
	        <p>
	        	 <label>
	        	  	<%= check_box_tag "include[files]", true %>
					 <span>Essay and Files</span>
					 </label>
	        </p>
	        <p>
	        	 <label>
	        	  	<%= check_box_tag "include[mentor_letters]", true %>
					 <span>Mentor Letters</span>
					 </label>
	        </p>
	        <p>
	        	 <label>
	        	  	<%= check_box_tag "include[transcript]", true %>
					 <span>Transcript</span>
					 </label>
	        </p>
	        <h6>Which format would you prefer?</h6>
	        <p>
		        <label>
		        	<%= radio_button_tag :report_format, "pdf", true, class: "with-gap" %>	
		        	<span><i class="mi md-22" id="pdf">picture_as_pdf</i> In a single PDF file</span>
		        </label>
		    </p>
		    <p>
		        <label>
		        	<%= radio_button_tag :report_format, "zip", false, class: "with-gap" %>	
		        	<span><i class="mi md-22" id="zip">folder_zip</i>  A .zip file with a separate PDF file for each application</span>
		        </label>
		    </p>
	    </div>
	    <div class="modal-footer">
	    	
					
	    	<center>
	    		<%= button_tag type: 'submit', class: 'btn-small', :disable_with => "Please wait..." do %>
						<i class='mi md-18'>download</i> Generate my Review Packet
					<% end %>
					<%# <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>%></center>
	    </div>		
  <% end %>

</div>