<% show_student_fields ||= false %>
<% show_address_fields = show_address_fields == :false ? false : true %>
<% show_salutation_field = show_salutation_field == :false ? false : true %>
<% show_title_field = show_title_field == :false ? false : true %>
<% not_self ||= false %>
<% show ||= [:phone] %>
<% obj = person_fields.object %>

<% if obj.is_a? Student %>
	<p class="smaller">
		Note: Some contact information below has been pulled from the Student Database and therefore cannot be edited.
	</p>
<% end -%>

<% if show_salutation_field %>
  <tr>	
	<td><label for="lastname">Salutation </label></td>	
	<td><%= person_fields.select :salutation, %w( Mr. Mrs. Ms. Miss Professor Dr. Hon. Rev. ) , {:prompt => true} %>
		</td>
<% end %>

<% if obj.nil? || obj.new_record? || obj.firstname.blank? || obj.lastname.blank?  %>
  <tr>
	<td><label for="firstname">First name <abbr title="required">*</abbr></label></td>
	<td><%= obj.is_a?(Student) ? obj.formal_firstname : person_fields.text_field(:firstname) %></td>
  </tr>
  <tr>	
	<td><label for="lastname">Last name <abbr title="required">*</abbr></label></td>
	<td><%= obj.is_a?(Student) ? obj.lastname : person_fields.text_field(:lastname) %></td>
  </tr>
<% else %>
	<dt>name</dt>
	<dd>
		<%= obj.firstname_first %>
		<small><%#= link_to_function "(Change #{"my" unless not_self} name)", 
									"Effect.toggle('name_fields', 'blind', {duration: 0.25})" unless obj.is_a?(Student) %></small>
	
		<div id="name_fields" class="box" style="display: none">
			<p class="small warning">Only change <%= not_self ? "this person's" : "your" %> 
				name if <%= not_self ? "he or she is" : "you're" %> the same person. <br>
				<strong>If <%= not_self ? "he or she isn't" : "you aren't" %> <%= obj.firstname_first %>, 
				then you should <%= not_self ? "create a new account" : link_to("create a new account", signup_path) %>
				instead.</strong><br>Contact our staff for assistance if you need help.
			</p>
			<br>
			<p>
			New first name:
			<%= obj.is_a?(Student) ? obj.formal_firstname : person_fields.text_field(:firstname) %>

			<br>

			New last name:
			<%= obj.is_a?(Student) ? obj.lastname : person_fields.text_field(:lastname) %>
			</p>
	
		</div>
		</dd>
<% end %>


<% if obj.is_a?(Student) %>
	<dt>pref. firstname</dt>
	<dd><%= person_fields.text_field :nickname %>
		<br><small class="light">If you prefer to be called something other than <strong><%= obj.formal_firstname %></strong>, enter it here.</small>
		</dd>
<% end %>

<% if show_title_field %>
	<dt>title</dt>
	<dd><%= person_fields.text_field :title %></dd>
<% end -%>

<% if show.include?(:other_department) %>
	<dt>department</dt>
	<dd><%= person_fields.text_field :other_department %></dd>
<% end %>

<% if show.include?(:organization) %>
	<dt>organization/<br>institution</dt>
	<dd><%= person_fields.text_field :organization %></dd>
<% end %>

<tr>
	<td><label for="email">Email <abbr title="required">*</abbr></label></td>
	<td><%= obj.is_a?(Student) ? obj.email : person_fields.text_field(:email) %></td>
</tr>

<% if show.include?(:phone) %>
	<dt>phone</dt>
	<dd><%= person_fields.text_field :phone %></dd>
<% end %>

<% if show.include?(:box_number) %>
	<dt>box number</dt>
	<dd><%= person_fields.text_field :box_no %></dd>
<% end %>


<% if show_address_fields %>
	<dt>address</dt>
	<dd><small>Line 1:</small> <%= person_fields.text_field :address1 %>
		<br><small>Line 2:</small> <%= person_fields.text_field :address2 %>
		<br><small>Line 3:</small> <%= person_fields.text_field :address3 %>
		<br><small>City:</small> <%= person_fields.text_field :city, :size => 15 %>,
			<%# person_fields.object.state ||= "Washington" %>
			<small>State:</small> <%= person_fields.state_select :state, 'US', :include_blank => true %>
			<small>Zip:</small> <%= person_fields.text_field :zip, :size => 10 %></dd>
<% end %>

<% if show_student_fields && !obj.is_a?(Student) %>	
	<dt>university</dt>
	<% institutions = @offering ? @offering.invited_institutions : Institution.all %>
	<dd><%= person_fields.collection_select :institution_id, 
								institutions.sort,
								:id,
								:name,
								:include_blank => true %></dd>
								
	<dt>majors</dt>
	<dd>
		Major 1: <%= person_fields.text_field :major_1 %>
		<br>Major 2: <%= person_fields.text_field :major_2 %>
		<br>Major 3: <%= person_fields.text_field :major_3 %>
	</dd>

	<dt>class</dt>
	<dd>
		<%= person_fields.collection_select :class_standing_id, ClassStanding.undergraduate, :id, :description, :prompt => true %>
	</dd>

<% end %>

<% if show_student_fields && obj.is_a?(Student) %>	
	<dt>university</dt>
	<dd><%= Rails.configuration.constants[:university_name] %></dd>
								
	<dt>majors</dt>
	<dd><%= obj.majors_list rescue "#error" %></dd>

	<dt>class</dt>
	<dd><%= obj.class_standing_description rescue "#error" %></dd>

<% end %>