<% show_student_fields ||= false %>
<% show_address_fields = show_address_fields == :false ? false : true %>
<% show_salutation_field = show_salutation_field == :false ? false : true %>
<% show_title_field = show_title_field == :false ? false : true %>
<% not_self ||= false %>
<% show ||= [:phone] %>
<% obj = person_fields.object %>

<% if obj.is_a? Student %>
	<p class="smaller">
		Note: Some contact information below has been pulled from the Student Database and therefore cannot be edited.
	</p>
<% end -%>

<% if show_salutation_field %>
  <tr>
		<td><label for="salutation">Salutation </label></td>
		<td>
				<%= person_fields.select :salutation, %w( Mr. Mrs. Ms. Miss Professor Dr. Hon. Rev. ) , {:prompt => true}, class: 'browser-default' %>
		</td>
<% end %>

<% if obj.nil? || obj.new_record? || obj.firstname.blank? || obj.lastname.blank?  %>
  <tr>
		<td><label for="firstname">First name <abbr title="required">*</abbr></label></td>
		<td><%= obj.is_a?(Student) ? obj.formal_firstname : person_fields.text_field(:firstname) %></td>
  </tr>
  <tr>	
		<td><label for="lastname">Last name <abbr title="required">*</abbr></label></td>
		<td><%= obj.is_a?(Student) ? obj.lastname : person_fields.text_field(:lastname) %></td>
  </tr>
<% else %>
  <tr>
		<td><label for="name">Name</label></td>
		<td>
				<%= obj.firstname_first %>
				<small><%= link_to "(Change #{"my" unless not_self} name)", "javascript:;", data: { link_toggle: "#name_fields"} unless obj.is_a?(Student) %></small>

				<div id="name_fields" class="highlight_box" style="display: none">
					<i class="material-icons uw_purple middle_align">warning</i>
					<small>Only change <%= not_self ? "this person's" : "your" %>
						name if <%= not_self ? "they are" : "you're" %> the same person. <br>
						<strong>If <%= not_self ? "they aren't" : "you aren't" %> <%= obj.firstname_first %>,
						then you should <%= not_self ? "create a new account" : link_to("create a new account", signup_path) %>
						instead.</strong><br>Contact our staff for assistance if you need help.
					</small>
					<p>
					New first name:
					<%= obj.is_a?(Student) ? obj.formal_firstname : person_fields.text_field(:firstname) %>

					<br>

					New last name:
					<%= obj.is_a?(Student) ? obj.lastname : person_fields.text_field(:lastname) %>
					</p>
			
				</div>
		 </td>
	</tr>
<% end %>


<% if obj.is_a?(Student) %>
	<tr>
		<td><label for="pref_firstname">Preferred Firstname</label></dt>
		<td><%= person_fields.text_field :nickname %>
			<br><small class="light">If you prefer to be called something other than <strong><%= obj.formal_firstname %></strong>, enter it here.</small>
		</td>
	</tr>
<% end %>

<% if show_title_field %>
  <tr>
		<td><label for='title'>Title</label></td>
		<td><%= person_fields.text_field :title %></td>
	</tr>
<% end %>

<% if show.include?(:other_department) %>
	<tr>
		<td><label for='department'>department</label></td>
	  <td><%= person_fields.text_field :other_department %></td>
  </tr>
<% end %>

<% if show.include?(:organization) %>
	<tr>
		<td><label>organization/<br>institution</label></td>
		<td><%= person_fields.text_field :organization %></td>
	</tr>
<% end %>

<tr>
	<td><label for="email">Email <abbr title="required">*</abbr></label></td>
	<td><%= obj.is_a?(Student) ? obj.email : person_fields.text_field(:email) %></td>
</tr>

<% if show.include?(:phone) %>
	<tr>
	<td><label for='phone'>Phone</label></td>
	<td><%= person_fields.text_field :phone %></td>
  </tr>
<% end %>

<% if show.include?(:box_number) %>
	<tr>
		<td><label>box number</label></td>
		<td><%= person_fields.text_field :box_no %></td>
	</tr>
<% end %>


<% if show_address_fields %>
  <tr>
		<td><label for='address'>Address</label></td>
		<td>Line 1: <%= person_fields.text_field :address1 %>
			<br>Line 2: <%= person_fields.text_field :address2 %>
			<br>Line 3: <%= person_fields.text_field :address3 %>
			<br>City: <%= person_fields.text_field :city, size: 15 %>
				State: <%= person_fields.select :state, US_STATES, { include_blank: true }, class: 'browser-default' %>
				Zip: <%= person_fields.text_field :zip, size: 10 %></td>
  </tr>
<% end %>

<% if show_student_fields && !obj.is_a?(Student) %>	
	<dt>university</dt>
	<% institutions = @offering ? @offering.invited_institutions : Institution.all %>
	<dd><%= person_fields.collection_select :institution_id, 
								institutions.sort,
								:id,
								:name,
								:include_blank => true %></dd>
								
	<dt>majors</dt>
	<dd>
		Major 1: <%= person_fields.text_field :major_1 %>
		<br>Major 2: <%= person_fields.text_field :major_2 %>
		<br>Major 3: <%= person_fields.text_field :major_3 %>
	</dd>

	<dt>class</dt>
	<dd>
		<%= person_fields.collection_select :class_standing_id, ClassStanding.undergraduate, :id, :description, :prompt => true %>
	</dd>

<% end %>

<% if show_student_fields && obj.is_a?(Student) %>	
	<dt>university</dt>
	<dd><%= Rails.configuration.constants[:university_name] %></dd>
								
	<dt>majors</dt>
	<dd><%= obj.majors_list rescue "#error" %></dd>

	<dt>class</dt>
	<dd><%= obj.class_standing_description rescue "#error" %></dd>

<% end %>