<% app_reviewers = @app.reviewers
   committee_quarter = CommitteeQuarter.find_by(committee_id: @app.offering.review_committee.try(:id), quarter_id: @offering.quarter_offered) || Quarter.current_quarter
%>

<% @offering_reviewers = CommitteeMember.active_for(committee_quarter.id) %>

<table class='borderless'>
	<tr class="header">
		<td>Reviewer</td>
		<% if @offering.uses_scored_review? %>
			<% for review_criterion in @offering.review_criterions.sort %>
				<td width='100'><%= review_criterion.title %></td>
			<% end %>
			<td width='100'>Total</td>
			<td>Finalized?</td>
		<% end %>
	</tr>
	
	<%= render :partial => "admin/applications/applicant_reviewer", :collection => @app.reviewers %>
	
	<% if @offering.uses_scored_review? %>
	<tr class="total">
		<td>Average Scores:
			<small class="light">(Does not include committee)</small></td>
		<% for review_criterion in @offering.review_criterions.sort %>
			<td><strong><%= '%.2f' % @app.average_score(review_criterion) %></strong></td>
		<% end %>
		<td colspan=2><%= '%.2f' % @app.average_score %></td>
	</tr>
	<% end %>

	<% if app_reviewers.blank? %>
		<tr class="empty">
			<td colspan=<%= @offering.review_criterions.size + 3 %>>
				No reviewers assigned.
			</td>
		</tr>
	<% end %>
</table>	
<br>
<% unless @offering_reviewers.blank? %>
	<span id="assign_reviewer" class='left'>
		<%= form_for @app, as: :application, url: admin_application_path(@app.id), method: 'patch', remote: true do |f| %>
			<%= f.label :new_reviewer, "Add Another Reviewer:" %>
			<%= f.collection_select :new_reviewer,
									@offering_reviewers,
									:id,
									'fullname' ,
									{prompt: true },
									{class: "select2"} %>
			<%= f.submit "Add", class: 'small'  %>
		<% end %>
	</span>
<% end %>
<% unless app_reviewers.blank? %>
	<span id="drop_reviewer" class='left' style='padding-left: 1rem;'>
		<%= form_for @app, as: :application, url: admin_application_path(@app.id), method: 'patch', remote: true do |f| %>
			<%= f.label :remove_reviewer, "Drop a Reviewer:" %>
			<%= f.collection_select :remove_reviewer, 
									@app.reviewers.reject{|r|r.committee_member_id.nil?},
									:committee_member_id,
									'fullname',
									{prompt: true },
									{class: "select2"} %>
			<%= f.submit "Drop", :confirm => 'Are you sure you want to drop this reviewer ?', class: 'small'  %>
			
		<% end %>
	</span>
<% end %>
<br class='clear'>