<% perspective ||= 'applicant' %>

<tr <%= "class=unavailable" if @offering.uses_scored_review? && !applicant_reviewer.finalized? %>>
	<td>
		<% if perspective == 'reviewer' %>
			<%= link_to applicant_reviewer.application_for_offering.fullname, admin_offering_application_path(@offering.id, applicant_reviewer.application_for_offering.id), target: '_blank' %>

		<% elsif !applicant_reviewer.committee_member.nil? %>
			
			<%= link_to_unless applicant_reviewer.committee_score?,
			 			(applicant_reviewer.committee_score? ? "Committee" : applicant_reviewer.fullname),
			 			admin_committee_member_path(applicant_reviewer.committee_member.committee,
															applicant_reviewer.committee_member), target: '_blank' %>
		<% else %>

			<%= applicant_reviewer.committee_score? ? "Committee" : applicant_reviewer.fullname rescue 'Error!' %>
		<% end %>
		
		<%= content_tag(:span, applicant_reviewer.committee_member_type.name, :class => 'light') rescue nil %>
	</td>

	<% if @offering.uses_scored_review? %>
		<% if applicant_reviewer.started_scoring? %>	
	
			<% for review_criterion in @offering.review_criterions.sort %>
				<td class="center">					
					<span class="tooltip"><%= applicant_reviewer.get_score(review_criterion) %>
  						<span class="tooltiptext"><%= simple_format("Comments:<br> #{applicant_reviewer.get_comment(review_criterion)}") %></span>
					</span>
					<small class="light">
						<% if perspective == 'reviewer' %>
							<%= "/ " + '%.2f' % applicant_reviewer.application_for_offering.average_score(review_criterion) %>
						<% else %>
							<%= "/ " + '%.2f' % applicant_reviewer.reviewer_average_score(review_criterion) unless applicant_reviewer.committee_score? || applicant_reviewer.reviewer_average_score(review_criterion).nil? %>
						<% end %>
					</small>
				</td>
			<% end %>
			<td class="center">			
				<span class="tooltip"><%= applicant_reviewer.total_score %>
					<span class="tooltiptext"><%= simple_format("Comments:<br> #{applicant_reviewer.comments}") %></span>
				</span>

				<small class="light"> 
					<% if perspective == 'reviewer' %>
						<%= "/ " + '%.2f' % applicant_reviewer.application_for_offering.average_score %>
					<% else %>
						<%= "/ " + '%.2f' % applicant_reviewer.reviewer_total_average_score unless applicant_reviewer.committee_score? %>
					<% end %>
				</small>
			</td>
			<td>
				<div class="toggle-bool-switches-container align_left">
					<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
					<span id="toggle-application_reviewer-<%= applicant_reviewer.id %>-finalized" 
						class="toggle-bool-switch <%= "on" if applicant_reviewer.finalized? %>" 
						data-model="application_reviewer"
						data-object_id="<%= applicant_reviewer.id %>" 
						data-field="finalized" <%= "data-value=true" if applicant_reviewer.finalized? %>
						data-url="<%= admin_application_reviewer_path(applicant_reviewer.id) %>">
					</span>
				</div>
			</td>

		<% else %>
	
			<td colspan=<%= @offering.review_criterions.size + 2 %> class="light center" style="padding:auto">Not yet reviewed.</td>
		
		<% end %>
	<% end %>
	
</tr>
