<table class='borderless'>
	<tr class="header">
		<td>Reviewer</td>
		<% if @offering.uses_scored_review? %>
			<% for review_criterion in @offering.review_criterions.sort %>
				<td width='100'><%= review_criterion.title %></td>
			<% end %>
			<td width='100'>Total</td>
			<td>Finalized?</td>
		<% end %>
	</tr>
	
	<%= render :partial => "applicant_reviewer", :collection => @app.reviewers %>
	
	<% if @offering.uses_scored_review? %>
	<tr class="total">
		<td>Average Scores:
			<small class="light">(Does not include committee)</small></td>
		<% for review_criterion in @offering.review_criterions.sort %>
			<td><strong><%= '%.2f' % @app.average_score(review_criterion) %></strong></td>
		<% end %>
		<td colspan=2><%= '%.2f' % @app.average_score %></td>
	</tr>
	<% end %>

	<% if @app.reviewers.empty? %>
		<tr class="empty">
			<td colspan=<%= @offering.review_criterions.size + 3 %>>
				No reviewers assigned.
			</td>
		</tr>
	<% end %>
	
	<% unless @app.offering.reviewers_for(@app).blank? %>
		<tr>
			<td colspan=<%= @offering.review_criterions.size %>>
				<div id="assign_reviewer">
					<%= form_for @app, :url => { :action => 'update', :id => @app.id }, remote: true do |f| %>
						<%= f.label :new_reviewer, "Add Another Reviewer:" %>
						<%= f.collection_select :new_reviewer,
												@app.offering.reviewers_for(@app).sort,
												:id,
												'fullname' %>
						<%= f.submit "Add", class: 'small' %>
					<% end %>
				</div>				
			</td>
	<% end %>
	<% unless @app.reviewers.blank? %>
		<td colspan = 3>
			<div id="drop_reviewer">
				<%= form_for @app, :url => { :action => 'update', :id => @app.id }, remote: true do |f| %>
					<%= f.label :remove_reviewer, "Drop a Reviewer:" %>
					<%= f.collection_select :remove_reviewer, 
											@app.reviewers.reject{|r|r.committee_member_id.nil?},
											:committee_member_id,
											'fullname' %>
					<%= f.submit "Drop", :confirm => 'Are you sure you want to drop this reviewer ?', class: 'small'  %>
					
				<% end %>
			</div>			
		</td>
	</tr>
	<% end %>	
	
</table>