<div class="panel">
  <div class="panel_contents">	 
		<div class="content-block" style="padding-top: 12px">
			<strong class="larger"><%= student.lastname_first %> </strong>
				<span class="right light smaller">
					<%= "Student #: <span class='highlight'>#{student.student_no}</span>".html_safe if student.student_no %>
					&bull;
					EXPO <%= student.class %> ID: <span class="highlight"><%= student.id %></span>
					&bull;
					Application ID: <span class="highlight"><%= app.id %></span>
					</span>
					<h4 style="padding-bottom:0.5rem;">
				  <%= app.project_title.blank? ? "<font class=gray>(no title)</font>".html_safe : strip_tags(encode_utf(app.project_title)) rescue strip_tags(app.project_title) %></h4>

					<span class="light right smaller" id="composite_report_maker_button">
						<%= render partial: "composite_report_maker" %>
					</span>

					<span id="application_status">						
						<%#= render :partial => "application_status" %>
						Status: <strong><%= raw(print_status(app)) %></strong>
						<small class="gray"> - The student sees "<%= print_public_status(app) %>."
						<%= link_to('(change)', '#', data: { link_toggle: "#assign_new_status"}, id: 'change_status_link')	%>
						</small>

						<div id="assign_new_status" style="display:none">
							<%= form_for app, :url => { :action => 'update', :id => app } do |f| %>
								<small>New Status: <%= f.collection_select :new_status, 
														app.offering.statuses.order('sequence ASC'),
														:application_status_name,
														:application_status_title,
														:prompt => true %>
								Note: <%= f.text_field :new_status_note %>

								<%= f.submit "Assign Status", class: 'small' %>
								<%#= separator.html_safe %>
								<%= link_to('Cancel', '#', data: { link_toggle: "#assign_new_status"})	%>
								
								</small>
							<% end %>
						</div>

					</span>

	  </div>
	</div>
</div>
