<div class='content-block'>
<div id="assign_reviewer">
	<%= form_for @app, :url => { :action => 'update', :id => @app }, remote: true do |f| %>	
		<table class='borderless'>	
			<tbody>
				<th>Type</th>
				<th>Amount</th>
				<th>User</th>
				<th>Notes</th>
			</tr>

			<% for award in @app.awards.valid %>
			<tr class="rowset-header">
				<td colspan=4><%= award.requested_quarter.title %></td>
			</tr>
			
			<tr>
				<td class="left-indent">
					<span class="tooltip">Requested
						<span class="tooltiptext">The amount that the student originally requested.</span>
					</span>
				</td>
				<td><%= number_to_currency award.amount_requested %></td>
				<td><%= award.amount_requested_user.fullname rescue nil %></td>
				<td><%= award.amount_requested_notes %></td>
			</tr>

			<tr>
				<td class="left-indent">
					<span class="tooltip">Dean Awarded
						<span class="tooltiptext">The amount awarded by the selection committee and approved by the dean.</span>
					</span>
				</td>
				<td><%= content_tag :span, number_to_currency(award.amount_awarded), 
						:class => ("highlight" if award.amount_awarded && award.amount_awarded != award.amount_requested) %>
					<%= content_tag :span, "Awaiting dean approval", :class => 'light' if @app.awaiting_dean_approval? %></td>
				<td><%= award.amount_awarded_user.fullname rescue nil %></td>
				<td><%= award.amount_awarded_notes %></td>
			</tr>

			<tr>
				<td class="left-indent">
					<span class="tooltip">Approved
						<span class="tooltiptext">The maximum amount that this student is approved to receive based on financial aid's assessment.</span>
					</span>
				</td>
				<td><%= content_tag :span, number_to_currency(award.amount_approved), 
						:class => ("highlight" if award.amount_approved && award.amount_approved != award.amount_requested) %>
					<%= content_tag :span, "Awaiting financial aid approval", :class => 'light' if @app.awaiting_financial_aid_approval? %></td>
				<td><%= award.amount_approved_user.fullname rescue nil %></td>
				<td><%= award.amount_approved_notes %></td>
			</tr>

			<tr>
				<td class="left-indent">
				 	<span class="tooltip">Disbursed
						<span class="tooltiptext">The amount actually disbursed into the student's account.</span>
					</span>	
				 </td>
				<td><%= content_tag :span, number_to_currency(award.amount_disbersed), 
						:class => ("highlight" if award.amount_disbersed && award.amount_disbersed != award.amount_requested) %>
						<%= content_tag :span, "Awaiting disbursement", :class => 'light' if @app.awaiting_disbursement? %>
					<%= "(#{award.disbersement_type.name})" if award.disbersement_type %></td>
				<td><%= award.amount_disbersed_user.fullname rescue nil %></td>
				<td><%= award.amount_disbersed_notes %></td>
			</tr>
			
			<% end %>
		
		</table>	
		
	<% end %>
</div>
</div>