<% id ||= @app %>

<div class="menu">
<%= link_to " <i class='mi md-18'>picture_as_pdf</i> Download Review Packet".html_safe, 'javascript:;', data: { link_toggle: "#composite_report_maker"}, class: 'button small flat' %></h2>
					
	<div id="composite_report_maker" class="panel" style="display:none; padding:7px">
		<%= form_tag admin_apply_composite_report_path, method: :post do %>
			Please select which parts of <br>the application you would like <br>included in the PDF file:
			<br><%= check_box_tag "include[scoring]", true %>
				<%= label_tag "include[scoring]", "Scoring Sheet" %>
			<br><%= check_box_tag "include[application_review]", true %>
				<%= label_tag "include[application_review]", "Application Details" %>
			<% unless @app.files.empty? %>
				<br><%= check_box_tag "include[files]", true %>
					<%= label_tag "include[files]", "Essay and Files" %>
			<% end -%>
			<% if @offering.uses_mentors? %>
				<br><%= check_box_tag "include[mentor_letters]", true %>
					<%= label_tag "include[mentor_letters]", "Mentor Letters" %>
			<% end -%>
			<br><%= check_box_tag "include[transcript]", true %>
				<%= label_tag "include[transcript]", "Transcript" %>
			<br>
			<%= button_tag type: 'submit', class: 'small flat btn', :disable_with => "Please wait..." do %>
				<i class='mi md-18'>download</i> Download
			<% end %>
		<% end %>
	</div>

</div>