<hr class='header'>
<div class='content-block'>
<% if @app.invited_for_interview? %>
	<ul>
		<li><%#= link_to "View availability", :action => "availability", :id => @app %></li>
		
		<% if @app.interview %>
		<li><strong>Interview Time:</strong> <%= @app.interview.start_time_pretty %></li>
		<li><strong>Interview Committee:</strong> <%= @app.interview.interviewer_list %></li>
		<% end %>
		
		<% if @app.interview_decision_made? %>
		<li><strong>Decision:</strong> <%= @app.interview_committee_decision %></li>
		<li><strong>Feedback Person:</strong> <%= @app.interview_feedback_person.fullname rescue "(unknown)" %></li>
		<% end %>
		
		<% if @app.includes_contingency? %>
		<li><strong>Contingency Terms:</strong> <%= @app.contingency_terms %></li>
		<li><strong>Check on contingency by:</strong> <%= @app.contingency_checkin_date.to_formatted_s(:short) %></li>
		<% end %>
		
		<% unless @app.interview_committee_notes.blank? %>
		<li><strong>Interview Committee Comments:</strong> <%= simple_format @app.interview_committee_notes %></li>
		<% end -%>
		
	</ul>
	
	<br><h3><strong>Project Summary</strong></h4>
	<% if @app.project_summary.blank? %>
		<em>Not submitted.</em>
	<% else %>
		<blockquote><%= simple_format @app.project_summary %></blockquote>
	<% end -%>

<% else %>

	<em>Not invited for interview.</em>

<% end %>
</div>