<div class='panel'> 
  <div class='panel_contents'>
    <div class='content-block accountability'>
      <h1><%= @year %> Accountability Reporting Status
          <span class='small light right'>S: Public Service | R: Undergraduate Research | I: Internship </span>
      </h1>

      <table class="borderless">
        <tr class="table-header uw_light_bg_gold">
          <th style='width: 25%;'>Department</th>
          <th colspan="2" style='width: 25%;'>Details</th>

          <% @activity_types.each do |activity_type| %>
            <th class="light-left-border number" style='font-size:10px;'>
              Courses<br>(<%= activity_type.abbreviation %>)
            </th>
            <th class="number" style='font-size:10px;'>
              Individuals<br>(<%= activity_type.abbreviation %>)
            </th>
          <% end %>

          <th class="light-left-border center number" style='font-size: 10px;'>Users</th>
        </tr>

      <% if @departments.blank? %>
        <tr>
          <% # 3 fixed cols (Department + 2 Details) + 2 per activity type + 1 Users %>
          <% colspan = 3 + (@activity_types.size * 2) + 1 %>
          <td colspan="<%= colspan %>" class="empty center">
            No accountability records found for <%= @year %>.
          </td>
        </tr>
      <% else %>
        <% @departments.each do |department, activities| %>
          <tr>
            <td>
              <%= department.is_a?(String) ? department : (department.try(:name) || h(department.inspect)) %>
            </td>

            <td>
              <%= link_to "Courses",
                courses_admin_accountabilities_path(year: @year, department_key: department), class: 'smaller' %>
            </td>

            <td>
              <%= link_to "Individuals",
                individuals_admin_accountabilities_path(year: @year, department_key: department), class: 'smaller' %>
            </td>

            <% @activity_types.each do |activity_type| %>
              <% courses_count = activities.dig(activity_type.id, :courses).to_i %>
              <% individuals_count = activities.dig(activity_type.id, :individuals).to_i %>

              <td class="light-left-border center">
                <%= courses_count.zero? ? content_tag(:span, "-", class: "light") : courses_count %>
              </td>

              <td class="center">
                <%= individuals_count.zero? ? content_tag(:span, "-", class: "light") : individuals_count %>
              </td>
            <% end %>

            <td class="light-left-border center">
              <% dept_obj = activities[:department_object] %>
              <% auths = dept_obj&.accountability_coordinator_authorizations %>
              <% users = Array(auths).map(&:login).uniq %>

              <span class="tooltip">
                <%= users.count %>
                <span class="tooltiptext">
                  <strong>Authorized Users:</strong>
                  <%= users.empty? ? "(none)" : users.join(", ") %>
                </span>
              </span>
            </td>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>
  </div>
</div>  