<%= fields_for "application_mentor[answer_attributes][]", answer do |qf| %>

<div class="col s12">

	<b><%= raw answer.question.question %></b>

	<% if answer.question.display_as == "long_response" %>
		<div class="input-field">
			<%= qf.text_area :answer %>
		</div>
	<% else %>
	  <div class="input-field inline">
		<%= qf.text_field :answer, :size => answer.question.size %>
	  </div>
	  <%= "<small class='caption'> Number only</small>".html_safe if answer.question.must_be_number %>
	<% end %>

</div>

<% end %>