<% app = application_mentor.application_for_offering %>
<tr>
	<td><%= link_to app.person.fullname, :action => "mentee", :id => application_mentor %></td>
	<td><%= app.offering.title %></td>
	<td><%= strip_tags app.project_title %></td>
	<td>
		<%= raw "<i class='material-icons uw_green'>check_circle</i>" if application_mentor.letter_received? %>
		<%= raw "<div class='tag green'>Abstract Approved</div>" if application_mentor.approved? %>
	</td>
	<td><%= app.status.public_title %></td>
</tr>