<% title "Mentor Review", "View Student" %>
<% subtitle link_to("Back to Mentee List", :action => "index") %>
<div class="card">
<div class="card-content mentor">
<h4><b>Abstract</b></h4>

<h6><strong>Project Title: </strong><span class="smaller"><%= strip_tags @mentee_application.project_title %></span></h6>
					
<h6><strong>Student:</strong> <span class="smaller"><%= @mentee.fullname %></span><span class="smaller caption"> - <%= @mentee.class_standing_description %></span></h6>

<% unless @mentee_application.group_members.empty? %>
	<h6><strong>Co-Presenters:</strong> <span class='smaller'><%= @mentee_application.group_members.collect(&:fullname).join(", ") %></span></h6>
<% end -%>

<% unless @mentee_application_record.academic_department.nil? %>
	<h6><strong>Your Academic Department(s):</strong>  <span class="smaller"><%= @mentee_application_record.academic_department.join(", ") %></span></h6>
<% end %>

<% if @mentee_application_record.confirm_primary? %>
	<h6><span class="smaller"><i class="mi uw_green">check_circle</i> I confirmed I am the primary mentor associated with this research project and I confirmed this research can be shared publicly.</span></h6>
<% end %>

<div class="abstract">
	<h5><b>Abstract:</b></h5>
	<hr style="border: 1px solid #DDD">
	<%= @mentee_application.text("Abstract").body.html_safe %>
</div>

<% if @approval_display %>

<%= form_for @mentee_application_record, url: mentee_abstract_approve_path do |f| %>
    
	<!--[if lt IE 9]><div class="error-message"><span class='icon-left error'></span>Warning: You need to upgrade to a modern web browser such as <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="https://www.microsoft.com/en-us/edge/download" target="_blank">the latest Microsoft Edge</a>, or <a href="http://www.firefox.com" target="_blank">Firefox<a> to input this field.</div> <![endif]-->
	<p class="<%= 'explanation_box error' if @error_message %>">
		<big style="vertical-align: 0.6em;">Your academic department(s): </big>
		<em class="required" style="vertical-align: 0.6em;"> * required</em>
		
	    <%= f.select :academic_department, AcademicDepartment.all.collect(&:name).sort, {include_hidden: false}, {multiple: true, class: 'chosen-select'} %>

		<% if @error_message %>
			<i class="material-icons align">error</i><%= @error_message %>
		<% end %>

		<br><span class="caption">This will be printed in our symposium event. If you cannot find your academic department, please contact <%= auto_link @offering.unit.email rescue 'Error!' %></span>
	</p><br>

	<% if @mentee_application_record.primary && @mentee_application_record.mentor_type.title == 'Faculty' %>
		<p><label><%= f.check_box :confirm_primary, class: "filled-in" %>
		<span>I confirm I am the primary mentor associated with this research project and I confirm this research can be shared publicly.</span></label></p><br>
	<% end %>

	<h6><strong>Do you approve this abstract?</strong>  <%= "<i class='material-icons align uw_green'>check_circle</i> <span class='tag green'>You already approved this abstract.</span><br>".html_safe if @mentee_application_record.approved? %></h6>
	<p>Once you give your response, an email will be sent to the student notifying them of your response.</p>

	<div class="input-field left-indent">

		<%= render 'shared/error_messages', target: @mentee_application_record %>

		<p><label>
			<%= f.radio_button :approval_response, 'approved', {class: "with-gap"} %>
			<span>Yes</span>
		</label></p>

		<p><label>
			<%= f.radio_button :approval_response, 'revise', {class: "with-gap"} %>
			<span>No, revision needed. I will work with the student(s) to revise it before,
			<%#= HelpText.caption :deadline_revised_abstracts, Offering %>
			<%= @offering.mentor_deadline ? @offering.mentor_deadline.to_s(:date_pretty) : "the deadline" %></span>
		</label></p>

		<p><label>
			<%= f.radio_button :approval_response, 'no_with_explanation', {class: "with-gap"} %>
			<span>No with another explanation.</span>
			<div class="input-field left-indent">
				<%= f.text_field :approval_comments %>
				<label class='left-indent'>Please explain:</label>
				<small class="caption">Your comments will <strong>not</strong> be shared with the student.</small>
			</div>
		</label></p>

		<p><label>
			<%= f.radio_button :approval_response, 'listed_in_error', {class: "with-gap"} %>
			<span>N/A - I am not this student's mentor and I was listed in error.</span>
		</label></p>
	</div>
	<br>
	<%= f.submit "Submit", :disable_with => 'Submiting...', class: 'btn' %>
	
<% end %>
<% end %>
</div>