<%= javascript_include_tag 'chosen.proto' %>
<%= javascript_include_tag 'prototype.1.7' %>
<%= stylesheet_link_tag 'chosen' %>

<% title "Mentor Review", "View Student" %>
<% subtitle link_to("Back to Mentee List", :action => "index") %>

<h1>Abstract</h1>

<h3>Project Title: 	<span class="plain"><%= strip_tags @mentee_application.project_title %></span></h3>
					
<h3>Student: <span class="plain"><%= @mentee.fullname %><span class="smaller grey"> - <%= @mentee.class_standing_description %></span></span></h3>

<% unless @mentee_application.group_members.empty? %>
	<h3>Co-Presenters: 	<span class="plain"><%= @mentee_application.group_members.collect(&:fullname).join(", ") %></span></h3>
<% end -%>

<% unless @mentee_application_record.academic_department.nil? %>
	<h3>Your Academic Department(s):  <span class="plain"><%= @mentee_application_record.academic_department.join(", ") %></span></h3>
<% end -%>

<div class="abstract">
	<h4>Abstract:</h4>
	<%= @mentee_application.text("Abstract").body %>
</div>

<% if @approval_display %>

<%- form_for "mentor", @mentee_application_record do |f| -%>	
    
	<!--[if lt IE 9]><div class="error-message"><span class='icon-left error'></span>Warning: You need to upgrade to a modern web browser such as <a href="http://www.google.com/chrome" target="_blank">Google Chrome</a>, <a href="http://www.browserforthebetter.com/download.html" target="_blank">the latest IE</a>, or <a href="http://www.firefox.com" target="_blank">Firefox<a> to input this field.</div> <![endif]-->
		
	<p class="<%= 'big-border box red' if @error_message %>"><label for="academic_department" style="vertical-align: 0.6em;">
		<big>Your academic department(s): </big></label>
		<span>
			<%= select_tag :academic_department, options_for_select(AcademicDepartment.all.collect(&:name).sort, @mentee_application_record.academic_department),
			 			   :multiple => true, :class => "chzn-select", :style => "width:400px;", :data_placeholder => "Select Department(s) or Type Keyword for Search"  %>
			<em class="required" style="vertical-align: 0.6em;"> * required <%= "<br><span class='icon-left error'></span><span class='error-message'>#{@error_message}</span>" if @error_message %></em>			
			<p class="caption" style="padding-left: 24em;">This will be printed in our symposium event. If you cannot find your academic department, please contact urp@uw.edu.</p>
		</span>
	</p><br>	

	<p><strong>Do you approve this abstract?</strong>  <%= "<span class='green-check'>X</span> <span class='green highlight'>You already approved this abstract.</span><br>" if @mentee_application_record.approved? %></p>
	<p>Once you give your response, an email will be sent to the student notifying them of your response.</p>	

	<div class="left-indent">

		<%= error_messages_for :mentee_application_record %>

		<p><label for="mentor_approval_response_approved">
			<%= f.radio_button :approval_response, 'approved' %>
			Yes
		</label></p>

		<p><label for="mentor_approval_response_revise">
			<%= f.radio_button :approval_response, 'revise' %>
			No, revision needed. I will work with the student(s) to revise it before 
			<%= HelpText.caption :deadline_revised_abstracts, Offering %>
			<%#= @offering.mentor_deadline ? @offering.mentor_deadline.to_date : "the deadline" %>
		</label></p>

		<p><label for="mentor_approval_response_no_with_explanation">
			<%= f.radio_button :approval_response, 'no_with_explanation' %>
			No with another explanation.
			<br><small class="left-indent">Please explain:</small>
				<%= f.text_field :approval_comments %>
			<br><small class="light left-indent">Your comments will <strong>not</strong> be shared with the student.</small>
		</label></p>

		<p><label for="mentor_approval_response_listed_in_error">
			<%= f.radio_button :approval_response, 'listed_in_error' %>
			N/A - I am not this student's mentor and I was listed in error.
		</label></p>			
	</div>
	
	<%= f.submit "Submit", :disable_with => 'Submiting...' %>
	
<%- end -%>
<% end -%>