<div class="explanation_box error">
	<h6><strong>There are problems with your submission on this page.</strong></h6>
	<p>Your responses were still saved, but some of them were not valid. You can correct these errors now, or you can 
		continue to another part of the application and come back later to fix these problems. You will have to correct 
		these problems before you can submit your application for review.
		
		
		<% unless errors.empty? %>
			The following fields had problems:</p>
				<ul>
				<% errors.messages[:base].each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>

			<div class="progress_nav_buttons">
				<%= hidden_field_tag(:next_button) if params[:next_button] %>
				<%= hidden_field_tag(:prev_button) if params[:prev_button] %>
				<%= hidden_field_tag(:review_button) if params[:review_button] %>

				<%= submit_tag( "Continue Anyway →", :name => "continue_anyway", :id => "continue_anyway", class: 'btn') %>
			</div>

		<% end %>
	
</div>
