<% attribute_prefix ||= "user_application[mentor_attributes][]" %>
<% title = mentor.primary? ? "Primary #{@offering.mentor_title}" : "Other #{@offering.mentor_title}"  %>

<tr>
	<td class="title">
		<%= title %>
		<% unless  @user_application.submitted? || !@user_application.less_mentors_ok? %>
			<span class='small light'>
			<%= link_to "remove", {action: 'update', page: @page.ordering, remove_mentor: mentor.id}, data: {confirm: "Are you sure?"}, class: 'btn small' unless mentor.invite_email_sent? || mentor.primary? %></span>
		<% end %>
	</td>
	
	<td>
		
		<% if mentor.invite_email_sent? %>
		
			<b><%= mentor.info_detail_line %></b>
			<br><font class="light">Request e-mail sent <%= time_ago_in_words(mentor.invite_email_sent_at) %> ago</font>
			<p><%= mentor.waive_access_review_right ? "Waived right to access mentor letter" : "Retained right to access mentor letter" %></p>
			
		<% else %>
		
			<%= fields_for "user_application[mentor_attributes][]", mentor do |mf| %>
			<div class="new_mentor">
					<div class="input-field col s6">
						<%= mf.label(:firstname, ("First Name" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
						<%= mf.text_field :firstname, class: "validate" %>
					</div>

					<div class="input-field col s6">
						<%= mf.label(:lastname, ("Last Name" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
						<%= mf.text_field :lastname, class: "validate" %>
					</div>
			
			
				<div id="mentor_email_field_<%= mentor.id %>">
					<div class="input-field col s6">
						<%= mf.label(:email, ("E-Mail Address" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
						<%= mf.text_field :email, type: 'email', class: "validate" %>
					</div>
						
					<div class="input-field col s6">
						<%= mf.label(:email_confirmation, ("Retype E-Mail Address" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
						<%= mf.text_field :email_confirmation, type: 'email', class: "validate" %>						
					</div>
				</div>
				
				<% if @offering.ask_for_mentor_title? %>
				<div class="input-field col s12">
					<%= mf.label(:title, "Title:") %>
						<%= mf.text_field :title, class: 'charcounter', data: {length: 250}, maxlength: 250 %>
				</div>
				<% end %>

				<% if @offering.ask_for_mentor_relationship? %>
				<div class="input-field col s12">
					<%= mf.label(:relationship, "How do you know this person?") %>
						<%= mf.text_field :relationship, class: 'charcounter', data: {length: 250}, maxlength: 250 %>
				</div>
				<% end %>

				
				
				<% unless @offering.mentor_types.empty? %>
				<div class="input-field col s12">										
					<%= @offering.mentor_title %> Type:
					<%= content_tag('em', '*', :class => 'required') %>
						<% if  mentor.primary? && @offering.alternate_stylesheet.include?('symposium') %>
							<p><label>
								<%= mf.radio_button :application_mentor_type_id, 1, {class: "with-gap"} %>
								<span>Faculty</span>
							</label></p>
						<% else %>
							<% @offering.mentor_types.each do |mentor_type| %>
								<p>
								  <label>
									 <%= mf.radio_button :application_mentor_type_id, mentor_type.application_mentor_type_id, {class: "with-gap"} %>
									 <span><%= mentor_type.title %></span>
								  </label>
								</p>
							<% end %>
						<% end %>						
				</div>
				<% end %>
							
				<% if @offering.allow_hard_copy_letters_from_mentors? %>
				<div>
					<label>
					  <%= mf.check_box :no_email, class: "filled-in" %>
					  <span>If your <%= @offering.mentor_title %> <b>cannot</b> access the Internet and will need to submit a hard copy letter, please check here.</span>
					</label>
					
					<%#= observe_field("user_application_mentor_attributes_#{mentor.id}_no_email", 
							:function => "Element.toggle('mentor_email_field_#{mentor.id}');
										  Element.toggle('early_mentor_email_field_#{mentor.id}');") %>
					<%#= javascript_tag("Element.hide('mentor_email_field_#{mentor.id}')") if mentor.no_email %>
					<%#= javascript_tag("Element.hide('early_mentor_email_field_#{mentor.id}')") if mentor.no_email %>
				</div>
				<% end -%>
		
								
				<% if @offering.allow_early_mentor_submissions? %>
				<br>				
				<div class="input-field col s12" id="early_mentor_email_field_<%= mentor.id %>">
					To request a letter of support from your <%= @offering.mentor_title %> immediately, please check the box below.  (Once you give early access to your <%= @offering.mentor_title %>, you will not be able to remove them as a <%= @offering.mentor_title %> from your application.)
						<div class="question_block">
						  <label>
							<%= mf.check_box :send_invite_email_now, :checked => true, class: "filled-in" %>
							<span>Yes, send the request e-mail as soon as I click "Next" or "Save"</span> below. 
						  </label>
						</div>
				</div>	
				<% end %>
				
				<% if @offering.ask_applicant_to_waive_mentor_access_right? %>
				
					<div class="input-field col s12 warning box">The Family Education Rights and Privacy Act of 1974 and its amendments guarantee you access to educational records concerning yourself. However, those writing recommendations and those assessing them may attach more significance to them if it is known that they will retain confidentiality. You are permitted by those laws to voluntarily waive that right of access.</div>


					<div class="input-field col s12">
					Do you wish to waive this right? <%= content_tag('em', '*', :class => 'required') %>
					  <p>
						<label>
							<%= mf.radio_button :waive_access_review_right, true, {class: "with-gap"} %>
							<span>I wish to waive my right for access to review this letter of support from my <%= @offering.mentor_title %>.</span>
						</label>
					  </p>
					  <p>
						<label><%= mf.radio_button :waive_access_review_right, "false", {class: "with-gap"} %> 
							<span>I do not wish to waive my right for access to review this letter of support.</span>
						</label>
					  </p>
					</div>

				<% end %>
						
			</div>

			<% end %>
			
		<% end %>
	</td>
</tr>
