<% @group_member ||= @user_application.group_members.new %>

<h3>Add New Group Member</h3>
<p><font color=red>Only list undergraduate co-presenters who plan to present with you on Symposium Day.</font>
	All co-presenters you enter will be invited to join this application process and once they agree, 
	will be able to view project information.</p>
	
<%= error_messages_for :group_member %>

<% fields_for :group_member, @group_member do |gmf| %>

<dl class="inline-definitions">

	<dt>First Name</dt>
	<dd><%= gmf.text_field :firstname %></dd>

	<dt>Last Name</dt>
	<dd><%= gmf.text_field :lastname %></dd>

	<dt>Student Type</dt>
	<dd>
		<%# gmf.object.uw_student ||= true %>
		<%= gmf.radio_button :uw_student, "true", 
							:onClick => "$('gmf_#{question.id}_dt').update('UW NetID'); 
										 $('gmf_#{question.id}_suffix').update('@u.washington.edu')" %>
		UW Student
		
		<%= gmf.radio_button :uw_student, "false", 
							:onClick => "$('gmf_#{question.id}_dt').update('E-mail Address'); 
										 $('gmf_#{question.id}_suffix').update('')" %>
		Non-UW Student
	</dd>

</dl>

<div id="new_group_member_uw">
	<dl class="inline-definitions">

		<% gmf_dt = gmf.object.uw_student? ? "UW NetID" : "E-mail Address" %>
		<% gmf_suffix = gmf.object.uw_student? ? "@u.washington.edu" : "" %>

		<dt><span id="<%= "gmf_#{question.id}_dt" %>"><%= gmf_dt %></span></dt>
		<dd><%= gmf.text_field :email %><span id="<%= "gmf_#{question.id}_suffix" %>"><small><%= gmf_suffix %></small></span></dd>

	</dl>
</div>






<p><small class="light">A verification e-mail will be sent when you click the "Add" button.</small></p>

<%= qf.submit "Add", :name => 'add_group_member_button', :disable_with => "Adding..." %>

<% end -%>