<% @group_member ||= @user_application.group_members.new %>

<h6>Add New Group Member</h6>
<p><font color=red>Only list undergraduate co-presenters who plan to present with you on the event day.</font>
	All co-presenters you enter will be invited to join this application process and once they agree, 
	will be able to view project information.</p>

<%= fields_for :group_member, @group_member do |gmf| %>
	
	<%= render :partial => "error_messages", locals: { errors: @group_member.errors } if @group_member.errors.any? %>

	<div class="input-field col s6">
		<%= gmf.label(:firstname, ("First Name" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
		<%= gmf.text_field :firstname, class: "validate" %>
	</div>

	<div class="input-field col s6">
		<%= gmf.label(:lastname, ("Last Name" + " #{content_tag('abbr', '*', title: 'required')}").html_safe) %>
		<%= gmf.text_field :lastname, class: "validate" %>
	</div>

	<div class="input-field col s12">
		Student Type: <%= content_tag('em', '*', :class => 'required') %>
		<span>
			<label>
				<%= gmf.radio_button :uw_student, "true", { class: "with-gap", onClick: "$('#gmf_#{question.id}_dt').text('UW NetID'); $('#gmf_#{question.id}_suffix').text('@u.washington.edu')" } %>
				<span>UW Student</span>
			</label>
		</span>
		<span style="padding-left: 1rem">
			<label>
				<%= gmf.radio_button :uw_student, "false", { class: "with-gap", onClick: "$('#gmf_#{question.id}_dt').text('E-mail Address'); $('#gmf_#{question.id}_suffix').text('')" } %>
				<span>Non-UW Student</span>
			</label>
		</span>
	</div>
	<div id="new_group_member_uw" class="input-field col s12">
		<% gmf_dt = gmf.object.uw_student? ? "UW NetID" : "E-mail Address" %>
		<% gmf_suffix = gmf.object.uw_student? ? "@u.washington.edu" : "" %>
		<div class="input-field inline">
			<%= gmf.label(:email, ( gmf_dt + " #{content_tag('abbr', '*', title: 'required')}").html_safe, id: "gmf_#{question.id}_dt") %>
			<%= gmf.text_field :email, class: "validate" %>
			
		</div>
		<span id=<%= "gmf_#{question.id}_suffix" %>>
			<%= gmf_suffix %>
		</span>
	</div>

	<div>	
		<%= qf.submit "Add", :name => 'add_group_member_button', data: {:disable_with => "Adding..."}, class: 'btn' %>
		<small class="gray" style= "padding-left:0.5rem">A verification e-mail will be sent when you click the "Add" button.</small>
	</div>
<% end %>