<% @ti ||= 0; view_only ||= false; %>
<tr <%= "class='hour_row'" if timeslot_row.min==0 %>>
	<%= content_tag('td', timeslot_row.strftime("%I:%M %p"), :class => "time") if timeslot_row.min%15==0 %>

	<% @offering.interview_timeblocks.each do |b| %>
	<% @ti += 1 %>
	<td>
		<div id="timeblock[<%= @ti %>]">
		<%= 
		if person_record.available_for_interview? timeslot_row, b
			render :partial => "apply/timeslot_available", :locals => { :b => b, :ti => @ti, :time => timeslot_row, :view_only => view_only } 
		else
			render :partial => "apply/timeslot_not_available", :locals => { :b => b, :ti => @ti, :time => timeslot_row, :view_only => view_only } 
		end
		%>
		</div>
	</td>
	<% end %>
	
	<%= content_tag('td', timeslot_row.strftime("%I:%M %p"), :class => "time") if timeslot_row.min%15==0 %>
</tr>