<% title(@offering.name, @offering.quarter_offered.title) %>

<h2>Accept Your Award</h2>
<%= @offering.acceptance_instructions.gsub("%award_quarter_list%", @user_application.award_list(" and ", false)) %>

<br><br>
<% form_for "application_for_offering", @user_application do |f| %>

	<div class="left-indent">
		
	<p>
	<%= f.radio_button :declined, false %>
	<%= f.label :declined_false, @offering.acceptance_yes_text %>
	</p>

	<p>
	<%= f.radio_button :declined, true %>
	<%= f.label :declined_true, @offering.acceptance_no_text %>
	</p>

	<br>

	<% for i in 1..3 %>
		<% q = @offering.read_attribute("acceptance_question#{i}") %>
		<% unless q.blank? %>
			<p>
				<%= f.label "acceptance_response#{i}", q %>
			</p>
			<p>
				<%= f.text_field "acceptance_response#{i}", :size => 50 %>
			</p>
			<br>
		<% end -%>
	<% end -%>

	<p>
	<%= f.submit "Submit" %>
	</p>
	
<% end %>

<%= render :partial => "sidebar" %>