<% title(@offering.name, @offering.quarter_offered.title) %>

<div class="card">

	  <div class="card content">

		<h5>Accept Your Award</h5>
		<%= raw @offering.acceptance_instructions.gsub("%award_quarter_list%", @user_application.award_list(" and ", false)) %>
		<br>

		<%= form_for @user_application, as: "application_for_offering", url: { action: :accept } do |f| %>
			<div class="left-indent">
				<p>
					<label>
						<%= f.radio_button :declined, false, {class: "with-gap"} %>
						<span><%= @offering.acceptance_yes_text %></span>
					</label>
				</p>

				<p>
					<label>
						<%= f.radio_button :declined, true, {class: "with-gap"} %>
						<span><%= @offering.acceptance_no_text %></span>
					</label>			
				</p>
				
				<% (1..3).each do |i| %>
					<% q = @offering.read_attribute("acceptance_question#{i}") %>
					<% unless q.blank? %>
					  <div class="input-field col s12 string input">
						<%= f.text_field "acceptance_response#{i}" %>
						<%= f.label "acceptance_response#{i}", q %>
					  </div>					  
					<% end %>
				<% end %>
	  		</div>

	  		<p><%= f.submit "Submit Your Decision", class:'btn margin_top' %></p>

	  	<% end %>
		  
	</div>  	
</div>
<% sidebar :apply_nav %>

