<h1>Submit Revised Abstract</h1>

	<p><%=h @offering.revise_abstract_instructions %></p>

	<% unless @user_application.review_comments.blank? %>
	<p><strong>Staff Comments:</strong>
	 	<br>
		<%= raw(@user_application.review_comments) %>
	</p>
	<% end -%>

	<center>
	<form method="post">

		<h2>Project Title</h2>
		<%= text_area_tag :project_title, @user_application.project_title, :id => "project_title_editor" %>
		
		<br>
	
		<h2>Abstract</h2>
		<div class="question_block">
			<%= text_area_tag :revised_abstract, @user_application.text("Abstract").body, :id => "revise_abstract_editor" %>
		</div>
		
		<%= content_tag('p', "300 word limit", :class => 'question_caption') %>
	
		<div class="question_block">
			<%#= submit_tag( "View and Print PDF Preview", :name => "pdf_button", :id => "pdf_button" ) %>
		</div>

		<%= submit_tag "Submit Revised Abstract" %>
	
	</form>
	</center>

<% javascript_tag do %>
	var oFCKeditor = new FCKeditor('project_title_editor', '600', '100', 'ExpoLimited');
	oFCKeditor.BasePath = "/javascripts/fckeditor/"
	oFCKeditor.Config['CustomConfigurationsPath'] = '<%= javascript_path("fckcustom.js") %>';
	oFCKeditor.ReplaceTextarea();

	var oFCKeditor = new FCKeditor('revise_abstract_editor', '600', '300', 'ExpoLimited');
	oFCKeditor.BasePath = "/javascripts/fckeditor/"
	oFCKeditor.Config['CustomConfigurationsPath'] = '<%= javascript_path("fckcustom.js") %>';
	oFCKeditor.ReplaceTextarea();
<% end -%>
