<h1>Please Select an Application</h1>

<p>You are associated with multiple applications for the <%= @offering.title %>. To proceed to the next screen, you need to select which application you would like to log in to for the current session.</p>

<% form_for :application_for_offering, :url => url_for(:action => 'which') do |f| %>

	<% for user_application in @user_applications %>
		<p class="left-indent">
		<label for="application_for_offering_id_<%= user_application.id %>">
			<%= radio_button_tag :application_for_offering_id, user_application.id %>
			<strong><%= strip_tags user_application.project_title || "(no title)" %></strong>
			(primary applicant)
			<div style="padding-left: 20px">
				<small class="light">
						Started <%= relative_timestamp user_application.created_at %>; 
						Last updated <%= relative_timestamp user_application.updated_at %>.</small>
			</div>
		</label>
		</p>
	<% end -%>
	
	<% if @user_applications.empty? %>
		<p class="left-indent">
		<label for="application_for_offering_id_new">
			<%= radio_button_tag :application_for_offering_id, "new" %>
			<strong>Start a new application</strong>
			<div style="padding-left: 20px">
				<small class="light">
					You can start your own application if you are presenting a project separate from your group.
					</small>
			</div>
		</label>
		</p>
	<% end -%>

	<% for group_application in @group_applications %>
		<p class="left-indent">
		<label for="application_for_offering_id_<%= group_application.application_for_offering.id %>">
			<%= radio_button_tag :application_for_offering_id, group_application.application_for_offering.id %>
			<strong><%= strip_tags group_application.application_for_offering.project_title || "(no title)" %></strong>
			(group member)
			<div style="padding-left: 20px">
				<small class="light">
					Started <%= relative_timestamp group_application.application_for_offering.created_at %>; 
					 Last updated <%= relative_timestamp group_application.application_for_offering.updated_at %>.</small>
			</div>
		</label>
		</p>
	<% end -%>

	<%= f.submit "Select", :disable_with => 'Logging in to your application...' %>

<% end -%>