<div class="card apply_which">
<%= form_for :application_for_offering, :url => url_for(:action => 'which') do |f| %>
  <div class="card-content">
	<h4>Please Select an Application</h4>

	<p><i class="material-icons uw_purple middle_align">info_outline</i> You are associated with multiple applications for the <%= @offering.title %>. To proceed to the next screen, you need to select which application you would like to log in to for the current session.</p>
	<div class="row">
	  <div class="input-field col s12">
		<% for user_application in @user_applications %>		
			<p class="left-indent">
			<label for="application_for_offering_id_<%= user_application.id %>">
				<%= radio_button_tag :application_for_offering_id, user_application.id, false, class: "with-gap" %>
				<span style="color:#333"><strong><%= strip_tags user_application.project_title || "(no title)" %></strong>
				(primary applicant)</span>
				<div class="left-indent">
					<small class="light">
							Started <%= relative_timestamp user_application.created_at %>; 
							Last updated <%= relative_timestamp user_application.updated_at %>.</small>
				</div>
			</label>
			</p>
		<% end %>
		
		<% if @user_applications.empty? %>
			<p class="left-indent">
			<label for="application_for_offering_id_new">
				<%= radio_button_tag :application_for_offering_id, "new", false, class: "with-gap" %>
				<span style="color:#333"><strong>Start a new application</strong></span>
				<div class="left-indent">
					<small class="light">
						You can start your own application if you are presenting a project separate from your group.
						</small>
				</div>
			</label>
			</p>
		<% end %>

		<% for group_application in @group_applications %>
			<p class="left-indent">
			<label for="application_for_offering_id_<%= group_application.application_for_offering.id %>">
				<%= radio_button_tag :application_for_offering_id, group_application.application_for_offering.id, false, class: "with-gap" %>
				<span style="color:#333"><strong><%= strip_tags group_application.application_for_offering.project_title || "(no title)" %></strong>
				(group member)</span>
				<div class="left-indent">
					<small class="light">
						Started <%= relative_timestamp group_application.application_for_offering.created_at %>; 
						 Last updated <%= relative_timestamp group_application.application_for_offering.updated_at %>.</small>
				</div>
			</label>
			</p>
		<% end %>
	  </div>
    </div>
  </div>
  <div class="card-action">
	<%= f.submit "Select", data: {:disable_with => "Logging in to your application..."}, class: 'btn' %>	
   </div>
<% end %>
</div>