<h5><i class="material-icons vertical_top">filter_list</i> Filters</h5>

<%= search_form_for @search, url: opportunities_path do |f| %>
	
	<label>Discipline</label>
		<%= f.collection_select :research_area1_or_research_area2_or_research_area3_or_research_area4_in, ResearchArea.order(:name), :id, :name , {include_blank: 'Any'}, {class: 'chosen-select'} %>

	<label>Keyword</label>
		<%= f.search_field :title_or_department_or_description_cont, :placeholder => "Title, department, description" %>
		
	<label>Research Mentor/Contact</label>
		<%= f.search_field :name_or_email_or_description_cont, :placeholder => "Name or email" %>

	<label>Paid?</label>
		<%= f.select :paid_true, options_for_select([['Yes', 'true' ],[ 'No', 'false']], @search.paid_true), {include_blank: "Any"}, {class: 'browser-default'}  %>

	<label>Work study?</label>
		<%= f.select :work_study_true, options_for_select([['Yes', 'true' ],[ 'No', 'false']], @search.work_study_true), {include_blank: "Any"}, {class: 'browser-default'}  %>

	<label>Eligible for credit?</label>
	<%= f.select :eligible_for_credit, options_for_select([['Yes', 'true' ],[ 'No', 'false']], @search.eligible_for_credit), {include_blank: "Any"}, {class: 'browser-default'}  %>

	<label>Location</label>
		<%= f.select :location_in, options_for_select(['UW Seattle', 'UW Bothell', 'UW Tacoma', 'Off campus – South Lake Union', 'Off campus – Fred Hutch Cancer Research Center', 'Off campus – Seattle Children’s', 'Off campus – Other'], @search.location_in), {include_blank: 'Any'}, {class: 'browser-default'} %>

	<label>Availability</label>
	<%= f.select :availability_in,options_for_select([
            ['Available Until Filled (Closes once filled)', 'Available Until Filled'],
            ['Available All Year (Positions continuously available)', 'Available All Year'],
            ['Available Quarterly (Positions available about every quarter)', 'Available Quarterly'],
            ['Other (See opportunity description)', 'Other']], @search.availability_in), {include_blank: 'Any'}, {class: 'browser-default'} %>

	<br><br>
	<%= f.submit 'Filter', :class => 'btn' %>
	<%= link_to "CLEAR FILTERS", opportunities_path, :class => 'clear_filter' %>

<% end %>