<div class='panel'>	
  <div class='panel_contents'>
    <div class='content-block output'>
		<h1>Edit Query Output</h1>

		<p>
		  Select the fields that should be included in this query's output from the list at left. Selecting an item will add it to the list in the box at right.
		  You can change the order of the output fields by dragging the
		  <span class="mi">swap_vert</span> icon and moving the field to the desired position.
		  To remove a field from the list, simply click on it again.
		</p>

		<% codes = (["id"] + Array(@objects.first.class::PLACEHOLDER_CODES) rescue []) %>
		<% associations = @objects.first.class::PLACEHOLDER_ASSOCIATIONS rescue [] %>

		<div class="selected population_field_codes big-border box right" style='width: 60%; padding:7px;'>
		  <h4><i class='mi uw_purple'>ballot</i> Output Fields
		    <span id="save_output_fields_status" class="right"></span>
		  </h4>
		  <ul id="selected_population_field_codes" class="sortable">
		    <% @population.output_fields.each do |output_field| %>
		      <% output_field = CGI.unescapeHTML(output_field) %>
		      <% code = if output_field =~ /^CUSTOM_OUTPUT_FIELD\((.+)\):(.+)/
		                  output_field
		                elsif output_field.include?(".")
		                  output_field.split(".")[1..-1].join(".")
		                else
		                  output_field
		                end %>

		      <%= render partial: "codes", 
		                 object: [code], 
		                 locals: { 
		                   prefix: (output_field.include?(".") ? output_field.split(".").first : nil),
		                   association_name: (output_field.include?(".") ? output_field.split(".").first.titleize : @objects.first.class.to_s.titleize),
		                   selected: true 
		                 } %>
		    <% end %>
		  </ul>

		  <%= render partial: "new_output_field" %>
		</div>

		<ul class="population_field_codes" id="all_population_field_codes">
		  <%= render partial: "codes_container", locals: { codes: codes, associations: associations } %>
		</ul>

		<%= text_area_tag :output_fields, @population.read_attribute(:output_fields), rows: 5, cols: 60, style: "display:none" %>

		<script>
		  var commitOutputFieldsURL = "<%= url_for(action: 'save_output_fields') %>";

		  $(document).on('turbolinks:load', function() {
		    restorePopulationFieldCodesSortable();
		  });
		</script>

		<br class="clear">

		<%= link_to '<i class="mi md-18">done_outline</i> Done'.html_safe, admin_query_path(@population), class: "button" %>
    </div>
  </div>
</div>