<h5 id="filters"><i class="fi-filter"></i> Filters</h5>

<div class="scholarship_filters">
	<%= search_form_for @search, url: mge_scholars_path do |f| %>
		<label>Student Name</label>
			<%= f.search_field :person_full_name_cont, :placeholder => "firstname lastname" %>
			
		<label>Student Major</label>
				<%= select_tag :student_major,  options_for_select([["Majors (#{@majors.size})", nil]] + @majors.map{|k,v| ["#{k} (#{v.size})", k]}.sort, 	params[:student_major]) %>								
			
		<label>Quarter Awarded</label>
			<%= f.collection_select :offering_quarter_offered_id_in,  Offering.select("DISTINCT quarter_offered_id").where(unit_id: 2).map(&:quarter_offered).compact.sort_by{|q| [q.year, q.quarter_code]}.reverse, :id, :title , {include_blank: false}, {multiple: true, class: 'chosen-select'}  %>
		
		<label>Type of Scholarship</label>
			<%= f.select :offering_name_in,  options_for_select(Offering.select("DISTINCT name").where(unit_id: 2).where.not(id: [427,215,220,247]).collect(&:name), @search.offering_name_in), {include_blank: false}, {multiple: true, class: 'chosen-select'}  %>
		
		<label>Mentor Name</label>
			<%= text_field_tag :mentor_name, params[:mentor_name], :placeholder => 'firstname lastname' %>		

		<label>Mentor Department</label>
			<%= select_tag :mentor_department,	options_for_select([["Departments (#{@mentor_departments.size})", nil]] + @mentor_departments.map{|k,v| ["#{k} (#{v.size})", k]}.sort,	params[:mentor_department]) %>
																				
		<%= f.submit 'Filter', :class => 'button' %>
		<%= link_to "Clear Filters", mge_scholars_path, :class => 'button clear_filter' %>

	<% end %>
</div>