<h5><i class="material-icons vertical_top">filter_list</i> Filters</h5>

<%= search_form_for @search, url: mge_scholars_path do |f| %>
	<label>Student Name</label>
		<%= f.search_field :person_full_name_cont, :placeholder => "firstname lastname" %>
	<br>
	<label>Student Major</label>
			<%= select_tag :student_major, options_for_select([["Majors (#{@majors.size})", nil]] + @majors.map{|k,v| ["#{k} (#{v.size})", k]}.sort, params[:student_major]), {class: 'browser-default'}  %>
	<br>
	<label>Quarter Awarded</label>
		<%= f.collection_select :offering_quarter_offered_id_in, Offering.joins(:quarter_offered).where("TRIM(offerings.name) IN (?)", ['Mary Gates Research Scholarship', 'Mary Gates Leadership Scholarship']).where("quarters.year >= ?", 3.years.ago.year).includes(:quarter_offered).map(&:quarter_offered).compact.uniq.sort_by { |q| [q.year, q.quarter_code] }.reverse, :id, :title , {include_blank: false}, {multiple: true, class: 'chosen-select'}  %>
	
	<label>Type of Scholarship</label>
		<%= f.select :offering_name_in, options_for_select(Offering.joins(:quarter_offered).where("TRIM(offerings.name) IN (?)", ['Mary Gates Research Scholarship', 'Mary Gates Leadership Scholarship']).where("quarters.year >= ?", 3.years.ago.year).collect(&:name).uniq, @search.offering_name_in), {include_blank: false}, {multiple: true, class: 'chosen-select'}  %>
	
	<label>Mentor Name</label>
		<%= text_field_tag :mentor_name, params[:mentor_name], :placeholder => 'firstname lastname' %>		
	<br><br>
	<label>Mentor Department</label>
		<%= select_tag :mentor_department, options_for_select([["Departments (#{@mentor_departments.size})", nil]] + @mentor_departments.map{|k,v| ["#{k} (#{v.size})", k]}.sort, params[:mentor_department]),  {class: 'browser-default'} %>
	<br>
	<label>Campus</label>
	<%= select_tag :student_campus, options_for_select([["Campus (#{@campus.size})", nil]] + @campus.map{|k,v| ["#{k} (#{v.size})", k]}.sort, params[:student_campus]), {class: 'browser-default'}  %>
		<%#= select_tag :campus_codes, options_for_select([["Seattle", 0], ["Bothell", 1], ["Tacoma", 2]], params[:campus_codes]), {multiple: true, class: 'chosen-select'} %>
	<br><br>
	<%= f.submit 'Filter', :class => 'btn' %>
	<%= link_to "CLEAR FILTERS", mge_scholars_path, :class => 'clear_filter' %>

<% end %>