<% title(@committee.name, "Committee Login") %>
<div class="card content">
<h5><%= @committee.meetings_alt_title.blank? ? "Meetings &amp; Trainings" : @committee.meetings_alt_title %></h5>

<%= form_for @committee_member, :url => { :action => 'meetings' } do |f| %>

<%= render "shared/error_messages", :target => @committee_member %>

<dl class="big numbers">

	<dt>6</dt>
	<dd>
		<% default_text = "<strong>We are offering the following meeting/training times:</strong>" %>
		<%= @committee.meetings_text.blank? ? default_text : textilize(@committee.meetings_text) %>

		<ul class="bulletless">
		<% @committee_member.committee_member_meetings.future.each do |committee_member_meeting| %>
			<%= fields_for "committee_member[committee_member_meeting_attributes][#{committee_member_meeting.id}]", committee_member_meeting do |cmm_form| %>

				<li style="margin-top: 2em">
					<label>
						<%= cmm_form.check_box :attending, class: 'filled-in' %>
						<span><big><%= committee_member_meeting.meeting.title %></big></span>
					</label>
					<div style="margin-left: 2em">
						<strong>Date/Time: </strong><%= committee_member_meeting.meeting.start_date.to_s(:date_time12) %> - <%= committee_member_meeting.meeting.end_date.to_s(:time12) %>
						<%= "<br><strong>Location:</strong> #{committee_member_meeting.meeting.location}".html_safe unless committee_member_meeting.meeting.location.blank? %>
						<%= "<div style=''><br>#{committee_member_meeting.meeting.description}</div>".html_safe if committee_member_meeting.meeting.description %>
						<small>Comments? <%= cmm_form.text_field :comment %></small>
					</div>
				</li>

			<% end %>
		<% end %>
		</ul>

	</dd>

</dl>

<center>
	<%= f.submit "Next →", :disable_with => 'Submitting...', class: 'btn' %>
</center>

<% end -%>
</div>
<% sidebar :which, :sidebar_nav %>