<h1>Edit My Contact Information
	<span class="light right"><small>Updated <%= time_ago_in_words @person.updated_at rescue "unknown" %> ago</small></span></h1>

<p>Please take a moment to update your contact information in our system.</p>

<%= error_messages_for :person %>

<% form_for :person, @person do |person_fields| %>

	<dl class="inline-definitions">
		<%= render :partial => "admin/organizations/contacts/person_fields", :object => person_fields %>
	</dl>

    <%= person_fields.submit "Update", :disable_with => "Updating contacting information..." %>

	<%= "<input type=hidden name='to' value='#{params[:to]}'>" if params[:to] %>

<% end %>