<% title(@committee.name, "Committee Login") %>
<div class="card content">
<h5>Identify Your Specialty</h5>

<%= form_for @committee_member, url: { action: 'specialty' } do |f| %>
  
<%= render "shared/error_messages", :target => @committee_member %>

<dl class="big numbers input-field">

	<dt>3</dt>
	<dd><strong>In what department are you?</strong>
		<p>If you have multiple departments, please list the department that is most related to your specialty listed below.</p>
		<p><%= f.text_field :department, placeholder: 'your department..', class: 'charcounter', data: {length: 250}, maxlength: 250 %></p></dd>

	<dt>4</dt>
	<dd><strong>Please list your areas of research/expertise/specialty:</strong>
		<p>This helps us assign you to the applications that are most relevant to your field.</p>
		<p><%= f.text_field :expertise, placeholder: 'areas of research/expertise/specialty..', class: 'charcounter', data: {length: 250}, maxlength: 250 %></p>
		</dd>

	<dt>5</dt>
	<dd><strong>If you have one, please provide the website URL of your research:</strong>
		<p>If we need more detailed information about your research/expertise/specialty, this can help us learn more.</p>
		<p><%= f.text_field :website_url, placeholder: 'http://', class: 'charcounter', data: {length: 250}, maxlength: 250 %></p>
		</dd>

</dl>

<center>
	<%= f.submit "Next →", :disable_with => 'Submitting...', class: 'btn' %>
</center>

<% end %>
</div>
<% sidebar :which, :sidebar_nav %>