<dl class="inline-definitions">
  <dt>Student <%= content_tag('abbr', '*', title: "required") %></dt>
  <dd>
    <div id="student_name">
      <%= render partial: "student_name", object: f.object.student if f.object.student.present? %>
    </div>

    <div id="student_id_form" style="<%= 'display:none' if f.object.student.present? %>">
      <strong>Student Number or UW NetID:</strong>

      <%= text_field_tag :student_id,
                         nil,
                         class: ["browser-default", (f.object.errors[:system_key].present? ? "fieldWithErrors" : nil)].compact.join(" "),
                         data: { lookup_url: student_search_accountability_reporting_individuals_path(@year, format: :js) } %>
      
      <span><%= image_tag('loading.gif', id: "student_id_indicator", class: 'indicator loading', style: 'display: none;') %></span>
      <p class="caption">
        Enter a student number or UW NetID (omit “@uw.edu”). Press Enter or click outside the field to run the lookup.
      </p>
    </div>

    <div class="error-message" id="student_id_form_error"></div>
    
    <%= f.hidden_field :system_key %>
  </dd>

  <dt>Activity Type <%= content_tag('abbr', '*', title: "required") %></dt>
  <dd>    
    <%= f.collection_select :activity_type_id, @activity_types, :id, :title, { prompt: "Choose a activity type" }, class: 'select2', style: 'width: 50%' %>
    <p class="caption">How should this activity be categorized?</p>
  </dd>

  <dt>Project Title <%= content_tag('abbr', '*', title: "required") %></dt>
  <dd>
    <%= f.text_field :title %>
    <p class="caption">This should be the project title or brief description of the work.</p>
  </dd>

  <dt>Faculty/Supervisor<br>Name <%= content_tag('abbr', '*', title: "required") %></dt>
  <dd>
    <%= f.text_field :faculty_name, style: "width: 50%" %>
    <p class="caption">Enter the supervising faculty person's name.</p>
  </dd>

  <dt>Faculty/Supervisor<br>UW NetID <%= content_tag('abbr', '*', title: "required") %></dt>
  <dd>
    <%= f.text_field :faculty_uw_netid, style: "width: 25%" %>
    <p class="caption">
      Enter the supervising faculty person's UW NetID (the part before the @ symbol
      in their @uw.edu email address).
    </p>
  </dd>

  <% @quarters.each do |quarter| %>
    <% aq = f.object.quarters.find_by(quarter_id: quarter.id) %>

    <dt><%= quarter.title %></dt>
    <dd class="<%= 'fieldWithErrors' if @quarters_error.present? %>">
      <% hours_value =
           params.dig(:quarter_hours, quarter.id.to_s).presence ||
           aq&.hours_per_week.presence ||
           aq&.number_of_hours %>

      <%= text_field_tag "quarter_hours[#{quarter.id}]", hours_value, size: 5, class: "browser-default" %> hour(s)      
      
        <label>
          <%= radio_button_tag "quarter_calculation[#{quarter.id}]",
                               "hours_per_week",
                               ((params[:quarter_calculation][quarter.id.to_s] == 'hours_per_week' rescue false) || !aq.try(:hours_per_week).blank? || true),
                               id: "quarter_calculation_#{quarter.id}_hours_per_week",
                               class: "with-gap" %>
          <span>per week</span>
        </label>

        <span class="grey-text text-darken-1" style="margin: 0 8px;">- OR -</span>

        <label>
          <%= radio_button_tag "quarter_calculation[#{quarter.id}]",
                               "number_of_hours",
                               ((params[:quarter_calculation][quarter.id.to_s] == 'number_of_hours' rescue false) || !aq.try(:read_attribute, :number_of_hours).blank?),
                               id: "quarter_calculation_#{quarter.id}_number_of_hours",
                               class: "with-gap" %>
          <span>total for the quarter</span>
        </label>
      
    </dd>
  <% end %>
</dl>