<% editable = (editable === false) ? false : true %>

<tr id="activity_<%= individual.id %>" class="<%= "green-background" if params[:success_ids] && params[:success_ids].include?(individual.id.to_s) %>">
	<td><%=h individual.student.fullname %></td>
	<td title="<%= h(individual.title) %>"><span class='tooltip'><%= truncate(h(individual.title)) %></span>
</td>
	<td><%=h individual.faculty_name %></td>

	<% @quarters.each do |quarter| %>
	<td class="center"><% if aq = individual.quarters.find_by_quarter_id(quarter) %>
			<% hours_note = "<strong>#{pluralize(aq.hours_per_week, "hour")}</strong>
			 				per week<br>" unless aq.hours_per_week.blank? %>
			<span class="tooltip">
			  <%= aq.number_of_hours %>
			  <span class="tooltiptext">
			    <%= hours_note.html_safe %><strong><%= pluralize(aq.number_of_hours, "hour") %></strong> total for quarter
			  </span>
			</span>
		<%- else -%>
			<span class="light">&ndash;</span>
		<% end -%>
		</td>
	<% end -%>
	
	<% if editable && !@accountability_reports[individual.activity_type_id].finalized? %>
		<td align=center>
		<%= link_to "<i class='mi'>edit</i>".html_safe, 
					edit_accountability_reporting_individual_path(@year, individual) %></td>
		<td align=center>
			<%= link_to "<i class='mi'>delete_forever</i>".html_safe, accountability_reporting_individual_path(@year, individual),
			                method: :delete,
			                remote: true,
			                data: { confirm: "Are you sure you want to remove this individual?", disable_with: "Deleting..."} %>		
		</td>
	<% end %>
	
</tr>
