<% editable = (editable === false) ? false : true %>

<tr id="activity_<%= individual.id %>" class="<%= "green-background" if params[:success_ids] && params[:success_ids].include?(individual.id.to_s) %>">
	<td><%=h individual.student.fullname %></td>
	<td><%= content_tag :a, truncate(h(individual.title)), :title => h(individual.title) %></td>
	<td><%=h individual.faculty_name %></td>

	<% for quarter in @quarters %>
	<td class="center"><% if aq = individual.quarters.find_by_quarter_id(quarter) %>
			<% hours_note = "<strong>#{pluralize(aq.hours_per_week, "hour")}</strong>
			 				per week<br>" unless aq.hours_per_week.blank? %>
			<%= tooltip aq.number_of_hours, 
						"#{hours_note}<strong>#{pluralize(aq.number_of_hours, "hour")}</strong> total for quarter" %>
		<%- else -%>
			<span class="light">&ndash;</span>
		<% end -%>
		</td>
	<% end -%>
	
	<% if editable && !@accountability_reports[individual.activity_type_id].finalized? %>
		<td align=center>
		<%= link_to "<span>Edit</span>", 
					edit_accountability_reporting_individual_url(@year, individual), 
					:class => 'icon-left no-text edit' %></td>
		<td align=center>
		<%= link_to_remote "<span>Remove</span>", 
							{:url => accountability_reporting_individual_url(@year, individual), 
							:method => :delete,
							:confirm => "Are you sure you want to remove this individual?",
							:indicator => 'global'},
							:class => 'icon-left no-text trash' %>
		</td>
	<% end -%>
	
</tr>
