<% title "#{@activity.id} » Edit Individual Activity " %>

<div class="card content">
  <h5>
    <i class="mi uw_purple">edit</i>
    Edit Individual Activity
  </h5>

  <%= form_for @activity,
               as: :activity,
               url: accountability_reporting_individual_path(@year, @activity),
               html: { method: :put } do |f| %>

    <%# Rails 5.2 doesn’t include f.error_messages by default %>
    <% if @activity.errors.any? %>
      <div class="card-panel red lighten-5">
        <strong><%= pluralize(@activity.errors.count, "error") %> prohibited this record from being saved:</strong>
        <ul>
          <% @activity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: "fields", locals: { f: f } %>

    <%= f.submit "Save", data: { disable_with: "Saving..." }, class: 'btn' %>
    <span class='margin_left'>
    <%= link_to "Cancel",
                accountability_reporting_individuals_path(@year) %></span>
  <% end %>
</div>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/individuals/sidebar/faq" %>
  </div>
<% end %>