<% title "#{@year} Individual - Accountability Reporting" %>

<div class="card content">
  <h5>
    <i class="mi uw_purple">people</i>
    <%= @year %> Individual Involvement
    <small class="light">&raquo; <%= @department.name %></small>
  </h5>

  <%= raw HelpText.caption :reporting_interface_report_individual, AccountabilityReport %>
</div>

<% @activity_types.each do |activity_type| %>
  <div class="card content">
    <h6><%= activity_type.title %> Individuals</h6>

    <%= render partial: "accountability/reporting/finalized_note" if @accountability_reports[activity_type.id].finalized? %>

    <table class="highlight" id="sortable-table-<%= activity_type.id %>">
      <tr class="small">
        <th class="sortfirstasc"><div class="sort-icon">Student</div></th>
        <th><div class="sort-icon">Project Title</div></th>
        <th><div class="sort-icon">Faculty</div></th>

        <% @quarters.each do |q| %>
          <th class="center number">
            <div class="sort-icon"><%= q.quarter_code.name %><br><%= q.year %></div>
          </th>
        <% end %>

        <th colspan="2">Functions</th>
      </tr>

      <%= render partial: "individual", collection: @activities[activity_type.id] %>

      <% if @activities[activity_type.id].empty? %>
        <tr class="light borderless" id="empty_<%= activity_type.id %>">
          <td colspan="<%= @quarters.size + 4 %>">No individuals reported</td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/sidebar/navigation" %>
  </div>
<% end %>

<% unless @finalized %>
  <% content_for(:sidebar) do %>
    <div class="sideblock card sidebar_nav">
      <%= render partial: "accountability/reporting/individuals/sidebar/add_individual" %>
    </div>
  <% end %>
<% end %>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/individuals/sidebar/faq" %>
  </div>
<% end %>