<% title "Upload #{@year} Individual Activity " %>
<div class="card content">
  <h5>
    <i class="mi uw_purple">people</i>
    Upload <%= @year %> Individual Involvement File
  </h5>

  <%= raw HelpText.caption :reporting_interface_report_courses_note, AccountabilityReport %>
</div>

<div class="card content">
  <p>
    Use this page to upload a file containing all of your individual student involvement.
    You can use this page multiple times to upload multiple sets of data.<br>
    <strong>
      Start and follow an instruction below and <%= link_to "<i class='mi' style='width:24px;'>sim_card_download</i> Download Excel template".html_safe,
                  "https://expd.uw.edu/expd/wp-content/uploads/individual_reporting_template_#{@year}.xls",
                  class: 'btn small'  %>
    </strong>
  </p>

  <h6>Instruction:</h6>
  <ul class="list_style pretty">
    <li>Student Number <span class="light">(e.g., "0123456")</span> or UW NetID <span class="light">(e.g., "hhusky")</span></li>
    <li>Project Title <span class="light">(either a research or service project title or community partner organization name)</span></li>
    <li>Activity Type <span class="light">(use the words exactly "Public Service", "Undergraduate Research", or "Internship")</span></li>
    <li>Faculty UW NetID <span class="light">(e.g., "jdecosmo")</span></li>
    <li>Faculty Name</li>
    <% @quarters.each do |quarter| %>
      <li>Hours per week in <%= quarter.title %></li>
    <% end %>
  </ul>

  <%= form_tag upload_map_accountability_reporting_individuals_path(@year),
               method: :put,
               multipart: true do %>

    <div class="highlight_box">
      
      <strong><%= label_tag :upload_file, "<i class='mi uw_purple'>upload_file</i>Choose a file to upload:".html_safe %></strong>

      <%= file_field_tag "upload[file]" %>
      <%= submit_tag "Continue", class: 'btn small' %>
    </div>
  <% end %>
</div>

<% content_for(:sidebar) do %>
  <div class="sideblock card sidebar_nav">
    <%= render partial: "accountability/reporting/individuals/sidebar/faq" %>
  </div>
<% end %>