<% title "Choose Department" %>
<div class="card content">
  <h4>Welcome, <%= @my.firstname %>.</h4>

  <p>
    You're authorized to report accountability numbers for multiple departments. Please select the department that you'd like to view or edit right now.
    You will be able to come back to this page later to make changes to your other department(s).
  </p>

  <%= form_tag do %>
    <ul class="link-list">
      <% @department_authorizations.each do |dauth| %>
        <li>
          <label>
            <%= radio_button_tag :accountability_department_authid, dauth.id, session[:accountability_department_authid].to_i == dauth.id, id: "accountability_department_authid_#{dauth.id}", class: 'with-gap' %>
            <span><%= dauth.authorizable.name %></span>
          </label>
        </li>
      <% end %>
    </ul>

    <br>
    <div class="center-align">
      <%= submit_tag "Continue", class: 'btn' %>
    </div>
  <% end %>
</div>