<table>
<% @offering.interview_timeblocks.each do |t| %>
	<tr>
		<td><%= t.date %></td>
		<td><%= t.start_time.to_s(:time12) %></td>
		<td><%= t.end_time.to_s(:time12) %></td>
		<td><%= link_to "Remove", admin_apply_action_path(@offering, 'remove_interview_timeblock', :id => t), :confirm => "Are you sure?" %></td>
	</tr>
<% end -%>

<% form_for :new_interview_timeblock, :url => admin_apply_action_path(@offering, 'new_interview_timeblock') do |f| %>
	<tr>
		<td><%= f.date_select :date %></td>
		<td><%= f.time_select :start_time, { :minute_step => 15, :twelve_hour => true } %></td>
		<td><%= f.time_select :end_time, { :minute_step => 15, :twelve_hour => true } %></td>
		<td><%= f.submit "Add" %></td>
	</tr>
<% end -%>
</table>