<br>
<span id="assign_reviewer_decision_failure_message" class="warning"></span>

<%= form_with url: admin_apply_assign_review_decision_path(@offering, @phase, @task), id: 'assign_review_decision_form' do |f| %>
  Application ID: <%= f.text_field :app_id, id: 'assign_review_decision_app_id' %>

  Review Decision:
  <%= f.collection_select :decision_type_id, @offering.application_review_decision_types, :id, :title, prompt: true %>

  <%= f.submit "Assign Review Decision", id: 'assign_review_decision_submit', class: 'small' %>
<% end %>

<%#= content_tag :div, id: 'app_mini_details_indicator', class: 'indicator' do %>
  <%#= image_tag('loading.gif', alt: 'Loading...') %>
<%# end %>

<div id="app_mini_details" class="light"></div>

<script>
$(document).on('change', '#assign_review_decision_app_id', function() {
    var appId = $(this).val();
    $.ajax({
      url: '<%= admin_apply_mini_details_path(@offering, @phase, @task) %>',
      method: 'GET',
      data: { app_id: appId, show: 'review_decision' },      
      beforeSend: function() {
        $('#app_mini_details').empty();
      },
      success: function(response) {
      	//console.log("Debug => ", response)
      	if (response && response.trim().length) {
        	// Update the app_mini_details div with the HTML response
	        $('#app_mini_details').html(response);
	        // Clear any failure messages
	        $('#assign_reviewer_decision_failure_message').empty();
	    } else {
	        // Handle case where response is empty or contains error message
	        $('#app_mini_details').empty();
	        // Display a failure message
	        $('#assign_reviewer_decision_failure_message').text('Could not find an application with that ID.');
	    }
      },
      error: function(xhr) {
        $('#app_mini_details').empty();        
      }
    });
  });
</script>