<br>

<span id="assign_reviewer_decision_failure_message" class="error-message"></span>
<span id="assign_reviewer_decision_success_message" class="success-message"></span>

<% remote_form_for :assign_review_decision, 
				:url => admin_apply_action_url(:offering => @offering, 
												:action => 'assign_review_decision', 
												:show => 'review_decision'),
				:html => { :method => :post },
				:update => { :success => "app_mini_details", :failure => "assign_reviewer_decision_failure_message" },
				:success => "$('assign_reviewer_decision_failure_message').update(); 
							$('assign_reviewer_decision_success_message').update('Successfully assigned review decision.'); 
							$('assign_review_decision_app_id').clear();
							$('assign_review_decision_app_id').activate()",
				:failure => "$('assign_reviewer_decision_success_message').update();",
				:indicator => true do |f| %>

	Application ID: <%= f.text_field :app_id, :size => 5 %>

	Review Decision: <%= f.collection_select :decision_type_id, 
											 @offering.application_review_decision_types, 
											 :id, :title, :include_blank => true %>

	<%= f.submit "Assign Review Decision" %>

	<%= indicator %>

<% end -%>

<%= observe_field "assign_review_decision_app_id", 
					:url => admin_app_mini_details_url(@offering, nil),
					:update => { :success => 'app_mini_details', :failure => "assign_reviewer_decision_failure_message" },
					:with => "'show=review_decision&id=' + value",
					:before => "$('app_mini_details').update()",
					:failure => "$('app_mini_details').update(); $('assign_reviewer_decision_success_message').update();",
					:indicator => "app_mini_details_indicator"  %>

<%= indicator "app_mini_details_indicator" %>
<span id="app_mini_details" class="light"></span>

