<% form_for :notify_dean, 
			:url => admin_apply_action_url(:offering => @offering, :action => "notify_dean"), 
			:html => {:id => "change_status_form_#{@task.id}"} do |f| %>

<% 
@apps = []
@task.application_status_types.each{|t| @apps << @offering.applications_with_status(t.name)}
@apps = @apps.flatten.uniq
%>

<%= render :partial => "admin/apply/phase/applicant_list", :locals => { :phase_task => @phase_task, :task => @task } %>

<div id="change_status_<%= @task.id %>_functions" style="display:none">
	<strong>UW NetID of dean (or designee) for approval:</strong>
	<%= text_field_tag :dean_approver_uw_netid, @offering.dean_approver_uw_netid %>
	<br>
	<%= observe_form "change_status_form_#{@task.id}", :function => "$('change_status_#{@task.id}_functions').show()" %>
	Set new status to:
	<select name="new_status">
		<%= options_from_collection_for_select @task.new_application_status_types, :name, :name %>
	</select>
	<%= hidden_field_tag :redirect_to_action, 'phase' %>
	<%= f.submit "Change Statuses and E-mail Notifications" %>
</div>

<% end %>
