<%= form_tag admin_communicate_write_email_url, :id => 'send_email_form' %>

	<div class="big-border box">
		<h4 class="icon-left edit-email">Choose recipients for e-mail:</h4>
		
		Send e-mail to
		<%= select_tag :recipient_variant, options_for_select([['-- Please select --', nil],
																['applicant', nil],
		 														['mentors', 'mentors'],
																['group_members', 'group_members'],
																['reviewers', 'reviewers'],
																['interviewers', 'interviewers']]) %>
			
	</div>

	<div id="send_email_<%= @task.id %>_functions" style="display:none">
		
		<% 
		@apps = []
		@task.application_status_types.each{|t| @apps << @offering.applications_with_status(t.name)}
		@apps = @apps.flatten.uniq
		%>

		<div class="big-border box">
			<h4 class="icon-left select-list">Select applicants:</h4>
			<%= render :partial => "admin/apply/phase/applicant_list", :locals => { :phase_task => @phase_task, :task => @task } %>
		</div>

		<div class="big-border box">
			<h4 class="icon-left make-change">Finish</h4>
			<%= hidden_field_tag :return_to, url_for(:action => 'phase') %>
			<%= hidden_field_tag 'email_template_id', @task.email_templates.first.try(:id) %>
			<%= submit_tag "Go to E-mail Writer" %>
		</div>

	</div>

</form>

<%= observe_form "send_email_form", :function => "$('send_email_#{@task.id}_functions').show()" %>
