<div class="big-border box">
	<h4><i class='mi uw_purple'>mail_outline</i> Update e-mails:</h4>
	<table class='borderless'>
		<% @task.email_templates_array.each do |t| %>
			<tr><td width=40%><%= link_to t.name.titleize, admin_template_path(t), target: '_blank' %></td>
				<td width=60%>Last updated <%= relative_timestamp(t.updated_at) %></td>
			</tr>
		<% end -%>
	</table>
</div>

<%= form_with url:admin_apply_send_interviewer_invite_emails_path(@offering, @phase, @task), id: "send_interviewer_invite_emails_#{@task.id}" do |f| %>

<div class="big-border box">
	<h4><i class='mi uw_purple'>playlist_add_check</i> Select Interviewers:</h4>
	<table class='borderless'>
		<tr class="small table-header uw_light_bg_gold">
			<th><%= select_all_check_box :send_interviewer_invite_emails %></th>
			<th>Interviewer Name</th>
			<% @task.extra_fields.each do |t| %>
				<th><%= t.title %></th>
			<% end -%>
		</tr>

		<% for interviewer in @offering.interviewers.select{|object| eval(@task.reviewer_list_criteria) rescue true}.sort_by(&:fullname) %>
		<tr>
			<td><%= select_check_box(interviewer, :send_interviewer_invite_emails) %></td>
			<td><%= interviewer.fullname %></td>
			<% @task.extra_fields.each do |t| %>
				<td><%= raw t.display(interviewer) %></td>
			<% end -%>
		</tr>
		<% end -%>

	</table>
	<br>
	<%= hidden_field_tag :email_template_id, @task.email_templates_array.first.id %>
	<%= f.submit "Queue invite emails to interviewers", :name => "send_interviewer_invite_emails" %>

</div>
<% end %>