<%= form_with url: admin_apply_send_reviewer_invite_path(@offering, @phase, @task), id: "send_reviewer_invite_emails_#{@task.id}" do |f| %>
<br>
	<table class='borderless'>
		<tr class="small table-header uw_light_bg_gold">
			<th><%= select_all_check_box :send_reviewer_invite_emails %></th>
			<th>Reviewer Name</th>			
			<th>Applications to Review</th>
			<th>Reviews Finalized?</th>
			<% @task.extra_fields.each do |t| %>
				<th><%= t.title %></th>
			<% end -%>
		</tr>
		
		<% for reviewer in @offering.reviewers.select{|object| eval(@task.reviewer_list_criteria) rescue true}.sort_by(&:fullname) %>
		<tr>
			<td><%= select_check_box(reviewer, :send_reviewer_invite_emails) %></td>
			<td><%= link_to reviewer.fullname, admin_committee_member_path(reviewer.try(:committee), reviewer), target: '_blank' %></td>
			<td><%= reviewer.applications_for_review.for(@offering.id).size %></td>
			<td><%= raw reviewer.application_reviewers.for(@offering.id).select{|r| r.finalized?}.empty? ? "<span class='red_color'>Not finalized</span>" : "<span class='uw_green'>Finalized</span>" rescue "<span class='red_color'>Error</span>" %></td>
			<% @task.extra_fields.each do |t| %>
				<td><%= t.display(reviewer) %></td>
			<% end -%>
			
		</tr>
		<% end -%>

	</table>
	<br>
	<%= hidden_field_tag :email_template_id, @task.email_templates_array.first.id rescue nil %>
	<%= f.submit "Queue emails to reviewers", :name => "send_reviewer_invite_emails" %>

<% end %>