<%= form_with url: admin_apply_send_to_financial_aid_path(@offering, @phase, @task) do |f| %>

<% @apps_awaiting_acceptance = @offering.application_for_offerings.awaiting_financial_aid_approval %>

<p>There are <%= pluralize @apps_awaiting_acceptance.size, "application" %> waiting for financial aid approval.
(<%= link_to "toggle the full list", "#", data: {link_toggle: "#applicant_list_#{@task.id}"}  %>)</p>

<div id="applicant_list_<%= @task.id %>">
<table class="borderless highlightless">
	<tr>
		<th>Student Name</th>
		<th>Awarded?</th>
		<th>Dean Approved?</th>
	</tr>

	<% for @application_for_offering in @apps_awaiting_acceptance %>
	<% a = @application_for_offering %>
		<tr>
			<td><%= check_box_tag "select[#{a.id}]", a.id %>
				<%= a.person.fullname %></td>
			<td><%= raw(a.awarded? ? "<span class='mi uw_green'>check_circle</span>" : "") %></td>
			<td><%= raw(a.dean_approved? ? "<span class='mi uw_green'>check_circle</span>" : "") %></td>
		</tr>

	<% end %>

</table>
</div>

<div class="big-border box">
<h4><i class='mi uw_purple'>approval</i> Financial Aid Approval</h4>
<strong>UW NetID of financial aid approver:</strong>
<%= text_field_tag :financial_aid_approver_uw_netid, @offering.financial_aid_approver_uw_netid %>

<br>
<strong>UW NetID of fund disburser:</strong>
<%= text_field_tag :disbersement_approver_uw_netid, @offering.disbersement_approver_uw_netid %>

<br>
<%= hidden_field_tag "new_status", "awaiting_financial_aid_approval" %>
<%= f.submit "Send Request for Financial Aid Eligibility Approval", class: 'small' %>
<em class="light"><%= "Last sent #{time_ago_in_words(@offering.financial_aid_approval_request_sent_at)} ago." rescue nil %></em>
</div>

<% end %>
