<h3><strong class="icon-left add">1. Add Courses From Last Year</strong></h3>

<ul class="link-list" id="last_years_links">
	<% for activity_type in @activity_types %>
		<% unless @accountability_reports[activity_type.id].finalized? %>
			<li><%= link_to_function "Add #{@year-1} #{activity_type.title} courses (#{@last_years_activities[activity_type.id].uniq.size})", 
				"Effect.toggle('last_years_courses_#{activity_type.id}', 'blind', {duration: 0.25}); $('last_years_links').hide()" %></li>
		<% end -%>
	<% end -%>
</ul>

<% for activity_type in @activity_types %>
<div id="last_years_courses_<%= activity_type.id %>" style="display:none">
	Shown below are last year's <%= activity_type.title %> courses. Choose the ones you'd like to report again 
	this year and click "Add courses."

	<% form_for :activity, :url => mass_add_accountability_reporting_courses_path(@year) do |course_form| %>

		<br>
		<table>
	
			<tr class="rowset-header">
				<td><%= activity_type.title %> Courses</td>
			</tr>
	
			<% for course_abbrev in @last_years_activities[activity_type.id].uniq %>
			<tr>
				<td><%= check_box_tag "course_abbrevs[]", course_abbrev, false, :id => "course_abbrevs_#{course_abbrev.hash}" %>
					<%= label_tag "course_abbrevs_#{course_abbrev.hash}", course_abbrev %>
					</td>
			</tr>
			<% end -%>
	
			<% if @last_years_activities[activity_type.id].empty? %>
			<tr class="empty">
				<td>No courses</td>
			</tr>
			<% end -%>

		</table>
		<%= hidden_field_tag :activity_type_id, activity_type.id %>
		<% unless @last_years_activities[activity_type.id].uniq.empty? %>
			<%= course_form.submit "Add Courses" %>
			<%= separator %>
		<% end -%>
		<%= link_to_function "Cancel", "$('last_years_courses_#{activity_type.id}').hide(); $('last_years_links').show()", :class => 'cancel button' %>

	<% end -%>
</div>
<% end -%>