<% form_for :accept_interview_decisions, :url => { :action => "accept_interview_decisions" } do |f| %>

<% @apps_awaiting_acceptance = @apps.reject {|a| a.current_status_name != "interview_decision" || !a.awarded_by_interview_committee? } %>
<table>

	<tr>
		<th>Student Name</th>
		<th>Interview Committee</th>
		<th>Committee Decision</th>
	</tr>

	<% for @application_for_offering in @apps_awaiting_acceptance %>
	<% a = @application_for_offering %>
		<tr>
			<td><%= check_box_tag "select[#{a.id}]", a.id %>
				<%= a.person.fullname %></td>
			<td class="smaller"><%= a.interview.interviewer_list("<br>") %> <% # TODO -------- add "feedback person" %></td>
			<td><%= a.interview_committee_decision %>
				<% if a.includes_contingency? %>
					(<%= link_to_function "view terms", "Element.toggle(contingency_terms_#{a.id})" %>)
					<div style="display:none; width: 200px" class="yellow box" id="contingency_terms_<%= a.id %>">
						<strong>Contingency Terms:</strong>
						(<%= link_to_function "hide", "Element.toggle(contingency_terms_#{a.id})" %>)
						<br><%= simple_format a.contingency_terms %>
					</div>
					<div class="smaller">
						<% fields_for "application_for_offering[]" do |fa| %>
					    	<br>Check up by: <%= fa.date_select :contingency_checkin_date,
					 											:order => [:month, :day, :year], 
																:use_short_month => true %>
					  	<% end %>
					</div>
				<% end %>
				</td>
		</tr>

	<% end %>

</table>
<br>
<strong>UW NetID of dean (or designee) for approval:</strong>
<%= text_field_tag :dean_approver_uw_netid, @offering.dean_approver_uw_netid %>

<%= hidden_field_tag "new_status", "awaiting_dean_approval" %>
<%= f.submit "Accept Decisions and Notify Dean" %>

<% end %>
