<% form_for :approve_review, :url => { :action => "mass_update" } do |f| %>

<table>
	
	<tr>
		<th>Student Name</th>
		<th>Project Title</th>
		<th>Approve?</th>
	</tr>
	
	<% started = false %>
	<% ApplicationReviewDecisionType.find(:all).each do |d| %>
		<tr class="rowset-header">
			<td colspan=3>
				<%= d.title %>
				<%= status_email_view_links(d.application_status_type, @offering, true, {:class => "light right"}) %>
			</td>
		</tr>

		<% d.assigned_applications.each do |a| %>
			
			<% if a.current_status_name == 'reviewed' %>
			<% started = true %>
			<tr>
				<td><%= a.person.fullname %></td>
				<td><%= link_to a.project_title || "(no title)", :action => "show", :id => a.id %></td>
				<td><%= check_box_tag "approve_review[#{a.id}]", d.application_status_type.name %></td>
			</tr>
			<% end %>
			
		<% end %>
		
	<% end %>
	
</table>

<p align=right><%= f.submit "Approve Reviews & Queue E-mails" %></p>

<% end %>