<% form_for :approve_applications, :url => { :action => "mass_status_change" } do |f| %>

<h4>Edit E-mail texts:</h4>
	<ul>
	<li>For Not Awarded / Incomplete applications:
		<%= status_email_view_links(ApplicationStatusType.find_by_name("not_awarded_incomplete"), @offering, true, {}, nil) %></li>
	<li>For Not Awarded / Not Submitted applications:
		<%= status_email_view_links(ApplicationStatusType.find_by_name("not_awarded_not_submitted"), @offering, true, {}, nil) %></li>
	<li>For Not Awarded / Not Started applications:
		<%= status_email_view_links(ApplicationStatusType.find_by_name("not_awarded_not_started"), @offering, true, {}, nil) %></li>
	</ul>

<hr>

<h4>Assign new statuses:</h4>

<% @apps = @apps.sort.reject {|a| !a.current_status.nil? && a.current_status_name != "new" && a.current_status_name != "in_progress" && a.current_status_name != "submitted" } %>

<table>
	
	<tr>
		<th>Student Name</th>
		<th>Project Title</th>
		<th>Current Status</th>
	</tr>
	
	<% current_status_section = nil %>
	<% @apps.each do |a| %>
		
		<% if current_status_section != (a.current_status.nil? ? nil : a.current_status.status_type) %>
			<tr class="rowset-header">
				<td colspan=3>
					<%= print_status(a) %>
					</td>
			</tr>
		<% end %>
		<% current_status_section = a.current_status.nil? ? nil : a.current_status.status_type %>
		
		<tr>
			<td><%= check_box_tag "select[#{a.id}]", a.id %>
				<%= a.person.fullname %></td>
			<td><%= link_to a.project_title || "(no title)", :action => "show", :id => a.id %></td>
			<td><%= print_status(a) %></td>
		</tr>
		
	<% end %>
	
</table>

<p>Set status to:
	<select name="new_status">
		<option value="">-- Select --</option>
		<option value="not_awarded_incomplete">Not Awarded / Incomplete</option>
		<option value="not_awarded_not_submitted">Not Awarded / Not Submitted</option>
		<option value="not_awarded_not_started">Not Awarded / Not Started</option>
	</select>
	
	<%= f.submit "Assign Statuses and Send E-mail Notifications" %>

<% end %>