<ol class="extra-padding completable">

	<% completable_item "Accept interview decisions", @phase.task_complete?(:accept_interview_decisions, true) do -%>
		<% form_for :accept_interview_decisions, 
					:url => { :action => "accept_interview_decisions" },
		 			:html => {:id => 'accept_interview_decisions'} do |f| %>		
		<% @apps = @offering.applications_with_status('interview_decision').reject{|a| !a.awarded_by_interview_committee?} %>
		

		<table>

			<% for @application_for_offering in @apps %>
			<% a = @application_for_offering %>
				<tr <%= "class=not_current" if !%w(interview_decision).include?(a.current_status_name)  %>>
					<td><%= check_box_tag "select[#{a.id}]", a.id %>
						<%= a.person.fullname %></td>
					<td class="smaller"><%= a.interview.interviewer_list("<br>") %> <% # TODO -------- add "feedback person" %></td>
					<td><%= a.interview_committee_decision %>
						<% if a.includes_contingency? %>
							(<%= link_to_function "view terms", "Element.toggle(contingency_terms_#{a.id})" %>)
							<div style="display:none; width: 200px" class="yellow box" id="contingency_terms_<%= a.id %>">
								<strong>Contingency Terms:</strong>
								(<%= link_to_function "hide", "Element.toggle(contingency_terms_#{a.id})" %>)
								<br><%= simple_format a.contingency_terms %>
							</div>
							<div class="smaller">
								<% fields_for "application_for_offering[]" do |fa| %>
							    	<br>Check up by: <%= fa.date_select :contingency_checkin_date,
							 											:order => [:month, :day, :year], 
																		:use_short_month => true %>
							  	<% end %>
							</div>
						<% end %>
						</td>
				</tr>

			<% end %>

		</table>
		<br>
		<div id="accept_interview_decisions_functions" style="display:none">
			<%= observe_form :accept_interview_decisions, :function => "$('accept_interview_decisions_functions').show()" %>
			<strong>UW NetID of dean (or designee) for approval:</strong>
			<%= text_field_tag :dean_approver_uw_netid, @offering.dean_approver_uw_netid %>

			<%= hidden_field_tag "new_status", "awaiting_dean_approval" %>
			<%= f.submit "Accept Decisions and Notify Dean" %>
		</div>

		<% end %>

	<% end -%>
		
		

	<% completable_item "Review email text for final notifications", 
						@phase.task_complete?(:review_email_text_for_final_notifications, true) do -%>
		<table>
			<tr><td>Awarded</td>
				<td><%= status_email_view_links_array("awarded", @offering).join("<br>") %></td>
			</tr>
			<tr><td>Awarded with contingency</td>
				<td><%= status_email_view_links_array("awarded_with_contingency", @offering).join("<br>") %></td>
			</tr>
			<tr><td>Not awarded</td>
				<td><%= status_email_view_links_array("not_awarded_after_interview", @offering).join("<br>") %></td>
			</tr>
		</table>
	<% end -%>




	<% completable_item "Send final notifications for awarded applicants", 
						@phase.task_complete?(:send_final_notifications_for_awarded_applicants, true) do -%>
		<% form_for :send_final_notifications, 
					:url => { :action => "mass_status_change" }, 
					:html => {:id => 'send_final_notifications_for_awarded_applicants'} do |f| %>
		<% @apps = (@offering.applications_with_status('awaiting_dean_approval') << @offering.applications_with_status('decision_approved')).flatten.uniq %>
		
		<table>

			<tr>
				<th>Student Name</th>
				<th>Dean Approved?</th>
				<th>Quarters</th>
				<th>Interview Committee</th>
				<th>Committee Decision</th>
			</tr>

			<% for @application_for_offering in @apps %>
			<% a = @application_for_offering %>
				<tr <%= "class=not_current" if !%w(decision_approved).include?(a.current_status_name)  %>>
					<td><%= check_box_tag("select[#{a.id}]", a.id, false, :disabled => a.current_status_name=="awaiting_dean_approval") %>
						<%= a.person.fullname %></td>

					<td><%= a.current_status_name == "awaiting_dean_approval" ? "Waiting" : "Yes" %>

					<td class="smaller"><%= a.award_list("<br>", false) %></td>

					<td class="smaller"><%= a.interview.interviewer_list("<br>") %> <% # TODO -------- add "feedback person" %></td>

					<td><%= a.interview_committee_decision %>
						<% if a.includes_contingency? %>
							(<%= link_to_function "view terms", "Element.toggle(contingency_terms_#{a.id})" %>)
							<div style="display:none; width: 200px" class="yellow box" id="contingency_terms_<%= a.id %>">
								<strong>Contingency Terms:</strong>
								(<%= link_to_function "hide", "Element.toggle(contingency_terms_#{a.id})" %>)
								<br><%= simple_format a.contingency_terms %>
							</div>
							<div class="smaller">
								Check in by <%= a.contingency_checkin_date.to_s(:long) %>
							</div>
						<% end %>
						</td>
				</tr>

			<% end %>

		</table>
		<br>
		
		<div id="send_final_notifications_for_awarded_applicants_functions" style="display:none">
			<%= observe_form :send_final_notifications_for_awarded_applicants, 
							 :function => "$('send_final_notifications_for_awarded_applicants_functions').show()" %>

			<p>Set status to:
				<select name="new_status">
					<option value="">-- Select --</option>
					<option value="awarded">Awarded</option>
					<option value="awarded_with_contingency">Awarded with Contingency</option>
				</select>

			<%= f.submit "Queue final decision notifications for awarded applicants" %>
			</p>
		</div>

		<% end %>
		
	<% end -%>





	<% completable_item "Send final notifications for non-awarded applicants", 
						@phase.task_complete?(:send_final_notifications_for_non_awarded_applicants, true) do -%>
		<% form_for :send_final_notifications, 
					:url => { :action => "mass_status_change" },
					:html => {:id => 'send_final_notifications_for_non_awarded_applicants'} do |f| %>
		<% @apps = @offering.applications_with_status('interview_decision').reject{|a| a.awarded_by_interview_committee?} %>

		<table>

			<% for @application_for_offering in @apps %>
			<% a = @application_for_offering %>
				<tr <%= "class=not_current" if !%w(interview_decision).include?(a.current_status_name)  %>>
					<td><%= check_box_tag("select[#{a.id}]", a.id, false, :disabled => a.current_status_name=="awaiting_dean_approval") %>
						<%= a.person.fullname %></td>

					<td><%= a.interview_committee_decision %>
						</td>
				</tr>

			<% end %>

		</table>
		<br>

		<div id="send_final_notifications_for_non_awarded_applicants_functions" style="display:none">
			<%= observe_form :send_final_notifications_for_non_awarded_applicants, 
							 :function => "$('send_final_notifications_for_non_awarded_applicants_functions').show()" %>
			<p>Set status to:
				<select name="new_status">
					<option value="">-- Select --</option>
					<option value="not_awarded_after_interview">Not Awarded After Interview</option>
				</select>

				<%= f.submit "Queue final decision notifications for non-awarded applicants" %>
			</p>
		</div>

		<% end %>
		
	<% end -%>




	<% completable_item "Send to financial aid", @phase.task_complete?(:send_to_financial_aid) do -%>
	<% form_for :send_to_financial_aid, 
				:url => { :action => "send_to_financial_aid" }, 
				:html => {:id => 'send_to_financial_aid'} do |f| %>

		<% @apps = @apps.reject {|a| a.current_status_name != "awarded" && a.current_status_name != "awarded_with_contingency" } %>
		<% @apps = (@offering.applications_with_status('awarded') << @offering.applications_with_status('awarded_with_contingency')).flatten.uniq %>
		<table>

			<tr>
				<th>Student Name</th>
				<th>Interview Committee</th>
				<th>Committee Decision</th>
			</tr>

			<% for @application_for_offering in @apps %>
			<% a = @application_for_offering %>
				<tr <%= "class=not_current" if !%w(awarded awarded_with_contingency).include?(a.current_status_name)  %>>
					<td><%= check_box_tag "select[#{a.id}]", a.id %>
						<%= a.person.fullname %></td>
					<td class="smaller"><%= a.interview.interviewer_list("<br>") %> <% # TODO -------- add "feedback person" %></td>
					<td><%= a.interview_committee_decision %></td>
				</tr>

			<% end %>

		</table>
		<br>
		<div id="send_to_financial_aid_functions" style="display:none">
			<%= observe_form :send_to_financial_aid, 
							 :function => "$('send_to_financial_aid_functions').show()" %>
		
			<strong>UW NetID of financial aid approver:</strong>
			<%= text_field_tag :financial_aid_approver_uw_netid, @offering.financial_aid_approver_uw_netid %>

			<br>
			<strong>UW NetID of fund disburser:</strong>
			<%= text_field_tag :disbersement_approver_uw_netid, @offering.disbersement_approver_uw_netid %>


			<%= hidden_field_tag "new_status", "awaiting_financial_aid_approval" %>
			<%= f.submit "Send Request for Financial Aid Eligibility Approval" %>
		</div>

		<% end %>
		
	<% end -%>


	
	<% completable_item "Wait for approval and disbursement", @phase.task_complete?(:wait_for_approval_and_disbursement, true) do -%>
		
	<% end -%>
	


	<% completable_item "Send award letters", @phase.task_complete?(:send_award_letters) do -%>
		
	<% end -%>

</ol>
