<% form_for :change_status, 
			:url => admin_apply_action_url(:offering => @offering, :action => "mass_status_change"), 
			:html => {:id => "change_status_form_#{@task.id}"} do |f| %>

<% 
@apps = []
@task.application_status_types.each{|t| @apps << @offering.applications_with_status(t.name)}
@apps = @apps.flatten.uniq.reject{|a| !a.invited_for_interview?}
%>

<% show_history ||= false %>

<table>

	<tr class="small left">
		<th><%= select_all_check_box @task.id %>Student</th>
		<th>Project</th>
		<% @task.extra_fields.each do |t| %>
			<th><%= t.title %></th>
		<% end -%>
		<th>Current Status</th>
	</tr>

	<% @task.application_status_types.each do |t| %>
	
		<% 
		if show_history || @task.show_history?
			apps = @offering.applications_with_status(t.name)
		else
			apps = @offering.application_for_offerings.with_status(t.name)
		end 
		apps = apps.reject{|a| !a.invited_for_interview?}.sort_by(&:fullname).reverse
		%>

		<tr class="rowset-header">
			<td colspan=<%= 3 + @task.extra_fields.size %>>
				<%= select_all_check_box t.name %>
				<a title="<%= t.description %>" class="tooltip"><%= t.name.titleize %></a>
				<span class="light">&raquo;	<%= pluralize apps.size, "application" %></span>
			</td>
		</tr>

		<% apps.each do |a| %>

			<tr <%= "class=not_current" if !@task.application_status_types.collect(&:name).include?(a.current_status_name) %>>
				<td><%= select_check_box(a, a.current_status_name) %>
					<%= a.person.fullname %></td>
				<td><%= link_to a.project_title || "(no title)", :action => "show", :id => a.id %></td>

				<% @task.extra_fields.each do |t| %>
					<td><%= t.display(a) %></td>
				<% end -%>
				
				<td><%= print_status(a) %></td>
			</tr>

			<% current_status_name = a.current_status_name %>
			
		<% end %>
		
	<% end -%>

</table>

<div id="change_status_<%= @task.id %>_functions" style="display:none">
	<%= observe_form "change_status_form_#{@task.id}", :function => "$('change_status_#{@task.id}_functions').show()" %>
	Set new status to:
	<select name="new_status">
		<%= options_from_collection_for_select @task.new_application_status_types, :name, :name %>
	</select>
	<%= hidden_field_tag :redirect_to_action, 'phase' %>
	<%= f.submit "Change Statuses and E-mail Notifications" %>
</div>

<% end %>