<table>
	
	<tr>
		<th colspan=2>Student Name</th>
		<th>Project Title</th>
		<th>Current Status</th>
	</tr>
	
	<% current_status_section = nil %>
	<% @apps.each do |a| %>
		
		<% if current_status_section != (a.current_status.nil? ? nil : a.current_status.status_type) %>
			<tr class="rowset-header">
				<td colspan=4>
					<%= print_status(a) %>

					<%= status_email_view_links( a.current_status.status_type, 
												a.offering, 
												true, 
												{:class => "light right"}) unless a.current_status.nil? %>
					</td>
			</tr>
		<% end %>
		<% current_status_section = a.current_status.nil? ? nil : a.current_status.status_type %>
		
		<tr>
			<td><%= check_box_tag("select[#{a.id}]", a.id, false, :class => "status_#{current_status_section.to_param}") %></td>
			<td><%= a.person.fullname %>
				<br><small><%= auto_link a.person.email %></small></td>
			<td><%= link_to (a.project_title.blank? ? "(no title)" : a.project_title), :action => "show", :id => a.id %></td>
			<td><%= print_status(a) %></td>
		</tr>
		
	<% end %>
	
</table>
