
<ol>
	<li>Setup interview times (<%= @offering.interviews.count %> created)
		<br><font class="smaller"><%= link_to "View full list", :controller => "interview", :offering => @offering %></font>
		</li>

	<li>Review e-mail text:
		<ul>
			<li><%= link_to "For interviewers", admin_communicate_template_path(EmailTemplate.find_by_name("interviewer interview times")), 
					:popup => true %></li>
			<li><%= link_to "For interviewers with no interviews", 
					admin_communicate_template_path(EmailTemplate.find_by_name("interviewer no interviews")), 
					:popup => true %></li>			
			<li>For <%= status_email_view_links(ApplicationStatusType.find_by_name("interview_scheduled"), @offering, true, {},"applicants:") %></li>
			<li>For <%= status_email_view_links(ApplicationStatusType.find_by_name("interview_scheduled_awaiting_summary"), @offering, true, {}, "applicants still awaiting summary: ") %></li>
		</ul>
	</li>
					
	<li>Send e-mail to interviewers: 		
		<% form_for :schedule_interviews, :url => { :action => "send_interviewer_interview_times_emails" } do |f| %>
		
		<table>
			<tr>
				<th>Interviewer Name</th>
				<th>Interview Times</th>
			</tr>
			
			<% @offering.interviewers.sort{|x,y| x.person.lastname <=> y.person.lastname}.each do |i| %>
				<% if i.interview_times_email_sent_at.blank? %>
			
				<tr>
					<td><%= check_box_tag "select[#{i.id}]", i.id %>
						<%= i.person.fullname %></td>
					<td><% i.offering_interviews.each do |oi| %>
							<br><%= oi.start_time_pretty %> (<%= oi.applicant.nil? ? "No student assigned" : oi.applicant.person.fullname %>)
						<% end %>
						</td>
				</tr>
			
				<% end %>
			<% end %>
			
		</table>
		
		<p>Send e-mail to selected:
			<select name="email_to_send">
				<option value="">-- Select --</option>
				<option value="interviewer interview times">Interview Times</option>
				<option value="interviewer no interviews">No Interviews</option>
			</select>

			<%= f.submit "Send E-mail Notifications" %>
		
		
		<% end %>
		
		</li>
	
	<li>Set status and send e-mail to students: 
		
		<% form_for :schedule_interviews, :url => { :action => "mass_status_change" } do |f| %>

		<% @apps = @apps.reject {|a| a.current_status_name != "scheduling_interview" && a.current_status_name != "scheduling_interview_awaiting_summary" && a.current_status_name != "awaiting_summary" && a.current_status_name != "awaiting_interview_availability" } %>

		<table>

			<tr>
				<th>Student Name</th>
				<th>Interview Time</th>
				<th>Current Status</th>
			</tr>

			<% current_status_section = nil %>
			<% @apps.each do |a| %>

				<% if current_status_section != (a.current_status.nil? ? nil : a.current_status.status_type) %>
					<tr class="rowset-header">
						<td colspan=3>
							<%= print_status(a) %>
							</td>
					</tr>
				<% end %>
				<% current_status_section = a.current_status.nil? ? nil : a.current_status.status_type %>

				<tr>
					<td><%= check_box_tag "select[#{a.id}]", a.id %>
						<%= a.person.fullname %></td>
					<td><%= a.interview_time.start_time_pretty unless a.interview_time.nil? %></td>
					<td><%= print_status(a) %></td>
				</tr>

			<% end %>

		</table>

		<p>Set status to:
			<select name="new_status">
				<option value="">-- Select --</option>
				<option value="interview_scheduled">Interview Scheduled</option>
				<option value="interview_scheduled_awaiting_summary">Interview Scheduled / Awaiting Summary</option>
			</select>

			<%= f.submit "Assign Statuses and Send E-mail Notifications" %>

		<% end %>

</ul>
