<div class='panel'>
  <div class='panel_contents'>
	<div class='content-block'>
		<h1>Confidentiality Agreement and FERPA Reminder for Administrative Users</h1>

		<p>As an administrative user of EXP-Online (&ldquo;EXPO&rdquo;), you have access to certain data that should be kept confidential. This data may pertain to students, faculty, staff and community partners. You have been given access to this data for the sole purpose of carrying out specific job functions at the Center for Experiential Learning and your access to this data should not be used for any other purpose.</p>

		<p><strong class="uw_green">You will be reminded of these policies every three months.</strong></p>

		<div class="box">

			<p><strong>By clicking the button below, you agree to and acknowledge that you understand the following:</strong></p>

			<ol class="extra_space">
				<li>All student data in EXPO is governed by the Federal Family Rights and Privacy Act of 1974 (FERPA). I have read and understand the <%= link_to "Statement of Responsibilities Regarding FERPA Requirements and the Student Database (SDB)", {:action => "ferpa_statement"}, target: '_blank'  %> and understand that the responsibilities listed in that statement also applies to student data contained in EXPO. This includes, but is not limited to, the following:
					<ul>
						<li>Contact information and communication history</li>
						<li>Online applications for scholarships or events, which may include essays and other submissions</li>
						<li>Usage history and other logs</li>
						<li>Online evaluations, both submitted by the student and those submitted by others regarding student work</li>
					</ul>
					</li>

				<li>All other data contained in EXPO is considered confidential unless I have been given authorization to release it. I will not share the information contained within EXPO with others unless given permission or unless the information was provided with the extent to be shared (for example, a course instructor might provide information about their course that is intended to be shared with community partners involved in service-learning activities for the course).</li>
			
				<li>I will not allow others to use my account and will keep my password private.</li>
				
			</ol>

		</div>

		<div class="highlight_box electronic_signature">

			<%= form_tag do %>
			
				<center>
				<%= submit_tag "I, #{@current_user.fullname}, understand and agree to these policies" %>
				<br>				
					<strong>Username:</strong> <%= @current_user.login %>
					&mdash;
					<strong>Date:</strong> <%= Time.now.to_s(:date_with_full_month) %>				
				</center>

			<% end -%>

		</div>

		<p><em>If you have any questions regarding this agreement, please e-mail <%= link_to "expohelp@uw.edu" %>.</em></p>
	</div>
   </div>
</div>
