<% title("Change Position in UW Service-Learning Registration", @quarter.title) %>
<div class="card content">  

	<h5>Change Your Position <span class="status_tag info right"><%= @quarter.title %></h5>
	<p>Are you sure you want to change your position? Once you change your position, you may not be able to switch back to the position you have now.</p>

	<% if @placements.size > 1 %>
		<div class="small warning">Note: Even though you are registered for multiple positions, you can <strong>only</strong> switch your first position online. If you need to switch a position not shown here, please contact our staff.</div>
	<% end %>
	<div id="service_learning_positions" class="row">
		<%= render partial: "position", 
					object: @old_position,					
					locals: {    service_learning_course: @service_learning_course,
							     selected_position: :true,
						 		 show_links: :false,
						 		 do_not_identify_as_filled: :true,
						 		 show_change_link: :false,
								 show_my_details_link: false,
								 show_list_view: true } %> </div>
		

	<center>&darr;<br>will change to<br>&darr;<br></center>

	<div id="service_learning_positions" class="row">
		<%= render :partial => "position", 
					:object => @new_position,				
					:locals => { :service_learning_course => @service_learning_course,
						 		 :show_links => :false,
						 		 :do_not_identify_as_filled => :true,
						 		 :show_change_link => :false,
								 :show_my_details_link => false,
								 show_list_view: true  } %> </div>

	<br>

	<center>
	<%= form_for @student, :url => { :action => 'change' } do |f| %>
		
		<%= hidden_field_tag :id, @new_position.id %>				


		<%= f.button class: 'waves-effect waves-light btn', type: :submit, data: { confirm: 'Are you sure to change?', disable_with: 'Switching positions...' } do %>
				Yes, change my position<i class="material-icons right">send</i>
		<% end %>
		
	<% end %>
	or <br>
	<%= link_to "No, keep my current position", {:action => 'complete'}, class: 'waves-effect waves-light btn' %>
	</center>
	<br>

</div>