<% title("Service-Learning Registration", @quarter.title) %>

<div class="card content">

<h5>Registration Complete!</h5>

<p>Thank you for registering for community-based learning (also known as service-learning) for <%= @quarter.title %>. The Office of Community-Based Learning and Research staff works with students, faculty and community-based organizations to facilitate community-based learning opportunities. Completing the steps listed below will enable you to have the best experience possible. 
</p>

<p>As a community-based learning student, you play an important role with significant responsibilities. The organization you will be working with is depending on your participation, so please remember to be professional and responsible. Your participation will be evaluated by the site at the end of the quarter and may influence your grade. If you have questions or issues arise, we urge you to contact the Office of Community-Based Learning (425.352.3195 : <%= auto_link "uwbcblr@uw.edu" %>)--that's what we are here for!</p>

<% @placements.each do |placement| %>

<% @position = placement.position %>

	<%= render :partial => "your_position", 
				:locals => { :service_learning_course => placement.course, :position => @position } %>

<h5>Next Steps</h5>
	<p>Please carefully read through the following information about your service-learning position. These details will be emailed to you in a confirmation email.</p>

	<dl class="big numbers">

		<dt>1</dt>
		<dd><strong>Introduce yourself.</strong>
			<br>Remember that your organization may work with many different volunteers, so make sure
			to introduce yourself as a new community-based learning student from the University of
			Washington Bothell.
		
		<p>Your community-based learning contact at the organization is:
			<br><div class="left-indent">
				<%= @position.supervisor.person.fullname rescue nil %>
				<%= "<br />" + auto_link(@position.supervisor.person.email) rescue nil %>
				<%= "<br />" + phone_number(@position.supervisor.person.phone) rescue nil %>
			</div>
		</p>		
		</dd>

		<dt>2</dt>
		<dd><strong>Attend orientation and get started early!</strong>
			<br>At the orientation, you will have an opportunity to talk with your supervisor at the organization you have chosen about your individual goals for community-based learning. Bring a copy of the syllabus from your community-based learning course to the orientation. Community partners are excited to learn about how service fits into your course work. Be prepared to listen carefully and ask questions! Your commitment to the organization begins at the orientation and you should leave there knowing your schedule for the quarter. 
		
		<p>Please note the following information about orientation at your site:
			<div class="left-indent">

				<% if @position.orientation && @position.orientation.flexible? %>
					Date/Time: To be arranged with organization contact
				<% else %>
					Date:
					<%= @position.orientation.start_time.to_date.to_s(:long) rescue "No date specified" %>

					<br>Time:
					<%= @position.orientation.start_time.to_time.to_s(:time12) rescue "No time specified" %>
				<% end -%>

				<% if @position.orientation %>
				
					<% if @position.orientation.notes %>
						<br>Notes: <%= @position.orientation.notes %>
					<% end -%>
				
					<% if @position.orientation.different_orientation_contact? %>
						<br>
						<p>Your contact for orientation at the organization is:
							<br><div class="left-indent">
								<%= @position.orientation.contact.person.fullname rescue nil %>
								<%= "<br />" + auto_link(@position.orientation.contact.person.email) rescue nil %>
								<%= "<br />" + phone_number(@position.orientation.contact.person.phone) rescue nil %>
							</div>
						</p>
						<p class="small warning">Note that the orientation contact is different from the position contact above!</p>
					<% end -%>
				
					<br><br>Location:
					<%= @position.orientation.location.title rescue "No location specified" %>
					<%= "<br>" + address_block(@position.orientation.location) rescue nil %>
				
					<% if (@position.orientation.location.notes rescue false) %>
						<br><br>Location Notes: <%= @position.orientation.location.notes %>
					<% end -%>
				<% end -%>
				
			</div>
		</p>
		
		Please note that some organizations have more than one location. Pay special attention to the location of your orientation and your position since they may be different.</p>
		
		<p>New to riding the Seattle Metro Bus System?  Check out the Carlson Center's quick video to taking the bus to your service-learning site: <a href="http://depts.washington.edu/leader/bus/index.html">http://depts.washington.edu/leader/bus/</a>.</p>
		
		</dd>

		<dt>3</dt>
		<dd><strong>Stay committed throughout the quarter.</strong>
			<br>As a UWB community-based learning student, you are a representative of the University of Washington Bothell, and the Office of Community-Based Learning and Research. Please take this role seriously and be professional and respectful in your work. The organization is counting on you to fulfill your community-based learning obligations. This means committing to a regular schedule and following all expectations. 

			<p>If you need more support, direction, or context for your work, please approach your community-based learning contact at your organization or the Office of Community-Based Learning. The organization and contact have specifically requested to work with UW Bothell students, so please be sure to communicate your needs. </p>

			<p>If you are struggling with anything throughout your community-based learning experience, please take time to reflect and consider why the experience is challenging for you. There is a lot that can be learned about yourself, the community, and the organization through reflection. The Community-Based Learning staff is here to support you if needed.</p>
			
			</dd>
			
		<dt>4</dt>
		<dd>
			<strong>Complete your evaluation.</strong>
			<br>You will be emailed a link to an online evaluation near the end of the quarter. You must complete the evaluation to indicate that you have fulfilled your commitment to your organization. Please take time to offer thoughtful and detailed feedback to help us improve students' experiences with community-based learning.  

			<p>We will also contact your site supervisor for an evaluation of your service.</p>
			</dd>

	</dl>

	<h2>Questions? Need help? Need more information?</h2>

	<p><strong>If you have questions or concerns</strong> about the community-based learning registration process or would like to end your community-based learning commitment for the quarter, please come in and speak to us in UW1-160. We are open from 9am-5pm, Monday through Friday.</p>

	<p>You can also view our web site for more information about community-based learning!  Please visit: <%= auto_link "http://www.uwb.edu/cblr" %></p>

	<p>Do you have great stories to share about your community-based learning experience? We would love to hear them! Contact us at <%= auto_link "uwbcblr@uw.edu" %> or 425-352-3195 to tell us about the great work you are doing in the community! </p>
	
<% end %>
<br>
</div>