<% title("Complete in Community-Engaged Learning Registration", @quarter.title) %>

<div class="card content">

<h5><strong>Registration Complete!</strong></h5>

<p>Thank you for registering for community-engaged learning for <%= @quarter.title %>.</p>

<% @placements.each do |placement| %>

<% @position = placement.position %>

	<%= render :partial => "your_position",
				:locals => { :service_learning_course => placement.course, :position => @position } %>

<p>To get started with your community-engaged learning, log into EXPO to review your position details:
<%= auto_link "https://#{Rails.configuration.constants['base_app_url']}/community_engaged" %></p>


<p>Then, complete the follow steps:</p>
<ol>
   <li>Get in touch with your orientation contact immediately after registering online</li>
   <li>Attend orientation during Week Two of the quarter</li>
   <li>Stay committed throughout the quarter</li>
   <li>Complete your evaluation at the end of the quarter</li>
</ol>

<p>A more detailed description of each of these steps can be found below.  If you have questions about community-engaged learning, check out the <a href="https://cele.uw.edu/programs/community-engaged-learning-formerly-service-learning/next-step-for-students/" target="_blank">Commonly Asked Community-Engaged Learning Questions</a> section of The CELE Center’s website.  If you have other questions or concerns or would like to drop your community-engaged learning commitment for the quarter, please come in and speak to a member of The community-engaged courses staff in Mary Gates Hall 171. We are open from 9am-5pm, Monday through Friday.  We can also be reached at <%= auto_link "engage@uw.edu" %>.</p>

<h5>Next Steps</h5>
	
	<dl class="big numbers">

		<dt>1</dt>
		<dd><strong><i class="material-icons">contact_mail</i> Get in touch ASAP</strong>			
		
		<p>
			Using the link above, identify the orientation contact for your community-engaged learning site.  Call or e-mail your orientation contact immediately after registering with the organization.  Remember that your organization may work with many different volunteers, so make sure to introduce yourself as a new community-engaged learning student from the University of Washington.
		</p>
		
		<p>The provided link will allow you to view details for your orientation.  Be sure to get in touch with your orientation contact as soon as you register for your placement to ensure you do not miss the scheduled orientation.  The orientation should be scheduled for Week Two of the quarter.  If an orientation time is not listed, you should work with your supervisor to set one up a mutually agreeable time during the second week of the quarter.</p>
		
		</dd>

		<dt>2</dt>
		<dd><strong><i class="material-icons">event</i> Attend Orientation</strong>			
		
		<p>Closely review the Orientation Notes of your position description to ensure you go to your orientation prepared and ready to learn.  Bring a copy of the syllabus from your community-engaged learning course to the orientation. Community partners are excited to learn about how service fits into your course work.  Your commitment to the organization begins at the orientation, and you should leave knowing your schedule for the quarter.
		</p>
		
		</dd>

		<dt>3</dt>
		<dd><strong><i class="material-icons">people</i> Stay Committed Throughout the Quarter</strong>
		
			<p>As a UW community-engaged learning student, you are a representative of the University of Washington, The CELE Center and undergraduate students.  Many community partners choose to work with University of Washington students because of their demonstrated professionalism and responsibility as community-engaged learning students, volunteers and interns.  We are confident you will continue this tradition.  The organization is counting on you to commit to a regular schedule and follow all of their expectations.</p>
			
			</dd>
			
		<dt>4</dt>
		<dd>
			<strong><i class="material-icons">assessment</i> Complete Your Evaluation</strong>
		
			<p>You will be emailed a link to an online evaluation near the end of the quarter. You must complete the evaluation to indicate that you have fulfilled your commitment to your organization. Please take time to offer thoughtful and detailed feedback to help us improve students' experiences with community-engaged learning.</p>
			<p>We will also contact your site supervisor for an evaluation of your service.  This will be available to CELE Center staff and your course instructor, and will illustrate to your professor whether or not you have met the commitment you made to the organization.</p>
			</dd>

	</dl>

	<h5>Questions? Need help? Need more information?</h5>

	<p>Planning to continue working with your organization after the quarter ends?  Looking for other ways to get involved in your community?  Check out The CELE Center’s website to learn about other ways The CELE Center can support your community engagement: <%= auto_link "https://cele.uw.edu/programs/community-engaged-learning-formerly-service-learning/next-step-for-students/" %>.</p>

<% end %>
<br>
</div>