<% title("Community-Engaged Learning Registration", @quarter.title) %>

<div class="card content">
	<h5><%= link_to "UW Community-Engaged Learning Registration", community_engaged_path %>
		<span class="status_tag info right"><%= @quarter.title %></span>
	</h5>

	<p><strong>Welcome, <%= @student.firstname %>. <i class="material-icons uw_purple align">sentiment_satisfied_alt</i></span></strong></p>

	<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @current_position, :hide_change_button => true } if @placements && !@placements.empty? %>

	<p>You are currently enrolled in the following <%= pluralize @enrolled_service_learning_courses.size, "Community Engaged Learning course" %>: 
		<%= link_to "(Switch to another course)", :action => 'which' if @enrolled_service_learning_courses.size > 1 %>
		<ul class="list_style">
			<% @enrolled_service_learning_courses.each do |course| %>
				<li><strong><%= course.title %></strong></li>
			<% end %>
		</ul>
	<!-- <strong><%= @enrolled_service_learning_courses.collect(&:title).join(", ") %></strong> -->
	</p>

	<p><strong><%= @service_learning_course.title %> has total <span class="hightlight"><%= pluralize @service_learning_course.positions.open.size, "position" %></span> open.</strong></p>
</div>

<% if @service_learning_course.finalized? && !@service_learning_course.open? %>
		<div class="card content yellow lighten-4">
			<span class="card-title">Service-learning registration is not open for this course.</span>
			<p><i class="material-icons uw_purple align">info</i> Until it is, you can browse the positions that are available for this course. Please
			note that these positions are subject to change until registration opens.</p>
		</div>
<% elsif !@service_learning_course.finalized? -%>
		<div class="card content yellow lighten-4">
			<p><i class="material-icons uw_purple align">info</i><strong> Service-learning positions have not yet been finalized for this course.</strong> Please check back later.</p>
		</div>
<% end %>

<% if @service_learning_course.finalized? %>
		<% show_switch_link = @placements.empty? ? :false : :true %>

		<div id="service_learning_positions" class="row">
			<%= render 	:partial => "position", 
						:collection => @service_learning_course.positions.uniq.reject{|p| p.self_placement? || !p.approved?},
						:locals => { :service_learning_course => @service_learning_course, :show_switch_link => show_switch_link, show_grid_view: true } %>
		</div>
<% end %>

<% sidebar :filters, class: "service_learning_registration" %>