<% for placement in @placements; @position = placement.position %>

	<div class="card content">
		<h5 class="position title">
			<%= @position.title %><span class="status_tag info right"><%= @quarter.title %></span>
		</h5>
		<span class="light"><strong>at <%= sanitize @position.organization.name %></strong></span>
	</div>	

	<div class="card content">
	  <div class="row">
	     <div class="col s12">
	       <ul class="tabs">
	         <li class="tab col s3"><a href="#position_details">Position Details</a></li>
	         <li class="tab col s3"><a href="#scheduling_details">Available Times</a></li>   
	         <li class="tab col s3"><a href="#orientation_details">Orientation Details</a></li>
	       </ul>
	     </div>
	     <div id="position_details" class="col s12">    	
			   <%= render :partial => "position_details", :locals => { :service_learning_position => @position } %>
	     </div>

	     <div id="scheduling_details" class="col s12">
	    	 <%= render partial: "scheduling_details", locals: { service_learning_position: @position } %>
	     </div> 	

	     <div id="orientation_details" class="col s12">
	    	 <%= render partial: "orientation_details", locals: { service_learning_position: @position } %>
	     </div>
	   </div>

	</div>
		
<% end %>
