<% title("Service-Learning Registration", @quarter.title) %>

<div class="card content">

<%= render :partial => "your_position", :locals => { :service_learning_course => @service_learning_course, :position => @position } %>

<center><h5>
  <p>University of Washington </p>
  <% if @service_learning_course.unit.abbreviation == 'bothell' %>
    <p>Community Based Learning and Research<p/> 
    <p>Community-Engaged Learning Acknowledgement of Risk Form<p/>    
  <% else %>
    <p>Community Engagement and Leadership Education (CELE) Center<p/> 
    <p>Community Engaged Courses Acknowledgement of Risk Form<p/>
  <% end %>
</h5></center><br />
<h6>Acknowledgement of Risk and Consent for Treatment for Students Age 18 and Over</h6 >

<%= form_for @student, :url => { :action => 'risk', :id => @position } do |f| -%>

	<%= render :partial => "risk" %>

	<%#= error_messages_for :student %>

	<div class="row z-depth-2 highlight">
     <div class="col s12">
        <strong>Electronic Signature:</strong>
        <div class="input-field inline" style="width: 50%">
        	<i class="material-icons prefix">create</i>
        	<%= f.text_field :electronic_signature, id: "electronic_signature", class: "validate", required:true, 'aria-required': "true" %>
          <label class="active" for="electronic_signature">Type your full legal name<abbr title="required">*</abbr></label>
        </div>
        <span style="margin-left: 3rem"><strong>Date:</strong> <%= Time.now.to_date.to_s(:long) %></span>
    </div>
  </div>			
<br>
<p class="final_submit">
	Click the button below to complete your service learning registration.</p>
<p class="final_submit">
	<%= submit_tag "Finish My Registration", data: { disable_with: "Saving your information" }, :class => "btn" %></p>

<% end %>
<br>
</div>