<% title("Community-Engaged Learning Registration", @quarter.title) %>

<div class="card content">
	<h5><%= link_to "UW Community-Engaged Learning Registration", community_engaged_path %>
		<span class="status_tag info right"><%= @quarter.title %></span>
	</h5>
</div>

<div class="card content">
<h5>Welcome, <%= @student.firstname %>.</h5>

<p>You are currently enrolled in multiple community-engaged learning courses. <b color=red>Please note that you can only register for one community-engaged learning course online.</b></p> 

<p>Please <a href="http://depts.washington.edu/leader/about/contact.html">contact the Community-Engaged Courses  staff</a> to register for additional positions.</p>

<hr>

<p>For which community-engaged learning course would you like to choose a position?</p>
<form>	
	<% for course in @enrolled_service_learning_courses %>
		<p><label for="course_<%= course.id %>">
			<input class="with-gap" name="course" type=radio value="<%= course.id %>" id="course_<%= course.id %>" >
			<span><%= course.title %></span>
		   </label>
		</p>
	<% end %>
	<p><button type=submit class='waves-effect waves-light btn-small'>Choose</p><br>

</form>

</div>