<% content_tag('ul') do %>
	<% for department in @departments %>
	<li id="<%= department.class.to_s %>_<%= department.id %>">
		<span class="primary"><%= highlight(department.name, h(@q)) %></span>
		<span class="secondary"><%= department.class.to_s %> ID <%= department.id.to_s %></span>
		<span class="value" style="display:none"><%= department.name %></span>
	</li>
	<% end -%>
	
	<li id="NEW_<%= CGI.escape(h(@q)) %>" class="new">
		<span class="primary"><%=h @q %></span>
		<span class="secondary">Create a new department record</span>
		<span class="value" style="display:none"><%=h @q %></span>
	</li>

<% end -%>