<div class="input-field col s12 apply">
	<%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %>

	<% for application_type in @offering.application_types %>
	  <p>
		<label for="user_application_application_type_id_<%= application_type.id %>">
			<%= qf.radio_button :application_type_id, 
								application_type.id, {class: "with-gap",
								:onclick => "$('.application_categories').hide(); $('#application_type_#{application_type.id}_categories').show(); $('#other_category_title').show(); "} %>
			<span><%= application_type.title %>
			<br><small class='caption'><%= application_type.description %></small></span>
		</label>		
	  </p>
	<% end %>
		
</div>