<% other_category_title = false %>
<li>
	<fieldset>
		<legend>
			<%= question.question %>
			<%= content_tag('em', '*', :class => 'required') if question.required? %>
		</legend>
		
		<% if qf.object.application_type.nil? %>
			<div class="application_categories question_block">
				<p><em>Please select your application type first.</em></p>
			</div>
		<% end -%>

		<% for application_type in @offering.application_types %>			
			<div id="application_type_<%= application_type.id %>_categories" class="application_categories" <%= "style='display:none'" unless qf.object.application_type == application_type %>>

				<% for application_category in application_type.offering_application_categories.sort %>
					<label for="user_application_application_category_id_<%= application_category.id %>">
						<%= qf.radio_button :application_category_id, application_category.id %>
						<%= application_category.title %><%= ": <small>#{application_category.description}</small>" if application_category.description %>
						
						<% other_category_title = true if application_category.other_option? %>						   
					</label>
				<% end -%>				

			</div>

		<% end -%>
		<div id="other_category_title" <%= "style='display:none'" unless !qf.object.other_category_title.blank? %>>
			<label style="margin-left:227px"><%= qf.text_field :other_category_title if other_category_title == true %>
				<small class="caption">Please enter your category</small> 
			</label>
		</div>
	</fieldset>
		
</li>


