<% other_category_title = false %>
<div class="input-field col s12 apply">	
	
	<%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %>
			
	<% if qf.object.application_type.nil? %>
		<div class="application_categories question_block">
			<p><em>Please select your application type first.</em></p>
		</div>
	<% end %>

	<% for application_type in @offering.application_types %>			
		<div id="application_type_<%= application_type.id %>_categories" class="application_categories" <%= "style=display:none" unless qf.object.application_type == application_type %>>

			<% for application_category in application_type.offering_application_categories.sort %>
			  <p>
				  <label for="user_application_application_category_id_<%= application_category.id %>">
					<%= qf.radio_button :application_category_id, application_category.id, {class: "with-gap"} %>
					<span><%= application_category.title %><%= ": <small'>#{application_category.description}</small>" if application_category.description %></span>
					
					<% other_category_title = true if application_category.other_option? %>						   
				  </label>
			   </p>
			<% end %>				

		</div>

	<% end %>

	<% if !qf.object.other_category_title.blank? %>
		<div id="other_category_title" class="input-field col s6">		
			<%= qf.text_field :other_category_title if other_category_title == true %>
			<div class="caption">Please enter your category if select "Other"</div>
		</div>
	<% end %>
		
</div>