<%= fields_for "user_application[texts_attributes][#{question.attribute_to_update}]", qf.object.text(question.attribute_to_update) do |text_fields| %>

<div class="input-field col s12"><%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %></div>

<div class="input-field col s12">

		<%= text_fields.text_area :body, class: "#{'tinymce' if question.use_mce_editor} materialize-textarea validate #{'charcounter' if question.character_limit? }",  data: {length: question.character_limit} %>

		<%= text_fields.label(:body, (question.short_title.blank? ? "Please enter your answer here..." : question.short_title))%>

		<%= help_link question %>

		<%= content_tag('span', "#{question.word_limit} word limit", :class => 'helper-text') if question.word_limit? %>

		<%= display_computed_caption(question.caption) if question.caption? %>	
		
		<%#= submit_tag( "View and Print PDF Preview", :name => "pdf_button", :id => "pdf_button" ) %>				
</div>

<% end %>