<div class="input-field col s12">		

		<%= qf.text_field question.attribute_to_update, class: "datepicker" %>

		<% if question.start_year && question.end_year %>
			<script type="text/javascript">
				var startYear = <%= question.start_year %>
				var endYear = <%= question.end_year %>

				$(document).ready(function() {
				  $(".datepicker").datepicker({
				    defaultDate: new Date(endYear-5,1,31),				    
				    maxDate: new Date(endYear-5,12,31),
				    yearRange: [startYear, endYear],
				    format: "yyyy-mm-dd"    
				  });
				});				
			</script>
		<% end %>

		<%= qf.label(question.attribute_to_update, (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe) %>

		<%= display_computed_caption(question.caption) if question.caption? %>
</div>