<li <%= "id='associate_question_#{question.id}'" if OfferingQuestionOption.find_by_associate_question_id(question.id) %>>
	<% question_file = @user_application.files.find_by_offering_question_id(question.id) %>
	<% fields_for "user_application[file_attributes][]", question_file do |af| %>

		<p><%= question.question %>
			<%= content_tag('em', '*', :class => 'required') if question.required? %></p>
		
		<% if question_file.file.nil? %>
			<%= upload_title(question_file) %>	<%= af.file_field :file %>												
		<% else %>

			<% version = question_file.file.valid_versions.include?(:pdf) ? :pdf : :original rescue :original %>
			<div class="uploaded_file file <%= question_file.file.versions[version].ext %>">
				<div class="small" style="float:right">
					Replace this File:	<%= af.file_field :file %>
				</div>

				<!-- <%= image_tag "icons/filetypes/32/#{question_file.file.original.extension}.png" %>
				<h3 class="filename"><%= question_file.file.original.filename %></h3>
				<p class="description">
					<small></small>
					<br><%= question_file.file.original.content_type %> 
					| <%= number_to_human_size(question_file.file.original.size) %></p>					 -->
					
					

				<div class="file <%= question_file.file.versions[version].ext %>">
					<%= image_tag "icons/filetypes/32/#{question_file.file.versions[version].ext}.png" %>
					<div class="filename">
						<%= link_to question_file.file.versions[version].public_filename,
						 			:action => 'file',
									:id => question_file,
									:offering => @offering,
									:version => version.to_s %>
					</div>
					<div class="details">
						<b>Original filename:</b> <%= question_file.original_filename %>
						<br><%= question_file.file.content_type << ", " if question_file.file.content_type %><%= number_to_human_size(question_file.file.versions[version].size) %>
					</div>
				</div>

					
			</div>
		<% end %>

		<%= hidden_field_tag "user_application[file_attributes][#{question_file.id}][title]", question.short_title.empty? ? question.question : question.short_title %>
		
	<% end %>
	
</li>