<div class='col s12'><%= question.question %>
   <%= content_tag('em', '*', :class => 'required') if question.required? %>
</div>

<div class="file-field input-field col s12" <%= "id=associate_question_#{question.id}" if OfferingQuestionOption.where(associate_question_id: question.id) %>>
<% question_file = @user_application.files.find_by_offering_question_id(question.id) %>

<% @user_application.files.each do |app_file| %>

  <% if app_file.id == question_file.id %>
 
   <%= f.fields_for :files, app_file do |af| %>
			
		<% if app_file.file.file.nil? %>
		  <div class="btn">
		  	 <i class="material-icons left">file_upload</i>
			 <span>Choose File to Upload</span>
			 <%= af.file_field :file, name: "user_application[file_attributes][#{app_file.id}][file]" %>
		  </div>		  

		<% else %>
				
			<div class="btn">
		  	  <i class="material-icons left">file_upload</i>
			  <span>Replace this File</span>
			  <%= af.file_field :file, name: "user_application[file_attributes][#{app_file.id}][file]" %>
		  </div>
		<% end %>

		<div class="file-path-wrapper">
			 <% placeholder = question_file.file_identifier.nil? ? "No_file_chosen" : question_file.file_identifier %>
        	 <input class="file-path validate" type="text" placeholder= <%= placeholder %> >
    </div>

		<%= hidden_field_tag "user_application[file_attributes][#{question_file.id}][title]", question.short_title.empty? ? question.question : question.short_title %>
		
	<% end %>	

  <% end %>

<% end %>	

</div>

<% unless question_file.file.file.nil? %>
	<div class='col s12'><b>Download original file:</b>
	<%= link_to question_file.public_filename, apply_file_path(@offering, question_file.id, question_file.file_identifier) unless question_file.file.file.nil? %>
	<i class="material-icons middle_align uw_purple">file_download</i>

	<span class='caption'>(<%= question_file.file.content_type + ", " if question_file.file.content_type %><%= number_to_human_size(question_file.file_size) %>)</span>
  </div>
<% end %>


