<div id="group_members_<%= question.id %>" class='input-field col s12'>

		<%= (question.question + " #{content_tag('abbr', '*', title: "required") if question.required?}").html_safe %>
		
		<div class="left-indent">				
			<p>
			  <label for="group_no">
				  <%= radio_button_tag :group, "no", qf.object.group_members.empty?, {class: "with-gap", :onclick => "$('#group_members').hide(600)"} %>
				 <span>No, I am the sole presenter.</span>
			  </label>
			</p>
			
			<p>
			  <label for="group_yes">
			  	<%= radio_button_tag :group, "yes", !qf.object.group_members.empty?, {class: "with-gap", :onclick => "$('#group_members').show(600)"} %>
			  	<span>Yes, I am submitting this application on behalf of my team.</span>
			  </label>	
			</p>
						
			<div id="group_members" style="margin: 2em; display: <%= qf.object.group_members.empty? ? 'none' : 'block' %>">
	
				<table class="highlightless">
					<tr>
						<th colspan=3>Co-Presenters</th>
					</tr>
					<tr>
						<td class="person"><i class='mi md-32 left'>person</i>
							<%= qf.object.fullname %>
							<small class="note">(you)</small></td>
						<td colspan=2><%= qf.object.person.email %></td>
					</tr>

					<% for group_member in qf.object.group_members.valid %>
					<tr>
						<td class="person <%= group_member.verified? ? "verified" : "unverified" %>">
							
							<%= group_member.fullname %>
							<%= "<i class='mi md-32 left'>question_mark</i><br><small class='note'>Unverified</small>".html_safe unless group_member.verified? %>
							<%= "<i class='mi md-32 left'>person</i><br><small class='note'>Verified</small>".html_safe if group_member.verified? %>
						</td>
						<td>
							<%= group_member.email %>
							<% unless group_member.verified? %>
								<br><small class="light">Verification e-mail sent 
													<%= time_ago_in_words group_member.validation_email_sent_at rescue "unknown" %> ago.
									<%= link_to "Send again", 
												{:action => 'update', :page => @page.ordering, :resend_group_member => group_member.id} %>
								</small>
							<% end -%>
						</td>
						<td><%= link_to "Remove", 
										{:action => 'update', :page => @page.ordering, :remove_group_member => group_member.id}, 
										:confirm => "Are you sure you want to remove this group member?" unless @user_application.submitted? %>
						</td>
					</tr>
					<% end %>
				</table>

				<% unless @user_application.submitted? %>
				   <br><%= link_to 'Add another', 'javascript:;', data: { link_toggle: "#new_group_member"}, class: 'btn small' %>
				   	<br><br>
					<div id="new_group_member" class="row z-depth-2 highlight_box" style="display:<%= @group_member.nil? && qf.object.group_members.empty? ? 'none' : 'block' %>">
						<%= render :partial => "apply/new_group_member", :locals => { question:question, :qf => qf } %>
					</div>
				<% end %>

			</div>
		</div>

</div>