<% 	script_str = "" %>
<li>
	<fieldset>
		<p><%= question.question %>
				<%= content_tag('em', '*', :class => 'required') if question.required? %>
				</p>
		
		<% question.options.each do |option| %>
			
			<% 			   			   
			    script_str += "$$('#associate_question_#{option.associate_question_id}').invoke('hide'); "
			    file_question = ApplicationFile.find_by_application_for_offering_id_and_offering_question_id(@user_application.id, option.associate_question_id)
				selected_option = ApplicationAnswer.find_by_application_for_offering_id_and_offering_question_id_and_answer(@user_application.id, question.id, option.title)
			
			    if (selected_option && file_question && !file_question.file.nil?) || selected_option
  		   		   script_str += "Element.show('associate_question_#{option.associate_question_id}'); "
		        end
 			   
				
			    click_toggle_script = ""
				associate_ids = question.options.collect(&:associate_question_id)
			    associate_ids -= [option.associate_question_id]
			    associate_ids.each do |hide_id|
				   click_toggle_script += "$$('#associate_question_#{hide_id}').invoke('hide'); "
			    end
		
			%>																			
			
			<label><%= qf.radio_button question.attribute_to_update, option.value,
			:onClick => "Element.show('associate_question_#{option.associate_question_id}'); #{click_toggle_script}" %>
			<%= option.title %></label>
			
		<% end %>
				
		<%= display_computed_caption(question.caption) if question.caption? %>
		
	</fieldset>
		
</li>
<% javascript_tag do %>
	document.observe('dom:loaded', function() { <%= script_str %> })
<% end %>