<% faculty = faculty || false %>

<div class="card">	
	<table class="responsive-table highlight attributes_table">
		<thead><tr><th colspan='2'>Contact Information</th></tr></thead>
		<tbody>
			<tr>
				<th>Contact name</th>
				<td><%= @research_opportunity.name %></td>
			</tr>
			<tr>
				<th>Department/Other Affiliation</th>
				<td><%= @research_opportunity.department %></td>
			</tr>
			<tr>
				<th>Contact email</th>
				<td><%= @research_opportunity.email %></td>
			</tr>
		</tbody>
	</table>
	
	<table class="responsive-table highlight attributes_table">
		<thead><tr><th colspan='2'>Research Information</th></tr></thead>
		<tbody>
			<tr>
				<th>Research/Project Name</th>
				<td><%= @research_opportunity.title %></td>
			</tr>
			<tr>
				<th>Project Description</th>
				<td><%= raw @research_opportunity.description %></td>
			</tr>
			<tr>
				<th>Student Learning Benefit</th>
				<td><%= raw @research_opportunity.learning_benefit %></td>
			</tr>
			<tr>
				<th>Minimum Requirements</th>
				<td><%= raw @research_opportunity.requirements %></td>
			</tr>
			<% if faculty %>
				<tr>
				<th>Deactivation date</th>
				<td><%= @research_opportunity.end_date %></td>
				</tr>
			<% end %>
			<tr>
				<th>Location</th>
				<td><%= @research_opportunity.location %></td>
			</tr>
			<tr>
				<th>Paid</th>
				<td><%= raw status_tag(@research_opportunity.paid?) %></td>
			</tr>
			<tr>
				<th>Work Study</th>
				<td><%= raw status_tag(@research_opportunity.work_study?) %></td>
			</tr>
		</tbody>
	</table>

	<table class="responsive-table highlight attributes_table">
		<thead><tr><th colspan='2'>Research Area</th></tr></thead>
		<tbody>
			<tr>
				<th>Research area 1</th>
				<td><%= @research_opportunity.area_name(@research_opportunity.research_area1) %></td>
			</tr>
			<tr>
				<th>Research area 2</th>
				<td><%= @research_opportunity.area_name(@research_opportunity.research_area2) %></td>
			</tr>
			<tr>
				<th>Research area 3</th>
				<td><%= @research_opportunity.area_name(@research_opportunity.research_area3) %></td>
			</tr>
			<tr>
				<th>Research area 4</th>
				<td><%= @research_opportunity.area_name(@research_opportunity.research_area4) %></td>
			</tr>
		</tbody>
	</table>
	
	<div class="actions">

	<% if !@research_opportunity.submitted? || @research_opportunity.active? %>
		<%= form_for @research_opportunity, :url => { :action => 'form' } do |f| %>
			<p><%= f.button class: 'btn waves-effect waves-light', type: :submit do %>
						Edit<i class="material-icons right">edit</i>
				<% end %></p>
		<% end %>
	<% end %>

	<% if !@research_opportunity.submitted? %>
		<%= form_for @research_opportunity, :url => { :action => 'submit' } do |f| %>
			<%= f.button class: 'btn waves-effect waves-light', type: :submit, data: { confirm: 'Are you sure?', disable_with: 'Submitting the opportunity...' } do %>Submit opportunity<i class="material-icons right">send</i>
				<% end %>
			<p class='smaller'><i class="material-icons middle_align">info_outline</i> This opportunity will be activated after URP staff approves it.</p>
		<% end %>

	<% end %>

	<% if @research_opportunity.active? %>
		<%= form_for @research_opportunity, :url => { :action => 'submit', :method => 'remove' } do |f| %>
			<%= f.button class: 'btn waves-effect waves-light', type: :submit do %>
							Deactivate opportunity<i class="material-icons right">delete_forever</i>
					<% end %>
		<% end %>
		<p class='smaller'><i class="material-icons middle_align">info_outline</i> This will deactivate the opportunity and notify URP staff.</p>

	<% end %>
	</div>

</div>