<% title "Faculty/Mentor Research Opportunity Form | University of Washington" %>

<div class="card content">
	<h5 class="uw_purple"><i class="material-icons top_align">assignment</i> UW Faculty/Mentor Research Opportunity Form</h5>
	<p class="gray smaller">Please see the instrudtion on the right sidebar. Any problems or questions about this research opportunities form should be sent to <%= auto_link(Unit.find_by_abbreviation('urp').email) %>.</p>
</div>

<div class="card content">
  
<%= form_for @research_opportunity, :url => { :action => 'form' } do |f| %>      
  
<%= render "shared/error_messages", :target => @research_opportunity %>

  <div class="row">
    
    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <%= f.text_field :name, id: "contact_name", class: "validate", required:"", 'aria-required': "true" %>
      <label for="contact_name">Contact Name<abbr title="required">*</abbr></label>
      
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix">email</i>
      <%= f.text_field :email, id: "contact_email", class: "validate", required:"", 'aria-required': "true" %>
      <label for="contact_email">Contact Email<abbr title="required">*</abbr></label>
    </div>

    <div class="input-field col s12">
    	<%= f.text_field :department, id: "department", class: "validate", required:"", 'aria-required': "true" %>
    	<label for="department">Department<abbr title="required">*</abbr></label>
    </div>
    <div class="input-field col s12">
    	<%= f.text_field :title, id: "title", class: "validate", required:"", 'aria-required': "true" %>
    	<label for="title">Research / Project Name<abbr title="required">*</abbr></label>
    </div>
    <div class="input-field col s12">
    	<%= f.text_area :description, id: "description", class: "materialize-textarea validate", required:"", 'aria-required': "true" %>
    	<label for="description">Description<abbr title="required">*</abbr></label>
      <span class="helper-text">Insert your research project description or indicate your willingness to develop a project with interested students in your field.</span>
    </div>
    <div class="input-field col s12">
      <%= f.text_area :learning_benefit, id: "learning_benefit", class: "materialize-textarea validate", required:"", 'aria-required': "true" %>
      <label for="learning_benefit">Student Learning Benefit<abbr title="required">*</abbr></label>
    </div>
    <div class="input-field col s12">
    	<%= f.text_area :requirements, id: "requirements", class: "materialize-textarea validate", required:"", 'aria-required': "true" %>
    	<label for="requirements">Minimum Requirements<abbr title="required">*</abbr></label>
    </div>
    <div class="input-field col s12">
    	<%= f.text_field :end_date, id: "end_date", class: "datepicker validate", required:"", 'aria-required': "true" %>
    	<label for="end_date">Auto-remove Date<abbr title="required">*</abbr></label>
      <span class="helper-text" data-error="Auto-remove date needs to be input or can't be in the past" data-success=""></span>
    </div>
    <div class="input-field col s12">      
      <%= f.select :location, options_for_select(['UW Seattle', 'UW Bothell', 'UW Tacoma', 'Off campus – South Lake Union', 'Off campus – Fred Hutch Cancer Research Center', 'Off campus – Seattle Children’s', 'Off campus – Other'], @research_opportunity.location), {include_blank: "Choose your location"}, required:"", class: 'material validate'  %>
      <label>Location<abbr title="required">*</abbr></label>       
    </div>
    <div class="input-field col s12">
      <p><label>Compensation (check all that apply)</label></p>
      <p>
        <label>
          <%= f.check_box :paid, class: 'filled-in' %>
          <span>Paid?</span>
        </label>
        <label style="margin-left:2rem">
          <%= f.check_box :work_study, class: 'filled-in' %>
          <span>Work study?</span>
        </label>

      </p>
    </div>    
    <div class="col s12">
			<label>Research Area 1 <abbr title="required">*</abbr></label>
    	<%= f.collection_select :research_area1, ResearchArea.order(:name), :id, :name , {include_blank: 'Choose your option'}, {class: 'chosen-select'} %>        
	  </div>
    <div class="col s12">
      <label>Research Area 2</label>
      <%= f.collection_select :research_area2, ResearchArea.order(:name), :id, :name , {include_blank: 'Choose your option'}, {class: 'chosen-select'} %>        
    </div>
    <div class="col s12">
      <label>Research Area 3</label>
      <%= f.collection_select :research_area3, ResearchArea.order(:name), :id, :name , {include_blank: 'Choose your option'}, {class: 'chosen-select'} %>        
    </div>
    <div class="col s12">
      <label>Research Area 4</label>
      <%= f.collection_select :research_area4, ResearchArea.order(:name), :id, :name , {include_blank: 'Choose your option'}, {class: 'chosen-select'} %>        
    </div>

  </div>
  <div class="actions"><%= submit_tag "#{@research_opportunity.submitted? ? 'Submit' : 'Next'}", :class => "btn" %></div>
      
<% end %>
</div>


<% sidebar :instruction %>

