<% id ||= @app %>

<div class="menu">
<%= link_to_function "<span class=\"icon-left pdf\">Download Review Packet</span>", 
					"toggle_menu('composite_report_maker')",
					:class => "handle" %>
					
	<div id="composite_report_maker" class="panel" style="display:none; padding:7px">
		<%= form_tag :action => 'composite_report', :id => id %>
			Please select which parts of the application you would like included in the PDF file:		
			<br><%= check_box_tag "include[scoring]", true %>
				<%= label_tag "include[scoring]", "Scoring Sheet" %>
			<br><%= check_box_tag "include[application_review]", true %>
				<%= label_tag "include[application_review]", "Application Details" %>
			<% unless @app.files.empty? %>
				<br><%= check_box_tag "include[files]", true %>
					<%= label_tag "include[files]", "Essay and Files" %>
			<% end -%>
			<% if @offering.uses_mentors? %>
				<br><%= check_box_tag "include[mentor_letters]", true %>
					<%= label_tag "include[mentor_letters]", "Mentor Letters" %>
			<% end -%>
			<br><%= check_box_tag "include[transcript]", true %>
				<%= label_tag "include[transcript]", "Transcript" %>
			<br>
			<%= submit_tag "Download", :disable_with => "Please wait..." %>
		</form>
	</div>

</div>