<div class="expandable_box" style="width:75%">
	<h3><%= link_to_function "Input Final Review Committee Decision", "Element.toggle('final_decision')" %></h3>
	
	<div class="expansion" id="final_decision" <%= "style=display:none" unless @app.reviewed? %>>
		<% form_for :application_for_offering, @app, :url => { :action => 'update', :id => @app } do |f| %>
			<p>You should only use this part of the form to input the final, collective decision by the Review Committee.
				Once you click "Submit this Decision" you will not be able to change it. However, you will always be able to add/edit
				the Committee Comments.</p>
				
			<h4>Final Decision:</h4>
				<ul style="list-style-type:none">
				<% if @app.reviewed? %>
					<li><%= @app.application_review_decision_type.title %></li>
				<% else %>
					<% @offering.application_review_decision_types.each do |t| %>
						<li><%= f.radio_button :application_review_decision_type_id, t.id %> <%= t.title %></li>
					<% end %>
				<% end %>
				</ul>
			
			<h4>Feedback</h4>			
				<p>Feedback Person:
					<% if @app.reviewed? %>
						<strong><%= @app.feedback_person.fullname rescue "(not set)" %></strong>
					<% else %>
						<%= f.collection_select :feedback_person_id, @app.reviewers, :id, :fullname %>
					<% end %></p>

				<p>Committee Comments:</p>
					<%= f.text_area :review_committee_notes, :rows => 10, :disabled => @viewing_past_app, :style => 'width:100%' %>
					
			<%= f.submit "Submit this Decision" unless @viewing_past_app %>
		<% end %>
	</div>
	
</div>