<%= fields_for 'application_reviewer[score_attributes][]', score do |score_form| %>

	<tr>
		<td>
			<span class="tooltip noborder"><i class="mi md-20 uw_dark_gold">help</i>
				<span class="tooltiptext"><%= textilize(score.offering_review_criterion.description) unless score.offering_review_criterion.description.blank? %></span>
			</span>
			<label><%= score.offering_review_criterion.title %></label>			
		</td>
		<td>
			<% if @application_reviewer.finalized? %>
				<%= score.score || 0 %> / <%= score.max_score %>
			<% else %>
				<%= score_form.text_field :score, size: 1, :style => 'width: 1.5em', :class => 'browser-default score' %> / <%= score.max_score %>
				<%#= observe_field "application_reviewer_score_#{score.id}_score", 
					:function => "if (value > #{score.max_score}) { 
									alert('You cannot give a score higher than #{score.max_score}. Your score has been changed to this maximum.'); 
									element.value = #{score.max_score};
								  }" %>
				
			<% end %>
			</td>
										
	</tr>
	<tr>
	<tr></tr>
		<td colspan=2>
			<%= score_form.text_area :comments, rows: 4, disabled:  @application_reviewer.finalized? unless @offering.review_criterions.size == 1 %></td>
	</tr>

<% end %>