<% mark_as_confidential @offering.confidentiality_note %>
<% @ready_for_finalization = false %>

<% title "Application Review", @offering.name %>

<div class="card content">
<h5>Welcome, <%= @review_committee_member.person.firstname %>.</h5>
<p>Here are the students for you to review. Please read and score each application, then click the "Submit my Reviews" button.</p>

<table class='reviewer'>
	<tr class='small'>
		<th width=30%>Student/Project</th>
		<% for review_criterion in @offering.review_criterions.sort %>
			<th width=60 class="center"><%= review_criterion.title %></th>
		<% end -%>
		<th width=60 class="center">Total</th>
		<th style="width: 10rem">&nbsp;</th>
	</tr>
	
	<% for app in @apps %>
	<% application_reviewer = @review_committee_member.application_reviewers.find_by_application_for_offering_id(app) %>
	<tr <%= "class=finalized" if application_reviewer.finalized? %>>
		<td class='student'><b><%= link_to app.fullname, action: 'show', id: app %></b>
			<br><font class="light"><%= app.project_title.html_safe %></font></td>
			
		<% if application_reviewer.started_scoring? %>

			<% for review_criterion in @offering.review_criterions.sort %>
				<td class="center">
					<%= application_reviewer.get_score(review_criterion) %>
				</td>
			<% end -%>
			<td class="center"><%= application_reviewer.total_score %></td>
			<td align=right>
				<% link_title = raw(application_reviewer.finalized? ? "See my Review &#x2192;" : "Change my Review &#x2192;") %>
				<%= link_to link_title, :action => 'show', :id => app %>
				</td>
		
				<% @ready_for_finalization = true unless application_reviewer.finalized? %>

		<% else %>
		
			<td colspan=<%= @offering.review_criterions.size + 1 %> class="empty" style="padding: 15px">Not yet reviewed.</td>
			<td align=right valign=middle><%= link_to "Review Now &#x2192;".html_safe, :action => 'show', :id => app %></td>
			
			<% @do_not_finalize = true %>
			
		<% end -%>
		
	</tr>
	<% end -%>	

	<tr class="rowset-header">
		<td colspan=<%= @offering.review_criterions.size + 3 %>></td>
	</tr>
	
	<tr class="highlightless">
		<td><b>Average Scores</b></td>

		<% for review_criterion in @offering.review_criterions.sort %>
			<td class="center">
				<%= '%.1f' % @review_committee_member.average_score(@offering, review_criterion) %>
			</td>
		<% end -%>
		<td class="center"><%= '%.1f' % @review_committee_member.average_score(@offering) %></td>
		<td></td>
	</tr>
	
</table>

<% if @ready_for_finalization && !@do_not_finalize %>
	<div class="highlight_box">
		<h5>Are you ready to submit your scores?</h5>
		<blockquote>If you are satisfied with your scores, press the button below to submit your scores as final. Once you click this button, you will not be able to change your scores or comments.</blockquote>		
		<%= button_to "Submit My Scores", { action: "finalize", commit: true }, class: 'btn' %>
	</div>
<% end %>

</div>

<% sidebar :help if @offering.reviewer_help_text %>
<% sidebar :multi_composite_report, :class => 'download' if !@offering.virtual_proceeding && (@ready_for_finalization || @do_not_finalize) %>
<% sidebar :input_committee_score if @offering.review_committee_submits_committee_score? %>