<% title "Application Review", "View Student" %>
<% subtitle link_to("Back to Student List", :action => "index") %>
<% mark_as_confidential @offering.confidentiality_note %>

<%= render :partial => "student_header" %>

<% 
	@user_application = @app 	# need to use the same instance variable so the partials work 
	@mentee_application = @app 	# need to use the same instance variable so the partials work 
	@full_view = true
%>

<% if params['view'] %>
	<% @mentee = @app.person %>
	
	<% 
	begin 
		concat render(:partial => "mentor/application_view/#{params['view']}", :locals => { :student => @app.person })
	rescue => e: concat "<span class='error'>#{e.message}</span>" 
	end %>				
	 %>
	
<% else %>
	<%= render :partial => "intro" %>
<% end %>

<%= render :partial => "page_list" %>
<%= render :partial => "comments" %>
<%= render :partial => "decision" %>

<%= render :partial => "interviewer/decision" if @viewing_past_app && @app.interview_decision_made? %>