<% title "Application Review", "View Student" %>
<% mark_as_confidential @offering.confidentiality_note %>
<% virtual_proceeding = @app.offering.virtual_proceeding %>

<div class="card content">
  <div class="row">
  	<div class="col s12">
			  <h4><%= @app.person.fullname %>
					<span class="caption smaller"><%= @app.person.student_no %></span>
					<span class="light"><%#= render :partial => "composite_report_maker" %></span><br>
					<strong style="font-size: 50%;"><%= @app.project_title %></strong>
				</h4>
			  <!-- </div> -->
			  <%= content_tag(:h5, @app.offering.title) if @viewing_past_app %>

			  <%= content_tag('div', "<strong>Special Note from Program Staff:</strong> " + @app.special_notes, :class => 'special-note') unless @app.special_notes.blank? %>

		  
       <ul class="tabs">
         <li class="tab col"><a href="#student_info">Student Info</a></li>
         <li class="tab col"><a class="active" href="#application_review">Application Details</a></li>
         <% if @offering.uses_mentors? %> 
         	<li class="tab col"><a href="#mentor_letter">Mentors</a></li>
         <% end %>
         <% unless @app.files.empty? %>
         	<li class="tab col"><a href="#essay">Essay & File</a></li>
         <% end %>
         <% unless virtual_proceeding %>
         	<li class="tab col"><a href="#transcript">Transcript</a></li>
         <% end %>                 
         <% unless virtual_proceeding %>
         	<li class="tab col"><a href="#past_applications">Past Applications</a></li>
         <% end %>
       </ul>
    

			<div id="student_info" class="col s12">
				<h5>Student Information</h5>
				<%= render "student_info" %>
			</div>
			<div id="application_review" class="col s12">
				<h5>Application Details</h5>
				<%= render "application_review", { pages: @app.pages.reject{|p|p.hide_in_reviewer_view?} } %>
		  </div>
		  <div id="essay" class="col s12">
				<h5>Essay & File</h5>
				<%= render "admin/applications/essay" %>
			</div>
			<div id="mentor_letter" class="col s12">
				<h5>Mentors</h5>
				<%= render "admin/applications/mentor_letter" %>
			</div>
			<div id="transcript" class="col s12">
				<h5>Transcript</h5>
				<%= render "admin/applications/transcript" %>
			</div>	
			<div id="past_applications" class="col s12">
				<h5>Past Applications</h5>
				<%= render "admin/applications/past_applications", {application: @app} %>
			</div>
		
			<!-- <noscript>
				<%#= render :partial => "admin/apply/section/application_review", :locals => { :audience => :reviewer } %>
			</noscript> -->	
		  </div>
	  </div>
</div>

<% sidebar :scoring, :class => 'fixed' if @application_reviewer %>
