<div class='panel'>
	<h3></h3>
	<div class='panel_contents'>
		<div class='content-block'>

		<h1>Session ID <%= params[:id] %></h1>

		<strong>Session History <span class="light">&raquo; Started at <%= @start_time.to_s(:long) %> (<%= time_ago_in_words(@start_time) %> ago)</span></strong>
		
		<table class='borderless'>
			<tr>
				<th>Method</th>
				<th>URL</th>
				<th>Requested_at</th>
				<th>Length</th>
			</tr>
				
			<% previous_time = nil %>
			<% @requests.each do |r| %>			
				<% if previous_time %>
					<td><%= distance_of_time_in_words(previous_time, r.created_at, include_seconds: true) %></td>
					</tr>
				<% end %>
				
			<tr>
				<td><strong><%= r.request_method.upcase rescue nil %></strong></td>
				<td><%= link_to truncate(r.request_uri, length: 80), r.request_uri %></td>
				<td><%= r.created_at.strftime("%I:%M:%S") %></td>
			<% previous_time = r.created_at %>
			<% end %>
			
				<td></td>
			</tr>
								
		</table>
		<br />
		<%= link_to "â† Back to User #{@user.login}", admin_user_path(@user) %>
		</div>
	</div>
</div>