<table class='borderless'>
	<tr>
		<td>Start time:</td>
		<td><%= f.datetime_select :start_time, { minute_step: 5, ampm: true } %></td>
	</tr>
	
	<tr>
		<td>Location:</td>
		<td><%= f.text_field :location, size: 60 %></td>
	</tr>

	<tr>
		<td>Special Notes:</td>
		<td><%= f.text_area :notes, :rows => 3, :cols => 50 %></td>
	</tr>

	
	<%= fields_for :offering_interview_fields do %>
	<tr>
		<td>Applicant:</td>
		<td><%= f.collection_select :applicant_id, @offering.applications_for_interview.sort{|x,y| x.person.fullname <=> y.person.fullname}, :id, :person_name, {prompt: true}, class: 'select2' %></td>
	</tr>
	
	<tr>
		<td>Interviewers:</td>
		<td>
			<table class="highlightless borderless">
			<% @offering.interviewers.sort { |x,y| x.person.lastname <=> y.person.lastname }.each_with_index do |i,n| %>
				<%= raw(cycle("<tr>", "", name: 'begin_row')) %>
					<td class="no padding">
					<%= check_box_tag "interviewers[]", i.id, i.interviewing_at?(@interview) %> <%= "#{i.person.fullname}" %></td>
				<%= raw(cycle("", "</tr>", name: 'end_row')) %>
			<% end %>
			</table>
			
			</td>
	</tr>
	<% end %>
</table>
