<% theme_attribute ||= "theme_response" %>

<tr>
	<td><%= link_to theme_responder.lastname_first, admin_offering_application_path(@offering, theme_responder.app) %>
		<br>
		<small><%= theme_responder.person.class_standing_description %>,
			<%= theme_responder.person.majors_list(true) %>
		</small>
	</td>
	<td>
		<%= textilize h theme_responder[theme_attribute] %>
		<p class="light caption">Give permission to publish? 
		<%= 
		    if theme_responder["theme_response3"]==1
				"Yes"  
			elsif theme_responder["theme_response3"]==0
				"<span class='red_color'>No</span>".html_safe
			else
				"Not input yet"
			end 
		%></p>
	</td>					
</tr>