<div class='panel'>	
  <div class='panel_contents'>
	<div class='content-block awardees'>
	  <h1><i class='mi uw_purple'>stars</i> Awardees for <%= @offering.quarter_offered.title rescue @offering.title %></h1>

	  <div class="tabs">
		  <ul class="nav nav-tabs">
		    <li class="active">
		    	<a href="#students_tab" data-toggle="tab">Students (<%= @awardees.size %>)</a>					
		    </li>
		    <li><a href="#mentors_tab" data-toggle="tab">Mentors</a></li>
		  </ul>

		  <div class="tab-content">
  	  	<div id="students_tab" class="tab-pane active">
  	  			<h2>Students (<%= @awardees.size %>)
							<span class="right small"><%= link_to "<i class='mi'>file_download</i>Download in Excel".html_safe, {format: 'xlsx'}, :class => 'button small flat' %></span>
						</h2>
						<table class="borderless">
							<tr class="table-header uw_light_bg_gold">
								<th>Student #</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Majors</th>
								<th>Address</th>
								<th>Award List</th>
							</tr>
							<% @awardees.each do |a| %>
							  <tr>
								<td><%= link_to a.person.student_no, admin_offering_application_path(@offering, a), target: '_blank' %></td>
								<td><%= a.person.firstname %></td>
								<td><%= a.person.lastname %></td>
								<td><%= a.person.sdb.majors_list rescue a.person.majors_list %></td>
								<td><%= raw(eval("a.person.sdb.address.full_#{a.local_or_permanent_address}_address")) rescue nil %></td>
								<td><%= raw(a.award_list("<br>")) %></td>
							  </tr>
							<% end %>
						</table>
  	  	</div>

  	  	<div id="mentors_tab" class="tab-pane">
  	  		<h2>Mentors
						<span class="right small"><%= link_to "<i class='mi'>file_download</i>Download in Excel".html_safe, admin_apply_awardees_mentors_path(format: 'xlsx'), class: 'button small flat' %></span>
					</h2>

					<table class="borderless">
						<tr class="table-header uw_light_bg_gold">				
							<th>First Name</th>
							<th>Last Name</th>
							<th>Address</th>
							<th>Mentee First Name</th>
							<th>Mentee Last Name</th>
						</tr>
						<% @awardees.each do |a| %>
							<% a.mentors.each do |m| %>
								<tr>
								<td><%= m.firstname %></td>
								<td><%= m.lastname %></td>
								<td><%= raw(address_block(m.person)) unless m.person.nil? %></td>
								<td><%= a.person.firstname %></td>
								<td><%= a.person.lastname %></td>
								</tr>
							<% end %>
						<% end %>
					</table>
  	  	</div>

  	  </div>		
		</div>		
	</div>
  </div>	
</div>