<div class='panel'>
	<div class='panel_contents'>
		<div class='content-block apply'>
			<h1><%= @offering.title %></h1>
			<table class="admin_phases highlightless">
			  <tr class='phases'>
				<% first = true %>
				<% for phase in @offering.admin_phases.sort %>

					<% id=""; klass="" %>
					<% id = "viewing" if @phase == phase %>
					<% klass = "current" if phase == @offering.current_offering_admin_phase %> 
					<% klass += " first" if first %> <% first=false %>

					<td id="<%= id %>" class="<%= klass %>">
						
						<%= link_to raw("<div class='sequence'>#{phase.sequence}</div>
							 <div class='name'>#{phase.name}</div>"), admin_apply_manage_path(@offering) %>
					</td>
				<% end %>
			  </tr>
			</table>
		</div>
	</div>
</div>

<div class='panel'>
	<div class='panel_contents'>
		<div class='content-block'>
			<ul class="welcome-links">
				<li>
					<i class='material-icons md-36'>assignment_turned_in</i>
					<b >Current Phase: <%= @phase.name rescue nil %></b>
					<div>Complete tasks for this phase or move on to another.</div>
				</li>

				<li>
					<i class='material-icons md-36'>description</i>
					
					<%= link_to "All Applications", admin_offering_applications_path(@offering) %>
					<div>There are currently <b><%= pluralize @offering.valid_status_applications.size, "application" %></b> in the system.</div>
					
				</li>
				<% unless @offering.application_for_offerings.awarded.empty? %>
				<li>
						<i class='material-icons md-36'>stars</i>
						<%= link_to "Awardees", admin_apply_awardees_path(@offering) %>
					<div><strong><%= pluralize @offering.application_for_offerings.awarded.size, "applicant" %></strong> have been awarded.</div>
				</li>
				<% end %>
				<li>
					<i class='material-icons md-36'>find_in_page</i>
					Data Query
					<div></div>
				</li>
				<li>
					<i class='material-icons md-36'>settings</i>
					<%= link_to "Edit Offering Details", admin_offering_path(@offering) %>
					<div>Change application questions, phases, tasks, and more.</div>

				</li>
			</ul>
		</div>	
	</div>	
</div>