<div class='panel'>
 <div class='panel_contents'>
  <div class='content-block apply'>
  	<h4><%= @offering.title %></h4>
		<%= render partial: "phase_timeline" %>
  </div>
 </div> 
</div>

<div class='panel'>
	<div class='panel_contents'>
		<div class='content-block'>
			<br><strong><%= @phase.name %> Phase</strong>
				<span class="right">
					<%= link_to "<i class='mi md-16'>edit</i> Edit this phase".html_safe, edit_admin_offering_phase_path(@offering, @phase), class: 'button small flat', target: '_blank' %>
					<% unless @phase.notes.blank? %>
						<%= link_to "<i class='mi md-16'>sticky_note_2</i> Notes".html_safe, 'javascript:;', data: {link_toggle: '#phase_notes' }, class: 'button small flat' %>
					<% end %>
				</span>
			

			<% unless @phase.notes.blank? %>
				<div id="phase_notes" class="highlight_box">
					<h4><i class='mi uw_purple'>sticky_note_2</i> <b>Phase Notes</b></h4>
					<%= textilize encode_utf(@phase.notes) %>
				</div>
			<% end %>
			<br>
			<h4><i class='mi'>forward</i> Start your tasks: </h4>
			<ul class="link-list">
				<% @phase.tasks.each do |task| %>
				<% label = task.complete? ? "<i class='mi'>check_circle</i>" : "<i class='mi'>turned_in_not</i>" %>
					<li><%= link_to "#{label} #{task.title}".html_safe, admin_apply_phase_task_path(@offering, @phase, task) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
