<div>
	<%= link_to_function "Privacy Settings", "Effect.toggle('note_privacy_options', 'blind', {duration: 0.25})", :class => "privacy_note" %>

	<div id="note_privacy_options" style="display:none">

		<%= f.radio_button :access_level, '' %> 
		<%= f.label :access_level_, "Everyone" %>

		<% unless @current_user.units.empty? %>
		<br><%= f.radio_button :access_level, 'unit' %> 
			<%= f.label :access_level_unit, "#{@current_user.units.collect(&:name).join(" and ")} Staff" %>
		<% end -%>

		<br><%= f.radio_button :access_level, 'creator' %>
			<%= f.label :access_level_creator, "Just Me" %>
		
	</div>
</div>