<% mark_as_confidential @offering.confidentiality_note %>
<% @ready_for_finalization = false %>

<% title "Application Interview", @offering.name %>

<div class="card content">

<h5>Welcome, <%= @offering_interviewer.firstname %>.</h5>
<p>Here are the students for you to review. Please read and score each application, then click the "Submit my Reviews" button.</p>

<table class="reviewer">
	<tr class="small">
		<th width=30%>Student/Project</th>
		<% for review_criterion in @offering.review_criterions.sort %>
			<th width=60 class="center"><%= review_criterion.title %></th>
		<% end -%>
		<th width=60 class="center">Total</th>
		<th style="width: 20em">&nbsp;</th>
	</tr>
	
	<% for interview in @interviews %>
	<% app = interview.applicant %>
	<% offering_interview_interviewer = @offering_interviewer.offering_interview_interviewers.find_by_offering_interview_id(interview) %>

	<tr class="rowset-header">
		<td><%= interview.start_time_pretty %>
			<br>
			<span class="light"><%= interview.location %> <%= "(#{interview.notes})" unless interview.notes.blank? %></span></td>
		<td colspan=10><%= interview.interviewers.where("committee_score is null or committee_score = 0").collect {|i| i.offering_interviewer.person.fullname }.join(', ') %></td>
	</tr>

	<tr <%= "class='finalized'" if offering_interview_interviewer.finalized? %>>
		<td><b><%= raw(app.fullname) rescue "<span class=\"warning\">Unknown: Couldn't find any applicants</span>".html_safe %></b>
			<br><font class="light"><%= app.project_title.try(:html_safe) rescue "Unknown" %></font></td>
			
		<% if offering_interview_interviewer.started_scoring? %>		

			<% for review_criterion in @offering.review_criterions.sort %>
				<td class="center">
					<%= offering_interview_interviewer.get_score(review_criterion) %>
				</td>
			<% end -%>
			<td class="center"><%= offering_interview_interviewer.total_score %></td>
			<td align=right>
				<% link_title = raw(offering_interview_interviewer.finalized? ? "See my Review &#x2192;" : "Change my Review &#x2192;") %>
				<%= link_to link_title, :action => 'show', :id => offering_interview_interviewer %>
				</td>
		
				<% @ready_for_finalization = true unless offering_interview_interviewer.finalized? %>

		<% else %>
		
			<td colspan=<%= @offering.review_criterions.size + 1 %> class="empty" style="padding: 15px">Not yet reviewed.</td>
			<td align=right valign=middle><%= link_to "Review Now &#x2192;".html_safe, :action => 'show', :id => offering_interview_interviewer %></td>
			
			<% @do_not_finalize = true %>
			
		<% end -%>
		
	</tr>
	<% end -%>	

	<tr class="rowset-header">
		<td colspan=<%= @offering.review_criterions.size + 3 %>></td>
	</tr>
	
	<tr class="highlightless">
		<td><b>Average Scores</b></td>

		<% for review_criterion in @offering.review_criterions.sort %>
			<td class="center">
				<%= '%.1f' % @offering_interviewer.average_score(@offering, review_criterion) %>
			</td>
		<% end -%>
		<td class="center"><%= '%.1f' % @offering_interviewer.average_score(@offering) %></td>
		<td></td>
	</tr>
	
</table>

<% if @ready_for_finalization && !@do_not_finalize %>
	<div class="yellow box center">
		<h5>Are you ready to submit your scores?</h5>
		<blockquote>If you are satisfied with your scores, press the button below to submit your scores as final. Once you click this button, you will not be able to change your scores or comments.</blockquote>
		<%= button_to "Submit My Scores", :action => 'finalize', :commit => 'true' %>
	</div>
<% end -%>

</div>

<% sidebar :help, :class => 'help' if @offering.interviewer_help_text %>
<% sidebar :multi_composite_report, :class => 'download' if @ready_for_finalization || @do_not_finalize %>
<% sidebar :input_committee_score if @offering.interview_committee_submits_committee_score? %>