<% title "Interviewer Access", "View Student" %>
<% subtitle link_to("Back to Student List", :action => "index") %>
<% mark_as_confidential @offering.confidentiality_note %>

<table style="width:75%" class="highlightless">
	<%= render :partial => "interview", :object => @offering_interview_interviewer.offering_interview %>
</table><br>


<% 
	@user_application = @app 	# need to use the same instance variable so the partials work 
	@mentee_application = @app 	# need to use the same instance variable so the partials work 
	@full_view = true
%>

<% if params['view'] %>
	<% 
		@user_application = @app 	# need to use the same instance variable so the partials work 
		@full_view = true			# with full_view on, we get to see extra things that mentors and others can't see
	%>

	<table class="application_review not_centered highlightless">
		<%= render 	:partial => "/apply/page_review", 
					:collection => @app.pages, 
					:locals => { :links => :false } %>

		<tr>
			<td colspan=2>
				Project Proposal Summary
				<br><font class="smaller grey"><%= @app.person.firstname %> submitted this summary after <%= @app.person.he_she %> was
					invited to interview with the committee.</font>
				<ul>
				<li><%= simple_format @app.project_summary %></li>
				</ul>
			</td>
		</tr>


		<%- if @app.reviewed? -%>
		<tr>
			<td colspan=2>
				Review Committee Decision
				<ul>
				<li><strong>Review Committee Decision:</strong> <%=h @app.review_committee_decision %></li>
				<li><strong>Feedback Person:</strong> <%=h @app.feedback_person.fullname %></li>
				<li><strong>Comments:</strong> <%= simple_format @app.review_committee_notes %></li>
				</ul>
			</td>
		</tr>
		<%- end -%>




	</table>

<% else %>
	<%= render :partial => "reviewer/intro" %>
<% end %>

<%= render :partial => "page_list" %>
<%= render :partial => "comments" %>
<%= render :partial => "decision" %>