<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "EXPD-Online" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
	<%= content_tag(:div,  content_tag(:span, "#{Rails.env}"), :class => 'rails_env', :id => Rails.env) if Rails.env != 'production' %>
	<%= render 'shared/navigation' %>
	
   <nav>
     <div class="nav-wrapper">
       <div class="col s12">
        	<%= render_breadcrumbs %>
       </div>
     </div>
   </nav>
	
   
   <% flash.each do |name, message| %>
	 <%= content_tag :div, message, :class => "alert #{name}" %>
   <% end %>
	
	<div id="content" class="row">
		<% unless @alternate_stylesheet.blank? %>
				<div id="apply_header" class="<%= @alternate_stylesheet %>"> <span class="<%= controller.controller_path.gsub("/", " ") %> header_title <%= @alternate_stylesheet %>"></span></div>
		<% end %>
		<% if yield(:sidebar).blank? %>
			<div id="main" class="col s12">
		    	<%= yield %>
			</div>
		<% else %>			
			<div id="main" class="col s12 m9">
		    	<%= yield %>
			</div>
			
			<div id="sidebar" class="col s12 m3">
				<%= yield :sidebar %>
			</div>
		<% end %>
	</div>
	<div class="row" id="footer-wrap">
		<div id="footer">
			<p id="copyright">
				Copyright &copy; 2007&ndash;<%= Time.now.year %> <a href="http://www.washington.edu">University of Washington</a>.
				Managed by the <a href="http://expd.uw.edu">Center for Experiential Learning &amp; Diversity</a>, a unit of 
				<a href="http://www.washington.edu/uaa/">Undergraduate Academic Affairs</a>.
				<% if logged_in? %>
					Any problems or questions should be sent to <%= auto_link(Rails.configuration.constants['system_help_email']) %>.
				<% end %>
			</p>
			<%= render :partial => "shared/disability_statement" %>
		</div>
	</div>	
		
  </body>
</html>
