
<h5><i class="mi md-32" style="vertical-align: text-bottom;">filter_list</i> <strong>Find Mentors</strong></h5>

<%= form_tag url_for(:action => 'result'), id: 'proceedings_find_mentors', method: :get do %>

<span class="error-message" id="find_menter_error"></span>

	<p>Search by mentor name or select a department to see all students with mentors in that department.</p>
	
	<%= label_tag :mentor_name, "Mentor Name" %>
	<%= text_field_tag :mentor_name, params[:mentor_name], :placeholder => 'Firstname Lastname' %>
	<br><br>
	<%= label_tag :mentor_department, "Mentor Department" %>
	<%= select_tag :mentor_department,
							options_for_select( @departments.map{|k,v| ["#{k} (#{v.size})", k]}.sort,
							 					params[:mentor_department]), multiple: true, class: 'select2', data: {placeholder: "Departments (#{@departments.size rescue 'Unknown'})"}, style: 'width: 100%' %>
	

	<br><br>												
	<%= submit_tag 'Search', :class => 'btn' %>
	<%= link_to "CLEAR FILTERS", apply_proceedings_path, :class => 'clear_filter' %>
<% end -%>

<script>
  $(document).ready(function () {
    $('#proceedings_find_mentors').on('submit', function (e) {
      let hasInput = false;

      // Check text field
      const mentorName = $.trim($('#mentor_name').val());
      if (mentorName.length > 0) hasInput = true;

      // Check multi-select
      const mentorDepartment = $('#mentor_department').val();
      if (mentorDepartment && mentorDepartment.length > 0) hasInput = true;

      if (!hasInput) {
        e.preventDefault();
        $('#find_menter_error')
          .text('Please enter a mentor name or select at least one department.')      
      } else {
        $('#find_menter_error').text('');
      }
    });
  });
</script>
